doctype html
html(lang='ru')
  include ../_components/mixins
  include ../templates/head


  body.body
    include ../_components/header
    //include ../_components/footer-menu
    //include ../_components/menu-mob

    .header-fade
    .wrapper
      block content

    include ../_components/footer
    







    include ../templates/scripts.pug
      
