@import 'mixins';


@import 'global-fonts';


$color-white: #FFFFFF;
$color-black: #000000;
$color-blackUltra: #2D343A;
$color-gray: #828282;
$color-grayLight:#F5F5F5;
$color-red: #AC1511;
$color-blue: #00245D;




$RalewayBold:'Raleway-Bold';
$RalewaySemiBold:'Raleway-SemiBold';
$RalewayMedium:'Raleway-Medium';
$RalewayRegular:'Raleway-Regular';
$MontserratMedium:"Montserrat-Medium";
$MontserratSemiBold:"Montserrat-SemiBold";




@function rem($px) {
  @return $px / 16px + 0rem;
}



@function size-w($size, $vw) {
  @return (100 / ($vw / $size)) * 1vw;
}




*{
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body {
  font-family: $RalewayMedium, Arial, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  color: #212833;
  overflow-x: hidden;
  font-size: rem(16px);
  text-rendering: auto;
  line-height: normal;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  outline: none !important;
}





h1, h2, h3, h4,
.h1, .h2, .h3, .h4{
  margin: 0;
  padding: 0;
}


ul, li{
  padding: 0;
  margin: 0;
  list-style: none;
}

p{
  margin: 0;
}


button, a, input{
  outline: none;
  &:focus, &:visited{
    text-decoration: none;
    outline: none;
  }
}

a{
  &:hover{
    text-decoration: none;
    color: inherit;
  }
}

label{
  margin: 0;
}
body,html{
  width: 100vw;
  max-width: 100vw;
}

.price{
  white-space: nowrap;
}
