@media (min-width: 320px) and (max-width: 1200px) {



}

@media screen and (max-width: 1400px) {
  html {
    font-size: 13px;
  }
  .slider__wrap_top{
    padding-left: 50px;
  }
}


@media screen and (max-width: 1300px) {
  html {
    font-size: 12px;
  }
 
  .partners__item {
    margin-right: 0px;
  }


}

@media screen and (max-width: 1200px) {
  .slider__wrap_top{
    padding-left: 0px;
  }
}

@media screen and (max-width: 1140px) {
  html {
    //font-size: 13px;
  }
  .menu-header__item {
    margin-right: 20px;
  }
  .menu-buttons__item {
    margin-right: 24px;
  }
  .p {
    font-size: 20px;
  }
}


@media screen and (max-width: 991px) {
  html {
    font-size: 16px;
  }
  .container {
    //max-width: 100%;
  }
  .humb {
    width: 40px;
    height: 40px;
  }
  .humb-img {
    @include background-contain('humb.svg')
    width: 14px;
    height: 10px;
  }
  .img-logo {
    width: 75px;
    height: 45px;
    margin-left: -8px;
  }
  .header {
    height: 60px;
  }
  /*  mob-menu */


  body {
    .menu-mob-wrap {
      left: -10000px;
      top: 0px;
      width: 75%;
      display: block;
      transition: 1s;
    }

  }

  body.active {
    .menu-mob-wrap {
      left: 0;
      transition: 1s;
    }

    .humb-img {
      background-image: url('../img/close-black.svg');
    }
  }

  .menu-mob-wrap {
    display: block;
    position: fixed;
    top: 0;
    z-index: 999999;
    height: 100vh;
    background: linear-gradient(180deg, rgba(247, 249, 251, 1) 0%, rgba(247, 249, 251, 1) 100%);
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.65), 5px 5px 12px rgba(166, 180, 200, 0.45);
    border-radius: 0px 8px 8px 0px;
  }


  .menu-mob {
    position: relative;
    width: 100%;
    overflow-y: auto;
    overflow-x: visible;
    max-height: 100vh;
    padding: 20px 20px 50px;

  }
  .menu-mob__top {
    text-align: center;
    margin-bottom: 40px;
  }

  .phone-big {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 21px;
  }

  .catalog-mob__block {
    margin-bottom: 20px;

    .catalog__block-title {
      font-family: $GilroyRegular;
      padding-left: 0;
      padding-right: 0;
      display: flex;
      margin-bottom: 0;
    }

    .catalog-icon:after {
      @include width-flex(12px)
      height: 12px;
      margin-left: 7px;
    }

    .more-link {
      padding-right: 0;
      font-size: 12px;
    }
  }
  .menu-mob--link {
    font-size: 24px;
    color: #204368;
    margin-bottom: 24px;
    display: block;
  }

  .catalog-mob--link {
    padding: 14px 0;
    font-size: 14px;
    display: block;
    color: #6B788B;

  }

  .catalog-mob__block-list {
    padding-left: 15px;
    padding-top: 12px;
  }
  .footer-mob__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    padding: 7px 0;
    background: #F7F9FB;
    box-shadow: 0px 1px 4px rgba(9, 47, 87, 0.12);
  }

  .menu-buttons__list {
    justify-content: space-between;
  }

  .title-1 {
    font-size: 30px;
    line-height: 36px;
  }
  .slider__title {
    font-size: 36px;
  }
  .main {
    padding-top: 52px;
    padding-bottom: 82px;
  }

  .main.main-page {
    padding-top: 98px;
  }

  .slider-top,
  .slider-top__item {
    height: size-w(300px, 320px);
  }
  .img-slide {
    left: 50%;
    width: size-w(300px, 320px);
    height: size-w(300px, 320px);
    margin-left: size-w(-140px, 320px);
    margin-top: 16px;
  }

  .slider-top__item {
    align-items: flex-start;
  }
  .slider__text {
    font-size: 14px;
    line-height: 21px;
    padding-right: 35px;
  }
  .slider-top__item-left {
    max-width: 70%;
  }
  .slick-dots li button {
    width: 20px;
    height: 20px;
  }

  .slick-dots li {
    margin: 0 14px;
  }
  .slick-dots {
    bottom: -31px;
    left: 0;
  }

  .slider__wrap_top {
    margin-bottom: 140px;
  }

  .title-before-big:before {
    left: -45px;
    top: -63px;
    @include width-flex(180px)
    height: 180px;
  }
  .p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 9px;
  }
  .button_big {
    border-radius: 25px;
    font-size: 17px;
    padding: 10px 34px;
    height: 49px;
  }
  .section {
    margin-bottom: 109px;
  }
  .orientation__item-img {
    @include width-flex(110px)
    height: 110px;
    padding: 25px;
    margin-bottom: 7px;
  }

  .orientation__items {
    margin-left: -10px;
    margin-right: -10px;
  }
  .orientation__item {
    margin-bottom: 30px;
    @include width-flex(33.3%)
  }
  .orientation-name {
    font-size: 14px;
  }

  .advant__block {
    padding-left: 41px;
    margin-right: 0px;
    padding-right: 28px;
    margin-bottom: 31px;
  }
  .advant__title {
    font-size: 14px;
    margin-bottom: 19px;
  }

  .advant__list-item:before {
    @include width-flex(26px)
    left: -43px;

  }
  .advant__list_plus {
    .advant__list-item {
      &:before {
        height: 26px;
      }
    }
  }

  .advant__list_check {
    .advant__list-item {
      &:before {
        height: 17px;
      }
    }
  }
  .partners__item {
    margin-right: 0;
    padding: 0 70px;
    margin-bottom: 0;

    img {
      margin: 0 auto;
    }
  }
  .partners-slider,
  .partners__item {
    height: 100px;
  }

  .partners__item-img-wrap {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .partners__wrap {
    .container-arrows {
      top: 50%;
    }
  }
  .button__dotted_big {
    @include width-flex(35px)
    height: 35px;

    &:before {
      @include width-flex(17px)
      height: 17px;
    }
  }
  .news__item-title {
    font-size: 15px;
    line-height: 25px;
    padding-right: 70px;
    width: 100%;
  }

  .news__item-wrap {
    margin-right: 0;

  }

  .news__item-text {
    padding-right: 0;
    width: 100%;

  }
  .footer {
    .img-logo {
      width: 120px;
      height: auto;
    }

  }
  .footer__text,
  .menu__bottom-link,
  .course-item {
    font-family: $GilroyRegular;
    font-size: 14px;
  }
  .footer-title {
    font-size: 20px;
  }
  .tabs__white-item {
    margin-right: 0px;
    font-size: 14px;

  }
  .tabs__white-wrap {
    margin-top: -10px;
  }

  .title-4 {
    font-size: 15px;
  }
  .search-result--desc {
    font-size: 14px;
  }

  .title__wrap-big {
    margin-bottom: 71px;
    margin-top: 85px;
  }
  .catalog__block-title {
    font-size: 18px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .catalog-icon:after {
    @include width-flex(14px)
    height: 14px;
  }
  .catalog__block-link {
    font-size: 14px;
    padding: 8px 15px;
  }
  .more-link {
    padding-left: 15px;
    font-size: 12px;
  }
  .catalog__block {
    margin-bottom: 25px;
  }

  .catalog__block-inner {
    display: none;
  }
  .title-2 {
    font-size: 24px;
    line-height: 28px;
  }
  .title-3 {
    font-size: 24px;
    line-height: 28px;
  }

  .title__wrap {
    margin-bottom: 38px;
  }
  .text__wrap {
    margin-bottom: 40px;
  }

  .service__accord-title {
    font-size: 18px;
  }

  .text-middle {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.2px;
  }
  .form__wrap_application {
    margin-left: -15px;
    margin-right: -15px;
    padding: 20px 15px;
  }

  .note {
    font-size: 12px;
    margin-top: 0;
  }

  .form__title-wrap {

    margin-bottom: 40px;
  }
  .login-checkbox__text {
    font-size: 14px;
    line-height: 21px;
  }
  .menu__left-link {
    display: inline-block;
    font-size: 14px;
  }
  .menu__left-list {
    display: flex;
    flex-wrap: wrap;
  }
  .menu__left-item.active .menu__left-link {
    color: #204368;
  }
  .metod__title {
    font-size: 15px;
    line-height: 25px;
  }
  .metod__img-wrap {
    margin-bottom: 23px;
  }

  .metod__text {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 15px;
  }
  .metod__block {
    margin-bottom: 50px;
  }
  .metod__block-wrap .button-white {
    margin-right: 30px;
  }
  .button-white {
    .button-text {
      display: none;
    }
  }
  .button-white-icon {
    @include width-flex(40px)
    height: 40px;
    padding: 0;
    border-radius: 50%;

    &:before {
      margin-right: 0;
    }
  }

  .subtitle {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    font-family: $GilroyRegular;
    margin-bottom: 51px;
  }

  .about__img-text {
    margin-left: 0;
    font-size: 12px;
  }
  .about__info-block {
    margin-top: 50px;
  }
  .about__info-item:before {
    @include width-flex(3px)
    height: 3px;
  }
  .about__info-title {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
  }
  .about__info-item {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.2px;
  }
  .contacts-page {
    .tabs__wrap {
      margin-bottom: 0;
    }
  }

  .tabs__wrap {
    flex-wrap: wrap;
  }
  .day {
    margin-top: 0;
  }
  .news__list-wrap {
    .news__item-title__wrap {
      margin-bottom: 30px;
    }
  }
  .day:before {
    left: calc(50% - 60px);
    top: calc(50% - 60px);
    @include width-flex(120px)
    height: 120px;
  }
  .news__block-title {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.2px;
  }
  .news__block-text {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.2px;
  }

  .tabs__wrap {
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
  }

  .article__info-text {
    font-size: 14px;
  }


  .article__quote-wrap {
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.65), 3px 3px 5px rgba(166, 180, 200, 0.35);
    background-position: 90% 15px;
    background-size: 45px 49px;
    padding: 89px 25px 25px;
    margin-bottom: 44px;

  }
  .article__quote-text {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.2px;
  }

  .slider-product-img-wrap {
    margin-bottom: 3px;
    padding: 9px;
    height: 164px;
    width: 150px;
  }

  .slider-product__item-inner {
    padding: 0 9px;
  }

  .container-arrows {
    top: 30%;
  }
  .slider-product__item-text {
    font-size: 12px;
    padding-left: 9px;
  }
  .tabs__item {
    width: 46%;
  }


  .map {
    margin-top: -60px;
    height: 307px;
    width: 100%;
  }
  .form__wrap {
    box-shadow: none;
  }

  .section-contacts {
    margin-top: -20px;

    .form__wrap {
      box-shadow: none;
      background: rgba(247, 249, 251, 1);

    }

  }

  .form__block {
    padding: 20px 20px 35px 20px;
    margin-bottom: 20px;
    border-bottom: none;
  }
  .contact-info__title {
    font-size: 14px;
  }

  .form__block_callback {
    padding-left: 0;
    padding-right: 0;
  }

  .form__block_contacts {
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.65), 3px 3px 5px rgba(166, 180, 200, 0.35);
    border-radius: 8px;
  }

  .product__item .product__img-wrap {
    padding: 9px;
    height: size-w(311px, 320px);
  }
  .button__middle-wrap .button-mini-text {
    font-size: 14px;
  }

  .button__middle-wrap .button__mini {
    @include width-flex(26px)
    height: 26px;
  }


  .button__middle-wrap .like__mini:before, .button__middle-wrap .share__mini:before {
    width: 12px;
    min-width: 12px;
    height: 12px;
  }
  .product__item-desc-top {
    margin-bottom: 15px;
  }
  .product__add-wrap {
    flex-wrap: wrap;
  }

  .product__price-block {
    margin-right: 0px;
    width: 100%;
  }
  .product__price {
    font-size: 34px;
    margin-bottom: 20px;
  }

  .product__add-wrap .count {
    height: 34px;
    @include width-flex(88px)
  }

  .product__add-wrap .count__wrap {
    margin-right: 20px;
  }
  .product__add-wrap .input-count {
    font-size: 12px;
  }
  .product__add-wrap .count-minus, .product__add-wrap .count-plus {
    font-size: 20px;
  }
  .product__add-wrap {
    margin-bottom: 80px;
  }
  .product__desc-text {
    line-height: 21px;
    letter-spacing: 0.2px;
    font-size: 14px;
  }

  .properties__row {
    flex-direction: column;
  }

  .properties__left,
  .properties__right {
    @include width-flex(100%)
    padding: 10px 20px;
  }
  .property__title {
    font-size: 16px;
  }
  .property__value {
    font-size: 14px;
    line-height: 21px;
  }

  .cart__item {
    padding: 30px 15px;
    margin: 0 -15px 0px;
    border-bottom: 1px solid rgba(77, 86, 111, 0.1);;
  }

  .cart__item-top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .td-text-cart {
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #204368;

  }

  .cart__item-desc {
    margin-bottom: 15px;

    .td-text {
      font-size: 12px;
    }
  }
  .cart__item-bottom {
    display: flex;
    align-items: center;

  }

  .cart__info-text {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.2px;
    margin-bottom: 18px;
    margin-top: 20px;
  }
  .cart__sum-wrap {
    flex-direction: column;
  }
  .cart__sum {
    margin-right: 0;
    font-size: 24px;
    font-family: $GilroySemibold;
  }

  .td-text.td-text-cart {
    display: block;
  }

  .span-br_mob {
    display: block;
  }

  .order-top {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 45px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(77, 86, 111, 0.1);;
  }
  .buttons-wrap_account .tabs__white-item,
  .tabs__white-item {
    padding: 5px 17px;
  }
  .select-sort .jq-selectbox__dropdown {
    min-width: 150px;
  }

  .jq-selectbox__trigger-arrow {
    background-image: url('../img/deploy-blue-img.svg');
  }
  .select-sort .jq-selectbox__select-text {
    color: #60D3DC;
  }

  .orders__wrap {
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
    box-shadow: none;

  }

  .orders__item-info__wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .orders__item-info__block {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .product__block_favourites {
    .product__wrap {
      flex-direction: column;
      margin-bottom: 0;
    }

    .favourites-top {
      display: flex;
      margin-bottom: 25px;
      width: 100%;
      justify-content: flex-start;
      align-items: center;

      .button__mini {
        width: 40px;
        min-width: 40px;
        height: 40px;
        margin-right: 0px;
      }

      .like__mini:before,
      .share__mini:before,
      .more__mini:before {
        @include width-flex(18px)
        height: 29px;
      }

    }

    .product__info-title {
      font-size: 15px;
      line-height: 25px;
    }
  }
  .favourites-desc__row {
    display: flex;
    align-items: center;
  }
  .favourites__block-desc {
    .favourites-desc__row {
      margin-bottom: 20px;
    }
  }
  .favourites-desc__key {
    font-size: 12px;
    font-family: $GilroyBold;
    color: #4D566F;
    @include width-flex(85px)
  }

  .favourites-desc__value {
    font-size: 14px;
    color: #4D566F;
  }

  .favourites__block {
    border-bottom: 1px solid rgba(77, 86, 111, 0.1);;
    padding: 15px;

  }
  .favourites__blocks {
    background: #F7F9FB;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.65), 3px 3px 5px rgba(166, 180, 200, 0.35);
    border-radius: 8px;
    margin-bottom: 25px;
  }
  .favourites__block-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .favourites__block-bottom_left {
    display: flex;
    align-items: center;

  }

  .input__block.input__block-setting {
    padding: 15px;
  }
  .user-data__form {
    .input__block-wrap {
      margin-left: -15px;
      margin-right: -15px;
      box-shadow: none;

    }
  }

  .button-circle.active {
    box-shadow: -5px -5px 8px rgba(255, 255, 255, 0.55), 5px 5px 10px rgba(166, 180, 200, 0.35);
  }

  .input__wrap {
    .button-edit {
      position: absolute;
      right: 10px;
      bottom: 16px;
    }
  }

  .button-edit {
    @include width-flex(26px)
    height: 26px;

  }
  .pencil-icon:before {
    @include width-flex(20px)
    height: 20px;
  }


  .img-404 {
    max-width: 80%;
  }

  .switch-block {
    display: none;
  }


  .filter-icon {
    @include background-contain('filter-icon.svg')
    @include width-flex(21px)
    height: 22px;
  }

  .title__wrap-big.title__wrap-big_products {
    border-bottom: none;
  }

  .product__block_products {
    .favourites-top {
      margin-bottom: 15px;
      display: flex;
      align-items: center;

      .button__mini {
        @include width-flex(40px)
        height: 40px;
      }

      .like__mini:before {
        @include width-flex(20px)

      }

      .more__mini:before {
        @include width-flex(23px)
      }

      .share__mini:before {
        @include width-flex(18px)

      }

    }

    .product__img-wrap {
      @include width-flex(65px)
      height: 72px;
      padding: 0;
    }

    .product__info-title {
      font-size: 15px;
    }
  }
  .product-bottom {
    padding: 15px;
    background: #F7F9FB;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.65), 3px 3px 5px rgba(166, 180, 200, 0.35);
    border-radius: 8px;
    margin-bottom: 15px;
  }

  .button_middle {
    font-size: 14px;
    padding: 5px 20px;
    height: 40px;
  }

  .padding-section-mob {
    padding: 0 10px;
  }

  .partners__wrap {
    margin-top: 15px;
  }

  .title-before-middle:before {
    left: calc(50% - 65px);
    top: calc(50% - 65px);
    @include width-flex(130px)
    height: 130px;
  }

  .news__list-wrap {
    margin-top: 41px;
    margin-bottom: 51px;
  }

  .input-search {
    height: 50px;
    font-size: 18px;
  }


  .menu-buttons__item-link {
    width: 40px;
    height: 40px;
  }
  .menu-buttons__item-icon {
    width: 20px;
  }

  .article__data {
    font-size: 14px;
  }

  .article__prolog {
    margin-bottom: 29px;
  }

  .article__block {
    margin-bottom: 25px;
  }

  .article__quote-title {
    margin-bottom: 12px;
  }
  .article__block {
    .title-2 {
      font-size: 18px;
    }

  }
  .article__info-text {
    line-height: 21px;
  }

  .service__accord-wrap {
    margin-bottom: 28px;
  }

  .input-label {
    margin-bottom: 5px;
  }
  .input__wrap {
    margin-bottom: 10px;
  }


  .input-item, .textarea {
    padding: 15px;
  }
  .select .jq-selectbox__select-text {
    padding-left: 10px;
  }
  .menu__left-link {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .menu__left-list {
    margin-bottom: 29px;
  }

  .contact-info__block {
    margin-bottom: 13px;
  }

  .reagents:before {
    width: 150px;
    height: 170px;
    margin-left: -75px;
    margin-top: -84px;
  }

  .equipment:before,
  .plastic:before {
    width: 150px;
    height: 150px;
    margin-left: -75px;
    margin-top: -75px;
  }


  .title__wrap-big.title__wrap-big_products .title-1 {
    margin-top: 0px;
  }

  .title__wrap-big.title__wrap-big_products {
    padding-bottom: 0;
  }


  .product__items {
    margin-top: 60px;
  }
  .product__block_products {
    .button__mini {
      margin-right: 15px;
    }
  }

  .product__block_products {
    .favourites-top {
      margin-bottom: 9px;
    }

    .product__info-title {
      margin-bottom: 10px;
    }
  }


  .favourites-desc__key {
    letter-spacing: 1px;

  }
  .favourites-desc__row {
    margin-bottom: 6px;
  }


  .filter__wrap {
    display: none;
  }


  .product-page {
    .breadcrumb__list {
      margin-bottom: 53px;

    }
  }

  .product__item-title {
    margin-bottom: 22px;
  }

  .product__item-desc-top {
    .button__middle-wrap {
      margin-right: 20px;
    }
  }
  .product__item {
    margin-bottom: 21px;
  }

  .product__add-wrap {
    .button_big {
      font-size: 14px;
      padding: 8px 30px;
      height: 40px;
    }
  }

  .slider-product__item-text {
    max-width: 150px;
  }
  .product__desc-wrap {
    margin-bottom: 0;
  }
  .product__img-wrap.cart {
    padding: 0;
  }

  .product__img-wrap {
    margin-right: 20px;
  }

  .order-page {
    .title__wrap-big {
      margin-bottom: 44px;
    }
  }

  .my-order,
  .favor,
  .setting,
  .exit {
    &:before {
      @include width-flex(12px)
      height: 13px;
    }

  }

  .buttons-wrap_account {
    margin-bottom: 10px;

    .tabs__white-item {
      margin-bottom: 11px;
    }
  }
  .select-sort .jq-selectbox__select-text {
    font-size: 14px;
  }

  .select-sort .jq-selectbox__trigger-arrow {
    height: 11px;
    width: 5px;
  }

  .account-block .title-wrap {
    margin-bottom: 21px;
  }

  .orders__item {
    padding: 31px 16px 31px;
  }

  .orders__item-title {
    margin-bottom: 25px;
  }
  .orders__item {
    border-radius: 0px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-bottom: 0;
  }

  .product__info-text {
    font-size: 14px;
  }

  .mail__mini {
    @include width-flex(26px)
    height: 26px;

    &:before {
      @include width-flex(12px)
      height: 13px;
    }
  }

  .not-found__block {
    padding-top: 60px;
  }

  .form-reg {
    .form__title-wrap {
      text-align: center;
      margin-bottom: 80px;
    }

  }
  .title_reg {
    display: inline-block;
    position: relative;
    margin-top: 82px;
    &:before {
      content: '';
      position: absolute;
      background-image: url('../img/plus-big.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -1;
      width: 230px;
      height: 230px;
      top: -95px;
      left: -109px;
    }
  }


  .modal-enter{
    .modal-title{
      position: relative;
      z-index: 10;
    }
    .modal-body {
      
      &:before {
        content: '';
        position: absolute;
        background-image: url('../img/check-big.svg');
        top: -38px;
        left: -12px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 230px;
        height: 230px;
      }
    }

  } 

  .metod__img-wrap {
    margin-left: 0;
  }


  .modal-dialog {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal-body {
    padding: 90px 20px 77px;

    .note {
      font-size: 14px;
      letter-spacing: 0.2px;
      line-height: 21px;
    }

    .buttons__wrap_row {
      flex-direction: column;

      .button-white,
      .button-blue {
        margin-bottom: 15px;
      }
    }
  }

  .buttons__wrap_row .button-white,
  .buttons__wrap_row .button-blue {
    margin-left: 0px;
    margin-right: 0;

  }

  .close-modal {
    right: 15px;
    top: 15px;
  }

  .modal-body .inputs-block {
    margin-bottom: 45px;
  }

  .modal-head {
    margin-bottom: 33px;
  }

  .modal-title {
    margin-bottom: 13px;
  }

  .product__items{
    margin-bottom: 0px;
  }
  .error-text {
    font-size: 14px;
  }

}


@media screen and (max-width: 720px) {
  .orientation__item {
    @include width-flex(50%)
  }

}

@media screen and (min-width: 430px) {
  .tabs__item {
    white-space: nowrap;
    width: 50%;
  }
}

