@import '_misc/adjustment';

@media (min-width: 991px){
  .container{
    max-width: 1170px;
  }
}


.container-custom{
  max-width: 1368px;
  margin:0 auto;
}


.header,
.menu-header__list{
  display: flex;
  align-items: center;
}

.header {
  justify-content: space-between;
}

.header-wrap{
  padding: 23px 0;
  border-bottom: 1px solid rgba(204, 216, 222, 0.5);
}
.logo-header{
  margin-right: 12px;
}

.img-logo{
  width: 116px;
  height: 21px;
}

.menu-header__item{
  margin-right: 50px;
  @include last-mr-0
}
.menu-header__link{
  color: #212833;
  font-size: 14px;
  &:hover{
    color: #095DBA;
  }
}

.header-tel{
  font-family: $MontserratSemiBold;
  color: #212833;
}

.arrow-little{
  display: flex;
  align-items: center;
  &:after{
    content: '';
    @include background-contain('icon-arrow-down-blue.svg')
    @include width-flex(10px)
    height: 6px;
    margin-left: 12px;
  }
}

.icon-geo{
  @include width-flex(12px)
  height: 16px;
  margin-right: 7px;
  margin-bottom: 2px;
}

.city-name{
  font-size: 14px;
}

.header__bottom-wrap{
  padding: 20px 0 35px 0;
}
.header__bottom,
.header__bottom-left,
.header__bottom-right{
  display: flex;
  align-items: center;
}
.header__bottom{
  justify-content: space-between;
}
.button-blue,
.button-white,
.button-gray{
  font-family: $RalewaySemiBold;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 12px 22px;
  border-radius: 5px;

}
.button-blue{
  background: linear-gradient(80.31deg, #2C6AB0 4.56%, #539EF2 95.43%);
  box-shadow: -1px 6px 12px rgba(0, 133, 255, 0.21);
  color: #FFFFFF;
  &:hover{
    color: #FFFFFF;
  }
}

.button-white{
  background: #FFFFFF;
  border-radius: 5px;
  color: #095DBA;
  min-width: 200px;
  &:hover{
    color: #095DBA;
  }
}

.button-gray{
  font-family: $RalewayMedium;
  font-size: 16px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid rgba(9, 93, 186, 0.2);
  box-sizing: border-box;
  color: #095DBA;
  //min-width: 200px;
  &:hover{
    background: #095DBA;
    color: #FFFFFF;
  }
}

.button-catalog{
  margin-right: 20px;
  &:before{
    content: '';
    @include background-contain('icon-dotted-catalog-button.svg')
    @include width-flex(17px)
    height: 17px;
    margin-right: 19px;
  }
}

.button-catalog.active {
  &:before {
    background-image:url('../img/icon-close-white.svg');
  }
}

.search__wrap{
  display: flex;
  align-items: center;
  border: 1px solid rgba(204, 216, 222, 0.5);
  border-radius: 5px;
  overflow: hidden;
  @include width-flex(592px)
}

.search-select{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background: #F4F8FA;
  height: 50px;
  @include width-flex(100% / 3)

}
.search-input{
  height: 50px;
  border: none;
  width: 100%;
  padding: 0 40px 0 15px;
}
.search__block{
  position: relative;
  @include width-flex(100% - 33.3%)

}
.icon-search{
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 16px;
}

.user__block,
.cart__block{
  display: flex;
  align-items: center;
  font-size: 14px;
}

.icon-user,
.icon-cart{
  @include width-flex(16px)
  height: 16px;
  margin-right: 10px;
}
.user__block{
  margin-right: 45px;
}
.user-title,
.user-title{
  color: #212833;
}

.banner{
  height: 530px;
  width: 100%;
  @include background-cover('banner-main.jpg')
}

.banner{
  padding: 95px 0 104px;
}
.banner-slider__wrap{
  margin-bottom: 35px;

}

.banner-subtitle{
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  font-family: $RalewaySemiBold;
  margin-bottom: 22px;
}

.banner-slider-nav__item{
  height: 139px;
}

.banner-title{
  font-size: 46px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 76px;
}
.link-more-banner{
  font-size: 16px;
  line-height: 19px;
  font-family: $RalewaySemiBold;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  &:hover{
    color: #FFFFFF;
  }
  &:after{
    content: '';
    @include background-contain('icon-arrow-right.svg')
    @include width-flex(40px)
    height: 40px;
    margin-left: 25px;
  }
}

.banner-slider-nav__item{
  position: relative;
  display: flex;
  align-items: center;
  &:hover{
    cursor: pointer;
    .banner-slider-nav__item-bg,
    .banner-slider-nav__item-text{
      display: none;  
    }
  }
}
.banner-slider-nav__item-text{
  color: #FFFFFF;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  line-height: 150%;
  font-family: $RalewaySemiBold;
}
.banner-slider-nav__item-bg{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(55.18deg, rgba(1, 11, 30, 0.73) 18.68%, rgba(2, 13, 34, 0.74) 100.24%);
}

.banner-slider-nav__item-img{
  width: 100%;
  height: 100%;
}

.link-more-content{
  font-size: 16px;
  line-height: 19px;
  font-family: $RalewaySemiBold;
  color: #0E1E2E;
  display: flex;
  align-items: center;
  &:hover{
   color: #0E1E2E;
  }
  &:after{
    content: '';
    @include background-contain('icon-arrow-right-gray.svg')
    @include width-flex(40px)
    height: 40px;
    margin-left: 25px;
  }
}

.button__wrap{
  display: flex;
  align-items: center;
}

.slider-brands,
.slider-brands__item{
  height: 136px;
}

.slider-brands{
  padding: 0 50px;
}

.img-brand{
  max-width: 100%;
  max-height: 100%;
}

.slider-brands__item {
  &:hover {
    cursor: pointer;
    .slider-brands__item--inner {
      background: #FFFFFF;
      box-shadow: 0px 4px 24px rgba(218, 224, 232, 0.5);
    }
  }
}

.slider-brands__item--inner {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 116px;
  margin-top: 10px;
  margin-bottom: 10px;

}
.slider__wrap{
  position: relative;
}

.container-arrows{
  position: absolute;
  top: 50%;
  //margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
  height: 0;
  
}

.prev-button,
.next-button{
  display: block;
  @include background-contain('icon-arrow-right-gray.svg')
  @include width-flex(40px)
  height: 40px;
}

.prev-button{
  transform: rotate(180deg);
  margin-right: 22px;
}

.slider__wrap_brands{
  margin-bottom: 30px;
}

.title{
  font-size: 40px;
  line-height: 120%;
  color: #212833;
}

.title__mb{
  margin-bottom: 30px;
}


.subtitle{
  font-size: 34px;
  line-height: 130%;
  color: #212833;
  letter-spacing: 0.40px;
}

.subtitle__mb{
  margin-bottom: 52px;
}

.h3{
  font-family: $RalewaySemiBold;
  font-size: 24px;
  line-height: 120%;
}

.h3__mb{
  margin-bottom: 35px;
}

.nav-categories{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 31px;
}

.nav-categories__item{
  border: 1px solid rgba(9, 93, 186, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 18px;
  color: #7687A0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 67px;
  padding: 10px 25px;
  &:hover{
    color: #095DBA;
    border: 1px solid #095DBA;

  }
}


.input-checkbox{
  margin-right: 10px;
  @include width-flex(20px)
  height: 20px;
  border-radius: 5px;
  border: 1px solid rgba(204, 216, 222, 0.5);
}

.jq-checkbox{
  background: transparent;
  box-shadow: none;
}
.jq-checkbox.focused {
  border: 1px solid rgba(204, 216, 222, 0.5);
}

.jq-checkbox.checked {
  background: linear-gradient(80.31deg, #2C6AB0 4.56%, #539EF2 95.43%);
}

.jq-checkbox.checked .jq-checkbox__div{
  border: none;
  transform: none;
  @include background-contain('icon-check.svg')
  width: 10px;
  height: 8px;
  margin: 4px 0 0 5px;
}

.filter{
  padding: 30px 20px 22px;
  background: #FFFFFF;
  box-shadow: 0px 4px 23px rgba(218, 224, 232, 0.5);
  border-radius: 5px;
  .button-blue{
    width: 100%;
    height: 43px;
  }
}

.filter-title{
  font-size: 20px;
  font-family: $RalewaySemiBold;
  margin-bottom: 23px;
}


.accord-block--js {
  display: none;
}

.accord-title--js {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    cursor: pointer;
  }
  &:after{
      content: '';
      @include background-contain('icon-arrow-down-blue.svg')
      @include width-flex(10px)
      height: 6px;
      margin-left: 12px;
      transition: 0.5s;

  }
  
  
}

.accord-wrap--js.active{
  .accord-title--js {
    &:after {
      transform: rotate(180deg);
      transition: 0.5s;
    }
  }
}

.filter-accord__title{
  color: #7687A0;
  font-size: 15px;
}


.filter-accord__item{
  margin-bottom: 30px;
  @include last-mb-0
}
.checkbox__block{
  padding: 16px 0;
}

.checkbox-text{
  font-size: 12px;
}

.label-checkbox{
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  @include last-mb-0
  &:hover{
    cursor: pointer;
  }
}

.checkbox-wrap{
  display: flex;
  align-items: center;
  @include last-mb-0
}

.checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  border: 1px solid #C0C9CE;
  box-sizing: border-box;
  border-radius: 5px;
}

.more-filter{
  font-size: 12px;
}

.filter__block{
  margin-bottom: 32px;

}
.clear-button{
  display: flex;
  align-items: center;
  color: #7687A0;
  font-family: $RalewaySemiBold;
  margin-top: 15px;
  &:before{ 
    content: '';
    @include background-contain('icon-close--small.svg')
    @include width-flex(10px)
    height: 10px;
    margin-right: 5px;
  }
}

.product__item{
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(218, 224, 232, 0.6);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  .button-blue{
    width: 100%;
  }
}
.product__item-top{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-product{
  max-width: 100%;
  max-height: 100%;
}

.product__item-desc{
  font-family: $MontserratSemiBold;
  margin-bottom: 22px;
}

.tare__block{
  display: flex;
  align-items: center;
}

.tare{
  border: 1px solid rgba(9, 93, 186, 0.2);
  border-radius: 5px;
  height: 20px;
  padding: 1px 6px;
  font-size: 12px;
  color: #095DBA;
  margin-right: 5px;
  @include last-mr-0
}

.tare-big{
  border: 1px solid rgba(9, 93, 186, 0.2);
  border-radius: 5px;
  height: 23px;
  padding: 1px 5px;
  font-size: 14px;
  color: #095DBA;
  margin-right: 12px;
  @include last-mr-0
}

.tare.active,
.tare-big.active{
  background: #095DBA;
  border-color:#095DBA;
  color: #FFFFFF;

}
.price__block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
}

.product-price{
  margin-left: auto;
  font-size: 26px;
  font-family: $RalewaySemiBold;
}

.section-products{
  margin-bottom: 65px;
}
.about{
  display: flex;
  height: 738px;
  @include background-cover('about-bg.jpg')
  width: 100%;
}

.about__left,
.about__right{
  @include width-flex(50%)
}

.about__right {
  padding: 111px 123px 71px;
}

.about-img{
  height: 100%;
  width: 100%;
}

.about__title{
  color: #FFFFFF;
  font-size: 40px;
  font-family: $RalewaySemiBold;
  margin-bottom: 24px;
}

.about__desc{
  color: #FFFFFF;
  font-family: $RalewaySemiBold;
  line-height: 160%;
  margin-bottom: 55px;
}

.about__item{
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-bottom: 33px;
  @include last-mb-0
  &:before{
    content: '';
    @include background-contain('icon-check-big.svg')
    @include width-flex(37px)
    height: 37px;
    margin-right: 29px;
  }
}


.about__list{
  padding-right: 50px;
  margin-bottom: 75px;
}

.section-about{
  margin-bottom: 70px;
}

.video__block-big{
  height: 330px;
}


.img-content__wrap {
  position: relative;
  margin-bottom: 40px;
  border-radius: 5px;
  overflow: hidden;
  .img-content {
    margin-bottom: 0;
  }
  .video__block-small{
    margin-bottom: 72px;
  }
}

.more-video{
  position: absolute;
  bottom: rem(30px);
  left: rem(30px);
  font-size: rem(18px);
  color: #FFFFFF;
  display: flex;
  align-items: center;
  pointer-events: none;
  &:hover {
    color: #ffffff;
  }

}

.more-video {
  display: flex;
  align-items: center;
}

.icon-video{
  @include background-contain('icon-video-big.svg')
  @include width-flex(rem(64px))
  height: rem(64px);
  margin-right: rem(16px);
}

.about-video__title{
  font-size: 18px;
  margin-bottom: 7px;
}

.about-video__time{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}


.news__item_small{
  height: 330px;
}

.news__item{
  box-shadow: 0px 4px 23px rgba(218, 224, 232, 0.5);
}
.news__item_small{
  position: relative;
  margin-bottom: 40px;

  .news__item-top{
    height: 193px;
  }
}


.img-news{
  width: 100%;
  height: 100%;
}
.news__item-bottom{
  display: flex;
  flex-direction: column;
  padding: 15px;
  
}
.news__item-date{
  position: absolute;
  left: 15px;
  bottom: 15px;
  margin-top: auto;
  color: #7687A0;
  font-size: 12px;
}

.news__item-text{
  max-height: 300px;
  overflow: hidden;
}

.about-info{
  margin-bottom: 70px;
}

.p{
  margin-bottom: 15px;
}

.section{
  margin-bottom: 90px;
}
.email-input__wrap{
  width: 100%;
  display: flex;
  align-items: center;
  .button-blue{
    @include width-flex(33.3%)
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.email-input{
  @include width-flex(calc(100% - 33.3%))
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #FFFFFF;
  border: 1px solid rgba(204, 216, 222, 0.5);
  height: 50px;
  padding: 0 25px;
}

.email__block{
  background: #F4F8FA;
  padding: 45px 0;
}

.footer{
  @include background-cover('footer-bg.jpg')
  width: 100%;
}

.footer__top{
  padding: 64px 0 33px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.img-logo-footer{
  width: 173px;
  height: 31px;
}



.footer__top-left{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
}

.footer-title{
  font-size: 14px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-block{
  padding-top: 10px;
}

.menu__bottom-link{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  &:hover{
    color: #FFFFFF;
  }
}

.menu__bottom-item{
  margin-bottom: 14px;
}
.social__list{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 47px;
}

.social-img{
  //fill: #FFFFFF;
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-img_inst{
  background-image:url('../img/social-inst-white.svg');
}
.social-img_fb{
  background-image:url('../img/social-fb-white.svg');
}
.social-img_you{
  background-image:url('../img/social-you-white.svg');
}
.social-img_tel{
  background-image:url('../img/social-tel-white.svg');
}
.social-img_tw{
  background-image:url('../img/social-tw-white.svg');
}

.social-link{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(80.31deg, #2C6AB0 4.56%, #539EF2 95.43%);
  @include width-flex(40px)
  height: 40px;
  &:hover{
    background: #FFFFFF;

    .social-img_inst{
      background-image:url('../img/social-inst-blue.svg');
    }
    .social-img_fb{
      background-image:url('../img/social-fb-blue.svg');
    }
    .social-img_you{
      background-image:url('../img/social-you-blue.svg');
    }
    .social-img_tel{
      background-image:url('../img/social-tel-blue.svg');
    }
    .social-img_tw{
      background-image:url('../img/social-tw-blue.svg');
    }
  }
}

.social-img{
  max-height: 15px;
  max-width: 15px;
}

.social__item{
  margin-right: 10px;
  @include last-mr-0
}

.footer-phones{
  margin-bottom: 30px;
}

.footer-tel{
  display: block;
  text-align: right;
  font-size: 20px;
  color: #FFFFFF;
  font-family: $RalewaySemiBold;
  margin-bottom: 16px;
}

.footer-mail{
  display: block;
  color: #FFFFFF;
  text-align: right;
}

.footer__bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.footer__bottom-left{
  display: flex;
  align-items: center;
  .footer-text {
    &:first-child{
      margin-right: 94px;
    }
  }
}
.footer__bottom-right{
  display: flex;
  align-items: center;
  .footer-text {
    &:first-child{
      margin-right: 136px;
    }
  }
}
.footer-text{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);

}


.header__bottom{
  position: relative;
}


.drop__menu-wrap{
  display: none;
  position: absolute;
  left: 0;
  top: 87px;
  z-index: 999;
}

.drop__menu-wrap.active{
  display: block;
}

.drop__menu{
  position: relative;
}

.drop__menu-list{
  width: 318px;
  background: #F4F8FA;
  padding: 16px 0;
  box-shadow: 0px 27px 25px rgba(0, 0, 0, 0.2);
}

.drop__menu-link{
  display: flex;
  align-items: center;
  padding: 14px 26px;
  color: #212833;
  &:after{
    content: '';
    @include background-contain('icon-arrow-down-gray.svg')
    @include width-flex(10px)
    height: 6px;
    transform: rotate(-90deg);
    margin-left: auto;
  }
  &:hover{
    background: #FFFFFF;
    color: #095DBA;
    .drop__menu-item-img {
      fill: #095DBA;

    }
  }
}

.drop__menu-item-img{
  @include width-flex(20px)
  height: 20px;
  margin-right: 11px;
  fill: #0D3E75;
}

.drop__menu--inner {
  position: absolute;
 
  top: 0;
  left: 318px;
  padding: 13px 36px;
  background: #FFFFFF;
  box-shadow: 0px 27px 25px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 5px 5px;
  width: 746px;
}

.drop__menu-list--inner{
  @include width-flex(50%)
  padding-right: 25px;
  //column-count: 2;
  .accord-title--js:after{
    margin-left: auto;
  }
}

.drop__menu-item--inner{
  margin-bottom: 20px;
  .accord-title--js:after {
    background-image: url(../img/icon-arrow-down-gray.svg);
  }
}

.drop__menu-item--inner.active{
  .accord-title--js:after {
    background-image: url(../img/icon-arrow-down-blue.svg);
  }
}




.drop__menu-link--inner{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #0E1E2E;
  &:hover{
    color: #095DBA;
    .drop__menu-item-img--inner{
      stroke: #095DBA;
    }
  }
  
  
}
.drop__menu-item-img--inner{
  stroke: #212833;
  margin-right: 10px;
  
}

.menu-accord__list{
  padding-left: 15px;
  padding-top: 15px;
}

.menu-accord__link{
  color: #7687A0;
  font-size: 12px;
  display: flex;
  align-items: center;

  &:before{
    content: '';
    background: #7687A0;
    transform: rotate(45deg);
    @include width-flex(4px)
    height: 4px;
    margin-right: 7px;
  }
}

.menu-accord__item{
  margin-bottom: 9px;
  @include last-mb-0
}

.drop__menu--inner{
  display: none;
}

.drop__menu--inner.menu-open{
  display: flex;
}


.slider__wrap_products,
.slider__wrap-detail-nav{
  .prev-button{
    margin-left: -40px;
  }  
  .next-button{
    margin-right: -40px;
  }
}
.product__item-wrap{
  padding: 0 10px;
}

.breadcrumb__list{
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 24px;
}
.breadcrumb__item{
  margin-right: 4px;
}
.breadcrumb__link{
  font-size: 12px;
  color: #212833;
  &:after{
    content: '/';
    margin-left: 3px;
  }
}
.breadcrumb__span{
  font-size: 12px;
  color: #7687A0;
}
.categories__block{
  padding-right: 30px;
}
.categories__block-title{
  font-size: 20px;
  margin-bottom: 18px;
  font-family: $RalewaySemiBold;
}
.categories__link{
  color: #7687A0;
  font-size: 15px;
  line-height: 150%;
  &:hover{
    color: #095DBA;
  }
}

.categories__item{
  margin-bottom: 17px;
}

.catalog__block{
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  .product__item{
    @include width-flex(calc(50% - 20px))
    margin-right: 20px;
  }
}

.catalog__head{
  display: flex;
  align-items: center;
  margin-top: -6px;
  padding-bottom: 15px;
  border-bottom: 1px solid #CCD8DE;
  margin-bottom: 30px;
  justify-content: space-between;
}

.catalog__sort{
  display: flex;
  align-items: center;

}
.catalog__sort-list{
  display: flex;
  align-items: center;
}

.catalog__sort-title,
.catalog__sort-item{
  font-size: 14px;

  color: #7687A0;
  margin-right: 20px;
}

.catalog__sort-link {
  color: #7687A0;
  &:hover{
    color: #095DBA;
  }
}

.catalog__sort-item.active {
  .catalog__sort-link{
    color: #095DBA;
    font-family: $RalewaySemiBold;
  }
}
.catalog__view{
  margin-left: auto;
  display: flex;
  align-items: center;
  .catalog__sort-title{
    margin-right: 10px;
  }
}
.icons-sort{
  display: flex;
  align-items: center;
}
.icon-sort{
  @include width-flex(24px)
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  &:hover{
    cursor: pointer;
  }
}

.icon-tiles{
  margin-right: 10px;
  background-image:url('../img/icon-sort-tiles-active.svg');
}
.icon-list{
  background-image:url('../img/icon-sort-list.svg');
}

.catalog__block.list{
  margin-right: 0;
  .product__item{
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 0;
  }
  .product__item-bottom{
    display: flex;
  }
  .price__block{
    flex-direction: column;
  }
  .product__item-top{
    @include width-flex(170px)
    height: 170px;
  }
  .product__item-bottom{
    @include width-flex(calc(100% - 170px))

  }
  .product__item-desc--wrap{
    @include width-flex(50%)
  }
  .price__block{
    @include width-flex(50%)
    margin-bottom: 0;
  }
  .product__item-bottom_list{
    display: flex;
  }
  .product__item-bottom_tailes{
    display: none;
  }

}

.product__item-bottom_list{
  display: none;
}

/* range */
.range__block{
  padding-top: 16px;
}
.extra-controls{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-range{
  @include width-flex(42%)
  background: #FFFFFF;
  border: 1px solid rgba(204, 216, 222, 0.5);
  border-radius: 5px;
  height: 40px;
  text-align: center;
  font-size: 14px;
}

.irs-min,
.irs-max,
.irs-from,
.irs-to{
  display: none;
}

.irs--round .irs-bar{
  background: linear-gradient(80.31deg, #2C6AB0 4.56%, #539EF2 95.43%);
}
.irs--round .irs-line{
  background: rgba(204, 216, 222, 0.5);
  border-radius: 2px;
}


.irs--round .irs-handle{
  width: 20px;
  height: 20px;
  top: 28px;
  border-radius: 50%;
  border: 1px solid #E5EBEF;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before{
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(80.31deg, #2C6AB0 4.56%, #539EF2 95.43%);
  }
}


.product-detail__slider-img{
  max-width: 90%;
  height: 90%;
}

.product-detail__slider-item{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-detail__slider-nav--item-wrap{
  padding: 0 10px;
}
.product-detail__slider-nav--item{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 84px;
  box-shadow: 0px 4px 24px rgba(218, 224, 232, 0.6);
  border-radius: 5px;
}



.email__block-title{
  font-family: $RalewaySemiBold;
  font-size: 22px;
  line-height: 140%;
  padding-right: 140px;
}

.banner-middle__wrap{
  margin-bottom: 69px;
}


.banner-middle__item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 379px;
  width: 100%;
  border-radius: 5px;
  padding: 35px 193px 40px 40px;
  color: #FFFFFF;
}

.banner-middle__title{
  font-family: $RalewayBold;
  font-size: 35px;
  margin-bottom: 36px;
}

.banner-middle__decs{
  font-family: $MontserratMedium;
  font-size: 14px;
  line-height: 180%;
}

.link-more-white{
  font-size: 16px;
  font-family: $RalewaySemiBold;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  &:hover{
    color: #0E1E2E;
  }
  &:after{
    content: '';
    @include background-contain('icon-arrow-right-white.svg')
    @include width-flex(40px)
    height: 40px;
    margin-left: 22px;
  }
}


.product-detail__info-block{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 24px rgba(218, 224, 232, 0.6);
  border-radius: 5px;
  padding: 40px 45px 42px 39px;
  margin-bottom: 48px;
}

.product-detail__info-left{
  width: 60%;
}

.product-detail__title{
  font-size: 40px;
  line-height: 120%;
  color: #212833;
  margin-bottom: 21px;
}

.product-detail__info-desc{
  margin-bottom: 48px;
}

.product-detail__info-item{
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 14px;
  @include last-mb-0
}

.span-gray{
  color: #7687A0;
}

.span-blue{
  color: #095DBA;
}

.span-bold{
  color: #095DBA;
}

.product-detail__price{
  display: flex;
  font-family: $RalewaySemiBold;
  font-size: 39px;
  line-height: 130%;
}

.product-detail__count--wrap{
  display: flex;
  align-items: center;
}

.count__wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #DAE1E5;
  box-sizing: border-box;
  border-radius: 5px;
  width: 123px;
}

.count-minus,
.count-plus {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $RalewaySemiBold;
  font-size: 25px;
  color: #DAE1E5;
  &:hover {
    //background: rgba(255, 255, 255, 0.8);
    //box-shadow: 5px 2px 6px rgba(166, 180, 200, 0.45);
  }
}

.count-minus{
  padding: 10px 5px 10px 10px;
}

.count-plus{
  padding: 10px 10px 10px 5px;
}

.input-count {
  border: none;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: $RalewaySemiBold;
  font-size: 18px;
  width: 50px;
}

.button-blue__middle {
  font-family: $RalewaySemiBold;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 12px 71px;
  border-radius: 5px;
  background: linear-gradient(80.31deg, #2C6AB0 4.56%, #539EF2 95.43%);
  box-shadow: -1px 6px 12px rgba(0, 133, 255, 0.21);
  color: #FFFFFF;
  &:hover{
    color: #FFFFFF;
  }
}

.product-detail__info-right{
  padding-top: 39px;
}

.property-icon__block{
  display: flex;
  flex-direction: column;
}

.property-icon{
  width: 40px;
  height: 40px;
  margin-bottom: 9px;
  @include last-mb-0
}

.advant-block{
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  margin-bottom: 91px;
}

.advant-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 150px;
}

.advant-img__wrap{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 56px;
  height: 56px;
  margin-bottom: 20px;
}

.advant-title{
  font-family: $RalewayMedium;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
}

.blue-tab__content{
  margin-right: -20px;
  margin-bottom: 44px;

  .tab-pane{
    padding: 52px 50px 52px 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(218, 224, 232, 0.6);
    border-radius: 0px 5px 5px 5px;
  }
}

.nav-tabs.blue__tabs{
  border-bottom: none;
  
  .nav-item{
    border: 1px solid rgba(9, 93, 186, 0.2);
    border-bottom: none;
    box-sizing: border-box;
    border-radius: 5px 5px 0px 0px;
    margin-right: 7px;
  }
  
  .nav-link{
    border: none;
    font-family: $RalewayMedium;
    font-size: 14px;
    color: #212833;
    padding: 16px 28px;
  }

  .nav-link.active{
    background: linear-gradient(80.31deg, #2C6AB0 4.56%, #539EF2 95.43%);
    box-shadow: 4px 6px 13px rgba(0, 133, 255, 0.1);
    color: #FFFFFF;
  }
  
  //.nav-item.active{
  //  background: linear-gradient(80.31deg, #2C6AB0 4.56%, #539EF2 95.43%);
  //  box-shadow: 4px 6px 13px rgba(0, 133, 255, 0.1);
  //  .nav-link{
  //    background: inherit;
  //    color: #FFFFFF;
  //  }
  //}
}







.tabs-decs__wrap{
  margin-bottom: 101px;
}

.tabs-decs__item{
  width: 70%;
  margin-bottom: 51px;
  @include last-mb-0
}

.tabs-decs__title{
  font-family: $RalewaySemiBold;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 12px;
}

.tabs-decs__text{
  font-size: 14px;
  line-height: 160%;
}

.button-share{
  display: flex;
  align-items: center;
  font-family: $MontserratMedium;
  font-size: 12px;
  line-height: 150%;
  color: #212833;
  margin-left: 5px;
  &:before{
    content: '';
    @include background-contain('icon-share.svg')
    @include width-flex(20px)
    height: 21px;
    margin-right: 17px;
  }
}

.questions__block{
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.question__item{
  font-family: $MontserratSemiBold;
  font-size: 16px;
  color: #212833;
  margin: 0 15px;
  &:hover{
    color: #095DBA;
  }
}

.line-vertical-img{
  margin: 0 50px;
}

.product-detail__slider--wrap{
  margin-top: 33px;
  margin-bottom: 60px;
}

.tabs-docs__item,
.tabs-article__item{
  display: flex;
}

.tabs-docs__item{
  padding-right: 64px;
}

.tabs-article__item{
  margin-bottom: 74px;
}

.tabs-docs__data,
.tabs-article__data{
  font-size: 14px;
  line-height: 180%;
  color: #7687A0;
  min-width: 75px;
  margin-right: 35px;
}

.tabs-docs__decs {
  margin-right: 100px;
}

.tabs-article__decs{
  margin-left: 50px;
  margin-right: 315px;
}

.tabs-docs__name,
.tabs-article__name,
.tabs-video__name{
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 15px;
}

.tabs-docs__name-link{
  color: #212833;
  &:hover{
    color: #095DBA;
  }
}

.tabs-docs__bill,
.tabs-article__annotate{
  font-size: 14px;
  line-height: 180%;
  color: #7687A0;
}

.tabs-docs__right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  //margin-right: 64px;
}

.tabs-docs__format{
  font-family: $RalewayRegular;
  font-size: 14px;
  line-height: 180%;
  color: #7687A0;
  margin-bottom: 25px;
}

.tabs-docs-icon-item{
  margin-right: 25px;
  @include last-mr-0
}

.save-img{
  @include width-flex(16px)
  height: 17px;
}

.print-img{
  @include width-flex(19px)
  height: 17px;
}

.video__block-small__wrap{
  display: flex;
  align-items: center;
  margin-bottom: 79px;
  .tabs-video__name{
    margin-bottom: 0;
  }
}

.video__block-small{
  position: relative;
  width: 128px;
  height: 79px;
  border-radius: 5px;
  margin-right: 25px;
}

.play-video{
  position: absolute;
  top: calc(50% - 14px);
  left: 50px;
  pointer-events: none;

}

.icon-video-small{
  @include width-flex(28px)
  height: 28px;
}



.nav-tabs.transparent__tabs{
  border-bottom: none;

  .nav-item{
    padding-top: 2px;
    border: none;
    box-sizing: border-box;
    margin-right: 41px;
  }

  .nav-link{
    padding: 1px 13px 9px 8px;
    border: none;
    font-family: $RalewaySemiBold;
    font-size: 16px;
    color: #7687A0;
  }

  .nav-link.active{
    color: #212833;
    border-bottom: 2px solid #095DBA;
  }

  //.nav-item.active{
  //  .nav-link{
  //    color: #212833;
  //    border-bottom: 2px solid #095DBA;
  //  }
  //}
}

.transparent__tab-content{
  border-bottom: none;
  
  .tab-pane{
    padding-top: 45px;
    padding-bottom: 85px;
    border-top: 2px solid #CCD8DE;
  }
}

.tabs-input__block{
  margin-bottom: 64px;
}

.tabs-input__subtitle{
  font-family: $RalewaySemiBold;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 19px;
}

.row-inputs__mb{
  margin-bottom: 19px;
}

.input__wrap.error-valid{

  &:before{
    position: absolute;
    top: 67px;
    left: 15px;
    font-size: 12px;
    color: #EB5757;

  }
  
  .login-input{
    position: relative;
    border: 1px solid #EB5757;
    color: #EB5757;

  }
}

.error-tel{
  &:before{
    content: 'Некорректные данные';

  }
}

.error-email{
  &:before{
    content: 'Укажите ваш e-mail';

  }
}


.login-input,
.textarea{
  width: 100%;
  padding: 20px 20px 20px 20px;
  border: 1px solid #CCD8DE;
  box-sizing: border-box;
  border-radius: 5px;
}

.login-tabs__block-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;

  .button-blue{
    padding: 0 49px;
  }
}

.login-check__wrap{
  
  .checkbox-wrap{
    margin-bottom: 10px;
    @include last-mb-0
  }

  .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    border: 1px solid #C0C9CE;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 10px;
  }

  .checkbox__text{
    font-family: $RalewayMedium;
    font-size: 14px;
    line-height: 180%;
    color: #212833;
  }
}


.nav-tabs.blue-button-tabs{
  border-bottom: none;
  margin-top: -10px;
  //margin-bottom: 45px;

  .nav-item{
    margin-right: 20px;
    @include last-mr-0
  }

  .nav-link{
    font-family: $RalewaySemiBold;
    font-size: 16px;
    border: 1px solid rgba(9, 93, 186, 0.2);
    padding: 14px 32px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #7687A0;
  }

  .nav-link.active{
    background: #095DBA;
    color: #FFFFFF;
  }

  //.nav-item.active{
  //  font-family: $RalewaySemiBold;
  //  font-size: 16px;
  //  background: #095DBA;
  //  border-radius: 5px;
  //  .nav-link{
  //    color: #FFFFFF;
  //  }
  //}
}

.login-tab__legal-content{
    
  .tab-pane{
    padding-bottom: 0;
    border-top: none;
  }
}

.load-file{
  //display: block;
  //margin-bottom: 20px;
}

.dropzone{
  padding: 18px 143px 49px;
  border: 1px dashed #CCD8DE;
  box-sizing: border-box;
  border-radius: 5px;
}

.dropzone .dz-message{
  margin: 0;
}

.dz-message {
  position: relative;
  font-family: $RalewayMedium;
  font-size: 18px;
  padding-bottom: 18px;
  &:before {
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    width: 300px;
    content: 'Выберете файл или перетащите его сюда';
    font-family: $RalewayMedium;
    font-size: 12px;
    line-height: 130%;
    color: #7687A0;
  }
  &:after{
    position: absolute;
    left: -89px;
    top: -5px;
    content: '';
    @include background-contain('icon-load.svg')
    @include width-flex(48px)
    height: 55px;
    //margin-right: 19px;
  }
}

.fallback{
  //visibility: hidden;
}


.news-block__wrap,
.video-block__wrap{
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(218, 224, 232, 0.6);
  border-radius: 5px;
  margin-bottom: 20px;
  height: calc(100% - 20px);
}

.video-block__wrap{
  &:hover{

    .video-block__img-wrap{
      position: relative;
      &:before{
        position: absolute;
        left: calc(50% - 28px);
        top: calc(50% - 28px);
        content: '';
        @include background-contain('icon-video-small.svg')
        @include width-flex(56px)
        height: 56px;
      }
    }

    .video-block__title{
      color: #095DBA;
      //color: linear-gradient(80.31deg, #2C6AB0 4.56%, #539EF2 95.43%);
    }
    
  }
}

.news-block__img-wrap{
  height: 300px;
}

.news-block__img{
  height: 100%;
  background: linear-gradient(109.14deg, rgba(27, 30, 34, 0.3) -4.39%, rgba(0, 0, 0, 0.12) 116.13%)
}


.news-block__decs{
  padding: 30px 30px 42px 30px;
}

.news-block__date{
  font-size: 14px;
  line-height: 130%;
  color: #7687A0;
  margin-bottom: 28px;
}

.news-block__link{
  color: #212833;
  &:hover{
    color: #095DBA;
  }
}

.news-block__title{
  font-family: $RalewaySemiBold;
  font-size: 24px;
  line-height: 120%;
  padding-right: 50px;
  margin-bottom: 19px;
}



.news-block__text{
  font-family: $RalewayRegular;
  font-size: 16px;
  line-height: 155%;
  color: #7687A0;
  padding-right: 50px;
}

.news-item__date{
  font-family: $RalewayMedium;
  font-size: 16px;
  line-height: 130%;
  color: #7687A0;
  margin-bottom: 28px;
}

.news-item__banner{
  width: 100%;
  height: 319px;
  margin-bottom: 46px;
}

.decs-block{
  margin-bottom: 40px;
}

.decs,
.decs-list{
  font-family: $RalewayRegular;
  font-size: 16px;
  line-height: 158%;
  margin-bottom: 25px;
  @include last-mb-0
}

.decs-item{
  display: flex;
  margin-bottom: 20px;
  @include last-mb-0
}

.decs-item__number{
  @include width-flex(22px)
  font-family: $RalewaySemiBold;
  font-size: 16px;
  line-height: 140%;
  color: #095DBA;
  margin-right: 4px;
}

.decs-item__text{
  padding-right: 50px;
}

.news-item__subtitle-mb{
  margin-bottom: 32px;
}

.img__block-news{
  border-radius: 0;
  margin-bottom: 40px;
}

.icon-video-middle{
  @include background-contain('icon-video-small.svg')
  @include width-flex(rem(40px))
  height: rem(40px);
  margin-right: rem(16px);
}

.news-video__title{
  font-family: $RalewayBold;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.decs-item__circle{
  @include background-contain('circle-blue.svg')
  @include width-flex(6px)
  height: 7px;
  margin-right: 19px;
  margin-top: 8px;
}

.resume__block{
  font-family: $RalewaySemiBold;
  font-size: 16px;
  line-height: 155%;
  color: #4F4F4F;
  padding: 40px 95px;
  background: #EFF6FA;
  text-align: center;
  margin-bottom: 33px;
}


.share__block{
  display: flex;
  justify-content: flex-end;

  .button-share{
    font-size: 14px;
  }
}


.section-news-item__mb{
  margin-bottom: 86px;
}

.video-block__img-wrap{
  height: 247px;
  
}

.video-block__decs{
  padding: 20px 20px 38px 20px;
}

.video-block__title{
  font-family: $RalewaySemiBold;
  font-size: 20px;
  line-height: 125%;
  color: #333333;
}



.section-video__mb{
  margin-bottom: 90px;
}

.not-found__block{
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 71px;
}

.not-found__img-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 460px;
  margin-right: 100px;
}

.not-found-img{
  width: 100%;
}

.not-found__title{
  margin-bottom: 23px;
}

.not-found__text{
  line-height: 155%;
  margin-bottom: 37px;
  
}

.not-found__buttons{
  display: flex;
  
  .button-gray{
    padding-left: 43px;
    padding-right: 43px;
  }
  
}

.catalog-root__wrap{
  margin-bottom: 50px;
}

.catalog-root__item{
  position: relative;
  height: calc(100% - 20px);
  min-height: 394px;
  padding: 30px 30px 88px 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(218, 224, 232, 0.5);
  border-radius: 5px;
  margin-bottom: 20px;
  &:hover{
    width: 100%;
    height: calc(100% - 20px);
    min-height: 394px;
    background-image:url('../img/catalog-hover-img1.png');

    .catalog-root__item-title,
    .catalog-root__menu-link,
    .catalog-root__menu-more-link{
      color: #FFFFFF;
    }

    .catalog-root__item-icon-wrap{
      visibility: hidden;
    }
  }
}

.catalog-root__item-title{
  font-family: $RalewaySemiBold;
  font-size: 20px;
  line-height: 114%;
  margin-bottom: 28px;
}

.catalog-root__menu-list{
  //margin-bottom: 34px;
}

.catalog-root__menu-item{
  margin-bottom: 12px;
  @include last-mb-0
}

.catalog-root__menu-link{
  font-size: 14px;
  line-height: 140%;
  color: #7687A0;
}

.catalog-root__menu-more{
  margin-top: 34px;
}

.catalog-root__menu-more-link{
  font-family: $RalewaySemiBold;
  font-size: 14px;
  line-height: 140%;
  color: #7687A0;
  
}

.catalog-root__item-icon-wrap{
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  right: 20px;
  bottom: 20px;
  
}

.banner-opt__wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 20px);
  min-height: 394px;
  padding: 30px 30px 30px 30px;
  box-shadow: 0px 4px 24px rgba(218, 224, 232, 0.5);
  border-radius: 5px;
  background-image:url('../img/banner-opt-img.png');
}

.banner-opt__title{
  font-family: $RalewaySemiBold;
  font-size: 27px;
  line-height: 120%;
  color: #FFFFFF;
}

.catalog-root__img-wrap{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.show-more{
  font-family: $RalewaySemiBold;
  font-size: 16px;
  line-height: 155%;
  //color: #095DBA;
}


.title__wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;

  .button-blue{
    padding: 0 32px;
    
  }
}

.orders__wrap-head{
  margin-bottom: 15px;
}

.gray__block{
  position: relative;
  padding: 30px 40px;
  background: #EFF6FA;
}

.alarm-text{
  font-family: $RalewaySemiBold;
  font-size: 16px;
  line-height: 155%;
}

.button-close{
  position: absolute;
  top: 10px;
  right: 10px;
  background-image:url('../img/icon-close--small.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
}



.orders-head__check{
  margin-left: 5px;
  
  .checkbox-wrap{
    margin-bottom: 10px;
    @include last-mb-0
  }

  .checkbox{
    margin-right: 14px;
  }

  .checkbox__text{
    font-family: $RalewayMedium;
    font-size: 14px;
    line-height: 180%;
    color: #212833;
  }
}

.delete-favorite{
  font-size: 14px;
  line-height: 180%;
  color: #212833;
}

.button-link{
  font-size: 14px;
  line-height: 180%;
  color: #095DBA;
}

.orders-list__wrap{
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(218, 224, 232, 0.6);
  border-radius: 5px;
  margin-bottom: 30px;
}

.order-item{
  display: flex;
  align-items: center;
  padding: 50px 61px 15px 44px;

  .checkbox-wrap{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    @include last-mb-0
  }

  .checkbox{
    margin-right: 20px;
  }
  
}

.bottom-line{
  border-bottom: 1px solid #CCD8DE;
}

.order-item__img-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  //height: 120px;
  margin-right: 40px;
}

.order-item-img{
  width: 100%;
}

.order-item__name,
.order-item__quantity{
  font-family: $RalewaySemiBold;
  font-size: 16px;
  line-height: 120%;
  
}

.order-item__quantity{
  margin: 0 50px;
}

.order-item__cost-wrap{
  margin-left: 30px;
  margin-right: 30px;
}

.order-item__cost-top{
  font-family: $RalewaySemiBold;
  font-size: 26px;
  line-height: 130%;
  color: #3A3B47;
}

.order-item__cost-bottom{
  //margin-top: 10px;
  font-family: $RalewayRegular;
  font-size: 14px;
  line-height: 180%;
  text-decoration-line: line-through;
  color: #676D78;
}

.order-item__count__wrap{
  display: flex;
  align-items: center;
  margin: 0 30px;

  .count__wrap{
    margin-right: 0;
  }

  .count-minus{
    padding: 6px 5px 7px 15px;
  }

  .count-plus{
    padding: 6px 15px 7px 5px;
  }
  
}

.orders-list__bottom{
  padding: 28px 61px 28px 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.gray-block__total-cost{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  background: #EFF6FA;
  border-radius: 5px;
  margin-bottom: 40px;
}

.total-cost__wrap{
  display: flex;
  align-items: center;
}

.total-cost__decs-wrap{
  margin-right: 15px;
}

.total-cost__title{
  font-family: $RalewaySemiBold;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 10px;
}

.total-cost__weight{
  font-family: $RalewaySemiBold;
  font-size: 14px;
  line-height: 140%;
  color: #676D78;
}


.coupon-input__wrap{
  //width: 100%;
  display: flex;
  align-items: center;

  .button-blue{
    @include width-flex(241px)
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .coupon-input{
    @include width-flex(287px)
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #FFFFFF;
    border: 1px solid rgba(204, 216, 222, 0.5);
    height: 50px;
    padding: 0 25px;
  }
}


.order-step__head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 44px 15px 18px;
  border-bottom: 1px solid #CCD8DE;
}



.step__head-num{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background: #F4F8FA;
  border-radius: 50%;
  font-family: $RalewaySemiBold;
  font-size: 16px;
  margin-right: 22px;
}

.step__head-name{
  font-family: $RalewaySemiBold;
  font-size: 20px;
  line-height: 125%;
}

.order-step__bottom{
  display: flex;
  //justify-content: space-between;
  padding: 27px 44px;
  border-top: 1px solid #CCD8DE;
  margin-top: 45px;
  
  .button-blue{
    padding-left: 53px;
    padding-right: 53px;
  }

  .button-gray{
    padding-left: 53px;
    padding-right: 53px;
  }
}

.order-step__mb{
  margin-bottom: 30px;
  @include last-mb-0
}

.step__head-collaps{
  margin-bottom: 15px;
  @include last-mb-0
  
  .order-step__head{
    background: #F4F8FA;
    border-radius: 5px;
    border-bottom: none;
  }

  .step__head-num{
    background: #FFFFFF;
  }
}

.final-cost__block{
  padding: 37px 0 28px 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(218, 224, 232, 0.6);
  border-radius: 5px;
  
}

.final-cost__item{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 18px;
  @include last-mb-0
}

.final-cost__item.gray__block{
  padding: 11px 20px;
  margin-top: 25px;
  

  .final-cost__left{
    line-height: 1;
    color: #095DBA;
  }

  .order-item__cost-top{
    line-height: 1;
    color: #095DBA;
  }
  
}


.final-cost__left{
  font-family: $RalewaySemiBold;
  font-size: 14px;
  line-height: 1;
  color: #828282;
  
}

.final-cost__right{

  .order-item__cost-wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    justify-content: flex-end;
  }
  
  .order-item__cost-top{
    line-height: 1;
    font-size: 16px;
  }

  .order-item__cost-bottom{
    margin-top: 10px;
    line-height: 1;
    font-size: 14px;
  }
}

.order-item__cost-top.price.final-cost-big{
  font-size: 20px;
}

.order-step__head-left{
  display: flex;
  align-items: center;
}

.orders-list__wrap.step-next{

  padding-bottom: 45px;

  .order-item{
    padding-top: 30px;
    padding-bottom: 15px;
    
  }

  .order-item__img-wrap{
    width: 130px;
    margin-right: 30px;
  }

  .order-item__name{
    font-family: $RalewayMedium;
    font-size: 14px;
    //line-height: 130%;
  }

  .order-item__quantity{
    font-family: $RalewayMedium;
    font-size: 14px;
    margin: 0 100px;
  }

  .order-item__cost-top{
    font-size: 20px;
  }
}


.order-step__middle{
  padding: 40px 95px 0 40px;

  .input__wrap{
    margin-bottom: 20px;
    //&:first-child{
    //  margin-top: 20px;
    //}
  }

  .textarea{
    height: 138px;
  }
  
}

.order-step__middle-wrap{
  display: flex;
  align-items: flex-start;

  .checkbox-wrap{
    margin-right: 20px;
    @include last-mr-0
  }
}

.middle-type__block{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 173px;
  height: 163px;
  padding: 10px;
  border: 1px solid rgba(204, 216, 222, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
}

.order-step__middle-title{
  font-family: $RalewaySemiBold;
  font-size: 16px;
  margin-bottom: 20px;
}

.middle-type__name{
  font-size: 14px;
  line-height: 125%;
}

.middle-type__cost{
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 11px;
  font-size: 14px;
  line-height: 130%;
  border-radius: 0px 5px;
  background: #EFF6FA;
  
}

.middle-decs__wrap{
  padding: 28px 25px;
  background: #EEF4FA;
  border-radius: 5px;
  margin-left: 58px;
}

.middle-decs__title{
  font-family: $RalewaySemiBold;
  font-size: 16px;
  line-height: 150%;
  color: #0E1E2E;
  margin-bottom: 23px;
}

.middle-decs__text{
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 12px;
}

.middle-decs__cost-title{
  font-size: 14px;
  line-height: 130%;
  color: #7687A0;
  margin-bottom: 2px;
}

.middle-decs__cost{
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 23px;
}

.step-next__block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 108px 26px 44px;
}

.step-next__block-left{
  display: flex;
  align-items: center;
  width: 80%;
}

.step-next__img-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(204, 216, 222, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
  min-width: 90px;
  height: 67px;
  padding: 11px;
  margin-right: 30px;
}

.step-next-img{
  max-width: 100%;
  max-height: 100%;
}

.step-next__name{
  font-size: 14px;
  line-height: 130%;
}

.step-next__block-right{
  display: flex;
  justify-content: flex-end;
}

.orders-bottom__wrap{

  .button-blue{
    font-family: $RalewaySemiBold;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    margin-right: 20px;
  }

  .button-gray{
    font-family: $RalewaySemiBold;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
}

.agreement-text{
  width: 50%;
  font-family: $RalewayMedium;
  font-size: 12px;
  line-height: 150%;
  color: #676D78;
  margin-top: 20px;
}

.inputs-user{
  width: 59%;

  .tab-pane{
    padding-bottom: 0;
  }
}

.info-block{
  margin-bottom: 50px;
  @include last-mb-0

  .h3{
    margin-bottom: 20px;
  }

  .p{
    font-family: $RalewayRegular;
    font-size: 16px;
    line-height: 160%;
    //letter-spacing: 0.1px;
    color: #333333;
    margin-bottom: 19px;
    @include last-mb-0
  }

  .decs-item{
    margin-bottom: 14px;
  }
}

.info-block__title{
  font-family: $RalewaySemiBold;
  font-size: 20px;
  line-height: 120%;
  color: #333333;
  margin-bottom: 12px;
}

.cards-img__wrap{
  display: flex;
  margin-bottom: 20px;
}
.card-img__item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97px;
  height: 60px;
  background: #EFF6FA;
  border-radius: 2px;
  margin-right: 20px;
  @include last-mr-0
}

.card-img{
  //display: flex;
  width: auto;
  max-width: 55px;
}


.question-block__wrap{
  padding: 45px 48px;

  .input__wrap{
    margin-bottom: 10px;
    @include last-mb-0
  }
  
  .login-input{
    padding: 14px 20px 15px 20px;
  }

  //.placeholder{
  //  font-family: $RalewayMedium;
  //  font-size: 14px;
  //  line-height: 150%;
  //  color: #676D78;
  //}

  .button-blue{
    width: 100%;
    font-size: 16px;
  }

  .agreement-text{
    width: 100%;
    margin-top: 15px;
  }
}

.question-block__text{
  font-family: $RalewayMedium;
  font-size: 14px;
  line-height: 155%;
  margin-bottom: 21px;
}

.tabs-docs__wrap{
  
  .tabs-docs__item{
    padding: 18px 28px 16px 22px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(218, 224, 232, 0.6);
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .tabs-docs__format{
    margin-bottom: 5px;
  }
}

.block-wrap{
  background: #FFFFFF;
  box-shadow: 0px 4px 23px rgba(218, 224, 232, 0.5);
  border-radius: 5px;
}


.contact-block__wrap{
  padding: 30px 35px;
  height: 100%;

  .social__list{
    justify-content: flex-start;
    margin-bottom: 0;
  }
  
  .social-img_inst{
    background-image:url('../img/social-inst-blue.svg');
  }
  .social-img_fb{
    background-image:url('../img/social-fb-blue.svg');
  }
  .social-img_you{
    background-image:url('../img/social-you-blue.svg');
  }
  .social-img_tel{
    background-image:url('../img/social-tel-blue.svg');
  }
  .social-img_tw{
    background-image:url('../img/social-tw-blue.svg');
  }
  

  .social-link{
    background: #F4F8FA;
    &:hover{
      background: linear-gradient(80.31deg, #2C6AB0 4.56%, #539EF2 95.43%);

      .social-img_inst{
        background-image:url('../img/social-inst-white.svg');
      }
      .social-img_fb{
        background-image:url('../img/social-fb-white.svg');
      }
      .social-img_you{
        background-image:url('../img/social-you-white.svg');
      }
      .social-img_tel{
        background-image:url('../img/social-tel-white.svg');
      }
      .social-img_tw{
        background-image:url('../img/social-tw-white.svg');
      }
    }
  }


  
}

.contact-block__item{
  margin-bottom: 20px;
  @include last-mb-0
}

.contact-info{
  display: block;
  font-size: 20px;
  line-height: 125%;
  color: #0E1E2E;
  font-family: $RalewaySemiBold;
  margin-bottom: 4px;
}

.contact-info-link{
  &:hover{
    color: #095DBA;
  }
}

.contact-block__comment{
  font-family: $RalewayRegular;
  font-size: 14px;
  line-height: 150%;
  color: #929BA9;
}

.address-block__head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.maps__wrap{
  width: 100%;
  height: 350px;
}

.contact-inputs__wrap{
  display: flex;
  
  
  .input__wrap{
    margin-bottom: 20px;
    //@include last-mb-0
    
  }

  .textarea{
    height: 138px;
  }

  .agreement-text{
    width: 65%;
    margin-top: 0;
  }
  
  .button-blue{
    padding: 0 46px;
  }

}

.captcha__wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $RalewaySemiBold;
  font-size: 18px;
  line-height: 155%;
  height: 61px;
  background: #EEF4FA;
  border-radius: 5px;
}

.contact-inputs__left{
  width: 36%;
  margin-right: 20px;
}

.contact-inputs__right{
  width: calc(100% - 36% - 20px);
}



.address-head__wrap{
  padding: 5px 0;
  
  .address-item{
    font-family: $RalewayMedium;
    font-size: 16px;
    line-height: 180%;
    color: #7687A0;
  }
}

.address-item__wrap{
  padding: 32px 0;
}

.column-first{
  font-weight: 600;
}


.address-item__text{
  display: block;
  color: #212833;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 15px;
  @include last-mb-0
}

.lk__block-right{
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(218, 224, 232, 0.6);
  border-radius: 5px;

  .accord-wrap--js.active{
    .accord-title--js {
      font-weight: 500;
    }

    .lk__block-link{
      font-weight: 500;
    }
  }
}

.lk__block-item{
  display: block;
  font-size: 14px;
  line-height: 130%;
  padding: 16px 20px;
}

.lk__block-item.active{
  font-weight: 600;
  background: #EEF3FA;

  .lk__block-link{
    color: #095DBA;
  }
}

.lk__block-link{
  color: #212833;
}

.lk__block-bottom{
  border-top: 1px solid #CCD8DE;

  .lk__block-link{
    display: flex;
    align-items: center;
    &:before{
      content:'';
      @include background-contain('icon-exit.svg')
      @include width-flex(26px)
      height: 26px;
      margin-right: 8px;
      
    }
  }
  
}



.update-check{
  display: flex;
  align-items: center;
  font-family: $RalewaySemiBold;
  font-size: 16px;
  line-height: 155%;
  margin-bottom: 12px;
  &:before{
    content: '';
    @include background-contain('icon-check-green.svg')
    @include width-flex(16px)
    height: 16px;
    margin-right: 12px;
  }
}

.update-info{
  font-family: $RalewayMedium;
  font-size: 14px;
  line-height: 130%;
  color: #7687A0;
  margin-bottom: 5px;
  @include last-mb-0
}

.lk__info-block{
  padding-bottom: 50px;
  margin-bottom: 50px;
  @include last-mb-0
  border-bottom: 1px solid #CCD8DE;
  &:last-child{
    border-bottom: none;
  }
}

.lk__info-wrap{
  
}

.lk__info-title{
  font-family: $RalewaySemiBold;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 41px;
}

.lk__info-item{
  margin-bottom: 27px;
  @include last-mb-0
}

.lk__info-link{
  position: relative;
  color: #212833;
  &:hover{
    font-weight: 600;
  //  position: absolute;
  //  top: 0;
  //  right: 100px;
  //  &:after{
  //    content: 'Изменить';
  //    font-family: $RalewayMedium;
  //    font-size: 14px;
  //    line-height: 130%;
  //    color: #095DBA;
  //  }
  }
}

.history-orders__wrap{
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(218, 224, 232, 0.6);
  border-radius: 5px;
  margin-bottom: 10px;
  //@include last-mb-0
}

.history-orders__item{
  padding: 20px 30px 20px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #212833;
  
}

.link-hover{
  &:hover{
    .history-orders__title{
      color: #095DBA;
    }
  }
}

.history-orders__title{
  font-family: $RalewayMedium;
  font-size: 18px;
  line-height: 155%;
  margin-bottom: 5px;
}

.text-small-gray{
  font-family: $RalewayMedium;
  font-size: 14px;
  line-height: 130%;
  color: #7687A0;
}

.history-orders__status{
  font-size: 14px;
}

.order-complete{
  
  .history-orders__status{
    display: flex;
    align-items: center;
    color: #46B65E;
    &:before{
      content: '';
      @include background-contain('icon-check-green.svg')
      @include width-flex(16px)
      height: 16px;
      margin-right: 12px;
    }
  }
}

.order-process{
  .history-orders__status{
    display: flex;
    align-items: center;
    color: #FF8C26;
    &:before{
      content: '';
      @include background-contain('icon-check-orange.svg')
      @include width-flex(16px)
      height: 16px;
      margin-right: 12px;
    }
  }
}

.order-cancel{
  .history-orders__status{
    display: flex;
    align-items: center;
    color: #F43F3F;
    &:before{
      content: '';
      @include background-contain('icon-check-red.svg')
      @include width-flex(16px)
      height: 16px;
      margin-right: 12px;
    }
  }
}

.back-link {
  font-size: 12px;
  color: #212833;
}

.lk-order-detail{
  .history-orders__wrap{
    background: #F4F8FA;
    box-shadow: none;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
  }

  .order-step__bottom{
    border-top: none;
    margin-top: 0;
    padding-right: 28px;
    padding-top: 8px;
    .button-blue{
      padding: 0 62px;
    }
  }

  
}

.order-detail__info-block{
  padding: 10px 25px 25px 25px;
  border-bottom: 1px solid #CCD8DE;
  margin-bottom: 15px;
  &:last-child{
    border-bottom: none;
  }

  .lk__info-title{
    margin-bottom: 25px;
  }

  .text-small-gray{
    margin-bottom: 14px;
  }

  .lk__info-value{
    font-family: $RalewaySemiBold;
  }
  

  .order-item{
    padding: 50px 40px 15px 44px;
  }
}

.section-reclamation{
  
  .title__mb{
    margin-bottom: 36px;
  }
  
  .h3__mb{
    margin-bottom: 34px;
  }

  .decs-item{
    margin-bottom: 18px;
  }

  .decs-item__text{
    padding-right: 0;
  }

  .input__wrap{
    margin-bottom: 20px;
    @include last-mb-0
  }

  .agreement-text{
    width: 100%;
  }

  .button-blue{
    margin-top: 10px;
    padding: 0 63px;
  }
}

.section-profile{
  .button-blue{
    margin-top: 10px;
    padding: 0 75px;
  }
}


.legal-profile__button--wrap{
  margin-top: 20px;

  .button-gray{
    color: #7687A0;
    margin-right: 20px;
    @include last-mr-0
    padding: 0 50px;
    &:hover{
      color: #FFFFFF;
    }
  }
}

.add-legal{

  .title__mb{
    margin-bottom: 44px;
  }
  
  .blue-button-tabs{
    margin-bottom: 37px;
  }

  .lk__info-title{
    margin-bottom: 25px;
  }

  .input__wrap{
    margin-bottom: 21px;
  }

  .button-blue{
    margin-top: 15px;
    padding: 0 60px;
    font-family: $RalewaySemiBold;
    font-size: 16px;
  }

  .load-file{
    margin-bottom: 20px;
  }
}


/* Модальные окна */

.close-modal{
  position: absolute;
  @include background-contain('icon-close--small.svg')
  @include width-flex(20px)
  height: 20px;
  border: none;
  border-radius: 0;
  background-color: #FFFFFF;
}

.modal-body{
  padding: 0;
}

.modal-big{
  .modal-content{
    width: 743px;
    padding: 70px 84px 102px 84px;
  }

  .close-modal{
    top: 56px;
    right: 47px;
  }

  .inputs-block-modal{
    margin-bottom: 30px;
  }
}

.modal-middle{
  .modal-content{
    width: 683px;
    padding: 60px 90px 60px 70px;
  }

  .close-modal{
    top: 28px;
    right: 28px;
  }
}

.modal-small{
  .modal-content{
    width: 594px;
    padding: 56px 50px 86px 50px;
    
  }

  .close-modal{
    top: 28px;
    right: 28px;
  }

  .modal-head{
    margin-bottom: 30px;
  }
  
  .h2{
    font-family: $RalewaySemiBold;
  }
  
  .p{
    font-family: $RalewayMedium;
    font-size: 16px;
    line-height: 155%;
    margin-bottom: 30px;
  }

  .modal-bottom-wrap{
    width: calc(100% - 80px);
    margin-left: 40px;
    //margin-right: 20px;
  }
  
  .button-blue{
    margin-top: 15px;
    font-family: $RalewaySemiBold;
    font-size: 18px;
  }

  .agreement-text{
    text-align: center;
    font-family: $RalewayMedium;
    font-size: 14px;
    width: 100%;
  }
  
}

.modal-small.done{
  .modal-content{
    padding: 113px 90px;
  }
  .modal-subtitle{
    margin-bottom: 30px;
  }
  .p{
    margin-bottom: 0;
  }
}

.modal-content{
  position: relative;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: none;

  .button-blue{
    width: 100%;
    height: 61px;
  }

}

.modal-head{
  margin-bottom: 45px;
}

.inputs-block-modal{

  .input__wrap{
    margin-bottom: 20px;
  }

  .contact-inputs__left{
    width: calc(50% + 20px);
  }
}

.modal-info-block{
  padding-bottom: 32px;
  border-bottom: 2px solid rgba(204, 216, 222, 0.5);
  margin-bottom: 35px;
  &:last-child{
    border-bottom: none;
    margin-bottom: 0;
  }
}

.modal-info-block__top{
  font-family: $RalewaySemiBold;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 20px;
}

.modal-info-block__bottom--item{
  width: 35%;
  margin-right: 20px;

  .address-item__text{
    margin-bottom: 5px;
  }
}

.modal-product-add{
  .product__item{
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 40px;
  }

  .product__item-top{
    min-width: 120px;
    height: auto;
    margin-right: 25px;
  }

  .product__item-desc--wrap{
    padding-right: 40px;
  }

  .price__block{
    min-height: 100%;
  }

  .product-price{
    margin-bottom: 25px;
  }

  .count-minus,
  .count-plus{
    padding-top: 7px;
    padding-bottom: 7px;
  }
  
  .count__wrap{
    margin-right: 0;
  }
}

.modal-button-wrap{
  display: flex;
  justify-content: space-between;

  .button-blue,
  .button-gray{
    margin-top: 0;
    width: 47%;
    height: 50px;
    font-family: $RalewaySemiBold;
    font-size: 16px;
    &:hover{
      background: #095DBA;
    }
  }
}

.code-inputs-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .input__wrap{
    width: 67px;
    
  }
  .login-input{
    font-family: $RalewayMedium;
    font-size: 24px;
  }
}

.modal-subtitle{
  text-align: center;
  font-family: $RalewaySemiBold;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 40px;
}


.paginator-wrap {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.paginator{
  display: flex;
  align-items: center;
}

.paginator-arrow-left,
.paginator-arrow-right{
  display: block;
  @include background-contain('icon-arrow-right-gray.svg')
  @include width-flex(40px)
  height: 40px;
}

.paginator-arrow-left{
  transform: rotate(180deg);
  margin-right: 20px;
}

.paginator-arrow-right{
  margin-left: 20px;
}

.paginator-item{
  padding: 17px;
  font-family: $RalewayMedium;
  font-size: 16px;
  color: #212833;
  margin-right: 10px;
}

.paginator-item.active{
  color: #095DBA;
}

.paginator-item.last {
  margin-right: 0;
}


.contacts-map{
  width: 100%;
  height: 350px;
}



//@import '_misc/media';

