extends ../templates/template.pug
block content
  section
    .container
      .not-found__block
        .not-found__img-wrap
          img(src='../img/not-found-img.png' alt='', title='').not-found-img
        .not-found__info
          h1.title.not-found__title Увы, страница не найдена...
          .not-found__text Кажется,  страница потерялась. Мы разберемся с этим недоразумением,  а пока предлагаем вам вернуться на главную страницу или перейти в каталог
          .not-found__buttons
            a(href="javascript:void(0);").button-blue.mr-lg-3 Вернуться на главную
            a(href="javascript:void(0);").button-gray Перейти в каталог
            
            
  
          
          
          
          
  include ../_components/slider-products

  +email__block
