extends ../templates/template.pug
block content
  +breadcrumb
  section
    .container
      .row
        .col-lg-12
          .title__wrap.title__mb
            h1.title Корзина
            a(href="javascript:void(0);").button-blue Продолжить покупки
      .row
        .col-lg-12
          .gray__block.decs-block
            a(href="javascript:void(0);").button-close
            .alarm-text Обратите внимание, что минимальная сумма заказа с доставкой от 1000 рублей
      .orders__wrap-head
        .row
          .col-lg-2
            .orders-head__check
              label.checkbox-wrap
                input(type='checkbox').checkbox
                .checkbox__text Выбрать всё
          .col-lg-4
            a(href="javascript:void(0);").delete-favorite Удалить выбранное (1)
          .col-lg-6.justify-content-lg-end.d-flex
            a(href="javascript:void(0);").button-link Очистить корзину
            
      .row
        .col-lg-12
          .orders-list__wrap
            +order-item({
              name:'Средство для очистки колесных дисков слово «Disk», 5 л',
              top_cost:'3200 ₽',
              bottom_cost:'26 496 ₽'
            })
            +order-item({
              name: 'Средство для очистки колесных дисков слово «Disk», 5 л',
              top_cost: '1260 ₽'
            })
            .orders-list__bottom 
              p.p.mb-0 Вы удалили товар Средство для очистки колесных дисков слово «Disk»
              a(href="javascript:void(0);").button-link Восстановить  
          .gray-block__total-cost
            .total-cost__wrap
              .total-cost__decs-wrap 
                .total-cost__title Итого (без доставки)
                .total-cost__weight Общий вес брутто 10л
              .order-item__cost-wrap
                .order-item__cost-top.price 36 496 ₽
                .order-item__cost-bottom.price 26 496 ₽
            .coupon-input__wrap
              input(type='text' placeholder='Введите код купона для скидки').coupon-input
              +button-blue('Оформить заказ')
      .row
        .col-lg-12
          +advant-block
          
  include ../_components/slider-products

  +email__block
