extends ../templates/template.pug
block content
  +breadcrumb
  section.section
    .container
      .row
        .col-lg-12
          h1.title.title__mb.mb-lg-5 Ваша корзина пуста
          p.p Воспользуйтесь поиском или <a href="#">перейдите в каталог</a>, чтобы найти всё что нужно
          
            

  include ../_components/slider-products

  +email__block
