extends ../templates/template.pug
block content
  +breadcrumb
  section
    .container
      h1.title.title__mb Каталог товаров
      .catalog-root__wrap
        .row
          +catalog-root-item({
            title: 'Для дома',
            menu_item1: 'Средства для рук',
            menu_item2: 'Дезинфекция дома',
            menu_item3: 'Стирка',
            menu_item4: 'Для посудомоечных машин',
            menu_more: 'Еще 5',
            img: 'catalog-root-icon1.svg'
          })
          +catalog-root-item({
            title: 'Пищевые производства',
            menu_item1: 'Мясопереработка',
            menu_item2: 'Молочные предприятия',
            menu_item3: 'Пиво и напитки',
            menu_item4: 'Животноводство (фермы)',
            menu_item5: 'Птицефабрики',
            img: 'catalog-root-icon1.svg'
          })
          +catalog-root-item({
            title: 'Химчистка и прачечная',
            menu_item1: 'Прачечная',
            menu_item2: 'Аквачистка',
            menu_item3: 'Химчистка в PERC и KWL',
            menu_item4: 'Химчистка в Циклосилоксане D5',
            img: 'catalog-root-icon2.svg'
          })
          +catalog-root-item({
            title: 'Автохимия и детейлинг',
            menu_item1: 'Кузов (ЛКП)',
            menu_item2: 'Интерьер',
            menu_item3: 'Диски',
            menu_item4: 'Резина',
            img: 'catalog-root-icon3.svg'
          })
        .row
          +catalog-root-item({
            title: 'Дезинфекция',
            menu_item1: 'Руки',
            menu_item2: 'Поверхности',
            menu_item3: 'Бельё в процессе стирки',
            menu_item4: 'Пищевая промышленность',
            menu_item5: 'Медицинские учреждения',
            img: 'catalog-root-icon4.svg'
          })
          +catalog-root-item({
            title: 'Для ремонта',
            menu_item1: 'Удаление старых обоев',
            menu_item2: 'Против роста плесени',
            menu_item3: 'Грунтовки для строительных работ',
            menu_item4: 'Пропитки для гирофобизации',
            img: 'catalog-root-icon5.svg'
          })
          +catalog-root-item({
            title: 'Клининг (HoReCa)',
            menu_item1: 'Уборка отелей и жилых помещений',
            menu_item2: 'Уборка ресторанов и кафе',
            img: 'catalog-root-icon6.svg'
          })
          .col-lg-3
            +banner-opt
          
            
  
  include ../_components/slider-products
    
  section.section
    .container
      .row
        .col-lg-7
          h2.subtitle.title__mb Стирка и аквачистка пуховиков
          .decs-block
            p.decs
              | Обычно такие изделия называют 
              | «пуховиками», хотя порой пуха так 
              | такового они не содержат. Но для 
              | удобства изложения и мы будем 
              | использовать слово «пуховик».
            p.decs
              | Этот вид верхней одежды стал 
              | особенно популярным, благодаря 
              | низкой стоимости, легкому весу 
              | и простоте чистки по сравнению 
              | с шубами, дубленками и теплыми 
              | кожаными куртками. Причем часто 
              | они имеют сопоставимые теплоизолирующие 
              | свойства, выглядят красиво и элегантно.
          a(href="javascript:void(0);").show-more.arrow-little Показать больше
            
        .col-lg-5
          .catalog-root__img-wrap
            img(src='../img/catalog-root-img.jpg' alt='', title='').catalog-root-img
            

  +email__block            
