extends ../templates/template.pug
block content
  +breadcrumb
  section.section
    .container
      h1.title.title__mb Для дома
      .row
        .col-lg-3
          .categories__block
            .categories__block-title Категории
            ul.categories__list
              each val in ['Средства для рук','Дезинфицирующее мыло для рук','Дезинфекция поверхностей','Дезинфицирующий стиральный порошок','Средства для ручной мойки посуды','Средства для кухни и ванной','Средства для санузлов','Средства для мойки полов','Средства для чистки кожи','Средства для стёкол и зеркал','Средства для грилей и коптилен','Универсальные чистящие средства','Средства для ремонта','Специальные средства']
                li.categories__item
                  a(href="javascript:void(0);").categories__link !{val}
            
        .col-lg-9
          .catalog__head
            .catalog__sort
              .catalog__sort-title Сортировка:
              ul.catalog__sort-list
                li.catalog__sort-item.item-active-js
                  a(href="javascript:void(0);").catalog__sort-link Популярные
                li.catalog__sort-item.item-active-js
                  a(href="javascript:void(0);").catalog__sort-link По цене (возрастание)
                li.catalog__sort-item.item-active-js
                  a(href="javascript:void(0);").catalog__sort-link По цене (убывание)
            .catalog__view
              .catalog__sort-title Вид:
              .icons-sort
                .icon-sort.icon-tiles.item-active-js.active
                .icon-sort.icon-list.item-active-js
          .row
            .col-lg-8
              .catalog__block
                - for(var i=0; i<7; i++)
                  +product__item
              +paginator
                        
            .col-lg-4
              +filter(true)
          
  include ../_components/banner-middle-block
  
  include ../_components/slider-products
  
  +email__block        

