extends ../templates/template.pug
block content
  +breadcrumb
  section.section
    .container
      h1.title.title__mb Контактная информация
      .info-block
        .row
          .col-lg-4
            .contact-block__wrap.block-wrap
              .contact-block__item
                a(href="tel:+7 (495) 120-90-37").contact-info.contact-info-link +7 (495) 120-90-37
                .contact-block__comment Телефон центрального офиса
              .contact-block__item
                a(href="tel:+7 (800) 500-74-09").contact-info.contact-info-link +7 (800) 500-74-09
                .contact-block__comment Телефон центрального офиса
          .col-lg-4
            .contact-block__wrap.block-wrap
              .contact-block__item
                a(href="mailto:info@плекс.рф").contact-info.contact-info-link info@плекс.рф
                .contact-block__comment Основной email
          .col-lg-4
            .contact-block__wrap.block-wrap
              .contact-block__item
                .contact-info Мы в социальных сетях
                .contact-block__comment Новости и акции
              ul.social__list
                li.social__item
                  a(href="javascript:void(0);").social-link
                    .social-img.social-img_inst
                li.social__item
                  a(href="javascript:void(0);").social-link
                    .social-img.social-img_fb
                li.social__item
                  a(href="javascript:void(0);").social-link
                    .social-img.social-img_you
                li.social__item
                  a(href="javascript:void(0);").social-link
                    .social-img.social-img_tel
                li.social__item
                  a(href="javascript:void(0);").social-link
                    .social-img.social-img_tw
      
      .info-block
        .row
          .col-lg-12
            .address-block__head
              h3.h3 Адреса магазинов
              ul.nav.nav-tabs.blue-button-tabs
                li.nav-item
                  a.nav-link.active(data-toggle='tab' href='#maps') На карте
                li.nav-item
                  a.nav-link(data-toggle='tab' href='#list') Списком
        .row
          .col-lg-12      
            .tab-content.address-block__tab-content
              #maps.tab-pane.fade.show.active
                .address-block__content
                  #map.contacts-map
                    .container.controls-wrap
                      .controls.controls__zoom(data-objects-view='map')
                    //    .controls__zoom-inner
                    //      #zoom-in.zoom-in
                    //        img(src='./img/zoom_plus-icon.png')
                    //      #zoom-out.zoom-out
                    //        img(src='./img/zoom_minus-icon.png')
              #list.tab-pane.fade
                .address-block__content
                  .address-head__wrap.bottom-line
                    .row
                      .col-lg-5
                        .address-item Адрес
                      .col-lg-2
                        .address-item Режим работы
                      .col-lg-2
                        .address-item Телефон
                      .col-lg-3
                        .address-item Email
                  .address-item__wrap.bottom-line  
                    .row
                      .col-lg-5
                        .address-item
                          .address-item__text.column-first К142712, Московская область, Ленинский район, Горки Ленинские, Каширское шоссе, квартал «Пронино», влад. 1, стр. 1.
                      .col-lg-2
                        .address-item
                          .address-item__text пн-пт: 9:00-19:00
                          .address-item__text сб-вс: 10:00-16:00
                      .col-lg-2
                        .address-item
                          a(href="tel:+7 (495) 120-90-37").address-item__text +7 (495) 120-90-37
                          a(href="tel:+7 (800) 500-74-09").address-item__text +7 (800) 500-74-09
                      .col-lg-3
                        .address-item
                          a(href="mailto:info@плекс.рф").address-item__text info@плекс.рф
                  .address-item__wrap.bottom-line
                    .row
                      .col-lg-5
                        .address-item
                          .address-item__text.column-first 123308, Москва, 2-й Силикатный проезд, 9c2
                      .col-lg-2
                        .address-item
                          .address-item__text пн-пт: 9:00-19:00
                          .address-item__text сб-вс: 10:00-16:00
                      .col-lg-2
                        .address-item
                          a(href="tel:+7 (495) 120-90-37").address-item__text +7 (495) 120-90-37
                          a(href="tel:+7 (800) 500-74-09").address-item__text +7 (800) 500-74-09
                      .col-lg-3
                        .address-item
                          a(href="mailto:kosmanager@ya.ru").address-item__text kosmanager@ya.ru      
                          a(href="mailto:service@6006911.ru").address-item__text service@6006911.ru   



      .info-block
        h3.h3 Обратная связь
        .row
          .col-lg-8
            .contact-inputs__wrap
              .contact-inputs__left
                +input__wrap({
                  type: 'text',
                  placeholder: 'Имя'
                })
                +input__wrap({
                  type: 'tel',
                  placeholder: 'Телефон'
                })
                
              .contact-inputs__right   
                .input__wrap
                  textarea(type='text' placeholder='Комментарий').textarea
               
            .contact-inputs__wrap
              .contact-inputs__left
                .input__wrap
                  .captcha__wrap 88 / 8 =
              .contact-inputs__right
                +input__wrap({
                  type: 'text',
                  placeholder: 'Введите ответ'
                })
            .row
              .col-lg-12
                .contact-inputs__wrap.align-items-lg-center.justify-content-lg-between.mt-lg-1
                  .agreement-text Нажимая кнопку «Отправить», я даю согласие на обработку своих персональных данных в соответствии с <a href="#">Политикой конфиденциальности</a>
                  a(href="javascript:void(0);").button-blue Отправить

          .col-lg-3.offset-lg-1
            +banner-opt

  +email__block
  
