extends ../templates/template-index


block content
  .container.py-50
    .row.page-list.mt-4
      .col-md-7.mx-auto
        h2.mb-4.pb-10.border-bottom Список страниц
        ul.pl-0.mb-4
          li.mb-2
            a(href="main.html", style="") Главная
          li.mb-2
            a(href="catalog-root.html", style="") Каталог (корневой)
          li.mb-2 
            a(href="catalog.html", style="") Каталог (плитка+строка)
          li.mb-2 
            a(href="product-detail.html", style="") Карточка товара
          li.mb-2
            a(href="404.html", style="") Страница 404
        h3.mb-4.pb-10.border-bottom Регистрация\вход
        ul.pl-0.mb-4
          li.mb-2
            a(href="registration.html", style="") Регистрация
        h3.mb-4.pb-10.border-bottom Новости, видео
        ul.pl-0.mb-4
          li.mb-2
            a(href="news.html", style="") Новости и статьи
          li.mb-2
            a(href="news-item.html", style="") Новость
          li.mb-2
            a(href="video.html", style="") Видео 
        h3.mb-4.pb-10.border-bottom Корзина
        ul.pl-0.mb-4
          li.mb-2
            a(href="basket.html", style="") Корзина
          li.mb-2
            a(href="basket-empty.html", style="") Корзина (пустая)
          li.mb-2
            a(href="order-step-1.html", style="") Оформление заказа (шаг 1)
          li.mb-2
            a(href="order-step-2.html", style="") Оформление заказа (шаг 2)
          li.mb-2
            a(href="order-step-3.html", style="") Оформление заказа (шаг 3)
          li.mb-2
            a(href="order-step-4.html", style="") Оформление заказа (шаг 4)
          li.mb-2
            a(href="order-step-4-user.html", style="") Оформление заказа (шаг 4, для авторизованных)
        h3.mb-4.pb-10.border-bottom Информационные страницы
        ul.pl-0.mb-4  
          li.mb-2
            a(href="pay.html", style="") Как купить 
          li.mb-2
            a(href="documentation.html", style="") Документация
          li.mb-2
            a(href="contacts.html", style="") Контакты 
        h3.mb-4.pb-10.border-bottom ЛК Физлицо
        ul.pl-0.mb-4
          li.mb-2
            a(href="lk_person_profile.html", style="") ЛК Физ.лицо: профиль 
          li.mb-2
            a(href="lk_person_orders.html", style="") ЛК Физ.лицо: история заказов 
          li.mb-2
            a(href="lk_person_order_detail.html", style="") ЛК Физ.лицо: детальная информация о заказе
          li.mb-2
            a(href="lk_person_docs.html", style="") ЛК Физ.лицо: документация
          li.mb-2
            a(href="lk_person_reclamation.html", style="") ЛК Физ.лицо: рекламация
        h3.mb-4.pb-10.border-bottom ЛК ИП
        ul.pl-0.mb-4
          li.mb-2
            a(href="lk_ip_profile.html", style="") ЛК ИП: профиль 
          li.mb-2
            a(href="lk_ip_docs.html", style="") ЛК ИП: документация
          li.mb-2
            a(href="lk_ip_orders.html", style="") ЛК ИП: история заказов 
          li.mb-2
            a(href="lk_ip_order_detail.html", style="") ЛК ИП: детальная информация о заказе
          li.mb-2
            a(href="lk_ip_reclamation.html", style="") ЛК ИП: рекламация
        h3.mb-4.pb-10.border-bottom ЛК Юр.лицо
        ul.pl-0.mb-4
          li.mb-2
            a(href="lk_legal_profile.html", style="") ЛК Юр.лицо: профиль 
          li.mb-2
            a(href="lk_legal_profile_add-company.html", style="") ЛК Юр.лицо: добавить организацию 
          li.mb-2
            a(href="lk_legal_profile_add-user.html", style="") ЛК Юр.лицо: добавить пользователя 
          li.mb-2
            a(href="lk_legal_reclamation.html", style="") ЛК Юр.лицо: рекламация
          li.mb-2
            a(href="lk_legal_orders.html", style="") ЛК Юр.лицо: история заказов 
          li.mb-2
            a(href="lk_legal_order_detail.html", style="") ЛК Юр.лицо: детальная информация о заказе
          li.mb-2
            a(href="lk_legal_docs.html", style="") ЛК Юр.лицо: документация
          li.mb-2
            a(href="lk_legal_status.html", style="") ЛК Юр.лицо: статусы заказов по юридическим лицам  




          //li.mb-2
          //  a(href="lk_person_orders.html", style="") Страница 404 
        //
        //  li.mb-2
        //    a(href="404.html", style="") Страница 404 
        //
        //  li.mb-2
        //    a(href="404.html", style="") Страница 404 
        //
          
        //
        //h2.mb-4.mt-4.pb-10.border-bottom Модальные окна
        //ul.pl-0.mb-4.mt-4
        //  li.mb-2
        //    a(href="#modal-recovery-pass" data-toggle="modal") Восстановить пароль
        //  li.mb-2
        //    a(href="#modal-call" data-toggle="modal") Заказать звонок
        //  li.mb-2
        //    a(href="#modal-recovery-pass-success" data-toggle="modal") Восстановить пароль (успешно)
        //  li.mb-2
        //    a(href="#modal-user" data-toggle="modal") Конечный пользователь
        //  li.mb-2
        //    a(href="#modal-cart-complete" data-toggle="modal") Товар добавлен в корзину
        //  li.mb-2
        //    a(href="#modal-favore" data-toggle="modal") Как составить список избранного?
        //  li.mb-2
        //    a(href="#modal-exit" data-toggle="modal") Вы действительно хотите выйти из аккаунта?
        //  li.mb-2
        //    a(href="#modal-contacts" data-toggle="modal") Ваши контакты
        //  li.mb-2
        //    a(href="#modal-order" data-toggle="modal") Ваш заказ
        //
