extends ../templates/template.pug
block content
  +breadcrumb
  section.section.add-legal
    .container
      h1.title.title__mb Новая организация
      .row
        .col-lg-6
          ul.nav.nav-tabs.blue-button-tabs
            li.nav-item
              a.nav-link.active(data-toggle='tab' href='#company_hand') Ввести данные вручную
            li.nav-item
              a.nav-link(data-toggle='tab' href='#company_card') По карточке организации
          .tab-content
            #company_hand.tab-pane.fade.show.active
              .info-block
                .lk__info-title Введите данные
                +input__wrap({
                  type: 'text',
                  placeholder: 'ИНН'
                })
                +input__wrap({
                  type: 'text',
                  placeholder: 'Название организации'
                })
                +input__wrap({
                  type: 'text',
                  placeholder: 'Юр. адрес'
                })
                +input__wrap({
                  type: 'text',
                  placeholder: 'Грузополучатель (адрес обособленного получателя)'
                })
                +input__wrap({
                  type: 'text',
                  placeholder: 'БИК'
                })
                +input__wrap({
                  type: 'text',
                  placeholder: 'Корреспондентский счет*'
                })
                +input__wrap({
                  type: 'text',
                  placeholder: 'Расчетный счет*'
                })
                .load-file
                  form#dropzone.dropzone(action='/file-upload')
                    .fallback
                      input(name='file' type='file' multiple='').drop-file
                    .dz-message(data-dz-message='') Загрузить документ


            #company_card.tab-pane.fade
              +load-block

          a(href="javascript:void(0);").button-blue Добавить
          



        .col-lg-3
        .col-lg-3
          +lk-block-right(true)
