extends ../templates/template.pug
block content
  +breadcrumb
  section
    .container
      h1.title.title__mb Статусы заказов по юридическим лицам  
      .row
        .col-lg-9
          ul.nav.nav-tabs.transparent__tabs
            li.nav-item
              a.nav-link.active(data-toggle='tab' href='#one') ООО «Рога и Копыта»
            li.nav-item
              a.nav-link(data-toggle='tab' href='#two') ООО «Иванов и КО»
            li.nav-item
              a.nav-link(data-toggle='tab' href='#three') ООО «Изумруд»
            li.nav-item
              a.nav-link.pr-lg-0(data-toggle='tab' href='#four') ООО «Таймс Роман»
          .tab-content.transparent__tab-content
            #one.tab-pane.fade.show.active
              +orders-list

        .col-lg-3
          +lk-block-right(true)
