extends ../templates/template.pug
block content
  +breadcrumb
  section.section.add-legal
    .container
      h1.title.title__mb Новый пользователь
      .row
        .col-lg-6
          .info-block
            .lk__info-title Введите данные
            +input__wrap({
              type: 'text',
              placeholder: 'Имя'
            })
            +input__wrap({
              type: 'tel',
              placeholder: 'Телефон'
            })
            +input__wrap({
              type: 'email',
              placeholder: 'Email'
            })
            a(href="javascript:void(0);").button-blue Добавить




        .col-lg-3
        .col-lg-3
          +lk-block-right(true)
