extends ../templates/template.pug
block content
  +breadcrumb
  section.section.section-profile
    .container
      h1.title.title__mb Константин Константинович Константинопольский
      .row
        .col-lg-7
          .update__wrap.info-block
            .update-check Изменения сохранены
            .update-info Дата обновления: 01.09.2020 17:11:21
            .update-info Последняя авторизация: 01.09.2020 17:11:21
          .lk__info-blocks
            .lk__info-block
              .lk__info-title Контактная информация
              .lk__info-wrap
                +lk-info-item('Фамилия','Константинопольский')
                +lk-info-item('Имя','Константин')
                +lk-info-item('Отчество','Константинович')
                +lk-info-item('Телефон','+7 (928) 300 00 00')
                +lk-info-item('Email','text_me@mail.ru')
          a(href="javascript:void(0);").button-blue Сохранить
        .col-lg-2
        .col-lg-3
          +lk-block-right
