extends ../_components/page-docs_template.pug
  
block transparent-tabs
  li.nav-item
    a.nav-link.active(data-toggle='tab' href='#docs') Сертификаты на товары
  li.nav-item
    a.nav-link(data-toggle='tab' href='#invoice') Выставленные счета

block lk-block-right 
  +lk-block-right

block email
  +email__block
