extends ../templates/template.pug
block content
  .container-custom
    .banner-slider__wrap
      .banner-slider
        - for(var i=0; i<7; i++)
          .banner-slider__item
            .banner
              .container
                .row
                  .col-lg-8
                    .banner-subtitle автоклининг
                    .banner-title Профессиональная автокосметика и автохимия для автомоек
                    a(href="javascript:void(0);").link-more-banner Узнать больше
      .banner-slider-nav
        each val, index in ['Для дома', 'Пищевые производства','Клининг (HoReCa)','Профессиональная автокосметика автохимия для автомоек','Дезинфекция','Для ремонта','Химчистка и прачечная'] 
          .banner-slider-nav__item
            .banner-slider-nav__item-bg
            img(src=`../img/slider-nav-img-${index + 1}.jpg` alt='', title='').banner-slider-nav__item-img
            .banner-slider-nav__item-text !{val}
            
  .container
    .slider__wrap.slider__wrap_brands
      .container-arrows
      .slider-brands
        - for(var i=0; i<5; i++)
          .slider-brands__item
            .slider-brands__item--inner
              img(src=`../img/brand-img-${i+1}.png` alt='', title='').img-brand
        - for(var i=0; i<5; i++)
          .slider-brands__item
            .slider-brands__item--inner
              img(src=`../img/brand-img-${i+1}.png` alt='', title='').img-brand
    section.section-products
      h2.subtitle.subtitle__mb Выбор категории по разделам
      .nav-categories
        each val in ['Для дома','Автохимия', 'Химчистка', 'Пищевое производство', 'Дезинфекция', 'Для ремонта']
          a(href="javascript:void(0);").nav-categories__item !{val}
      .row
        .col-lg-9
          .row
            - for(var i=0; i<6; i++)
              .col-lg-4
                +product__item
            .button__wrap.justify-content-center.w-100.mt-lg-1
              a(href="javascript:void(0);").link-more-content Смотреть все
  
        .col-lg-3
          +filter
                        
  section.section-about
    .container-custom
      .about
        .about__left
          img(src='../img/about-img.jpg' alt='', title='').about-img
        .about__right
          .about__title О бренде Plex
          .about__desc Занимаемся разработкой, производством и внедрением профессиональных моющих средств с 2010 года
          ul.about__list
            .about__item Резидент ИЦ «СКОЛКОВО» с 2016 года
            .about__item Производим более 10 000 тонн B2B продукции в год
            .about__item Широкая география продаж
            .about__item Собственный исследовательский центр
          +button-white('Узнать больше')
  .container
    section.about-info
      h2.subtitle.subtitle__mb Узнавайте больше о нас
      .row
        .col-lg-6
          .img-content__wrap.video__block-big
            a(href="https://www.youtube.com/watch?v=C-gQEZZXy-U").video-youtube
              img(src='../img/about-video-img.jpg' alt='', title='' itemprop="contentUrl").img-content
            .more-video
              img(src='../img/icon-video-big.svg' alt='', title='').icon-video
              
              .about-video__desc  
                .about-video__title Бесконтактная мойка автомобиля: технология и преимущества
                .about-video__time 1 мин 02 сек
          +link-more-content('Все видео')
        .col-lg-6
          .row
            .col-lg-6
              +news__item_small
            .col-lg-6
              +news__item_small
          +link-more-content('Все новости и статьи')
    section.section
      h2.subtitle.title__mb SЕО текст
      .row
        .col-lg-10
          .decs.pr-lg-5.mb-0
            p.p Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий требуют определения и уточнения форм развития. С другой стороны реализация намеченных плановых заданий требуют от нас анализа позиций.
            p.p С другой стороны дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки дальнейших направлений развития. Идейные соображения высшего порядка, а также консультация с широким активом играет важную роль в формировании форм развития.
      
  .email__block
    .container
      .row.align-items-center
        .col-lg-6
          .email__block-title Получайте интересные предложения в нашей рассылке
        .col-lg-6
          .email-input__wrap
            input(type='text' placeholder='Введите email').email-input
            +button-blue('Подписаться')
          
        
          
          
  
    
              
            
          
        
        
    
              
        
        
          
          
            
 
