extends ../templates/template.pug
block content
  +breadcrumb
  section
    .container
      h1.title.title__mb Новости и статьи
      .row
        .col-lg-12
          ul.nav.nav-tabs.transparent__tabs
            li.nav-item
              a.nav-link.active(data-toggle='tab' href='#all') Все
            li.nav-item
              a.nav-link(data-toggle='tab' href='#news') Новости
            li.nav-item
              a.nav-link(data-toggle='tab' href='#articles') Статьи
          .tab-content.transparent__tab-content
            #all.tab-pane.fade.show.active
              .row
                .col-lg-6
                  +news-block({
                    img:'news-img1.jpg',
                    date:'12.05.2020',
                    title:'Химчистка в перхлорэтилене препаратами PLEX',
                    text:'Наша компания рада сообщить, что с апреля 2020 года был открыт новый и полностью оснащенный. Наша компания рада сообщить, что с апреля 2020...'
                  })
                .col-lg-6
                  +news-block({
                    img: 'news-img2.jpg',
                    date: '12.05.2020',
                    title: 'Профессиональное выведение пятен',
                    text: 'Наша компания рада сообщить, что с апреля 2020 года был открыт новый и полностью оснащенный. Наша компания рада сообщить, что с апреля 2020...'
                  })
              .row
                .col-lg-6
                  +news-block({
                    img: 'news-img3.jpg',
                    date: '12.05.2020',
                    title: 'Стирка свадебных платьев препаратами PLEX',
                    text: 'Наша компания рада сообщить, что с апреля 2020 года был открыт новый и полностью оснащенный. Наша компания рада сообщить, что с апреля 2020...'
                  })
                .col-lg-6
                  +news-block({
                    img: 'news-img4.jpg',
                    date: '12.05.2020',
                    title: 'Решение проблем закрасов и восстановления внешнего вида изделий в аквачистке',
                    text: 'Наша компания рада сообщить, что с апреля 2020 года был открыт новый и полностью оснащенный.'
                  })
              +paginator
              
            #news.tab-pane.fade
            #articles.tab-pane.fade

              
  +email__block
