extends ../templates/template.pug
block content
  +breadcrumb
  section.section-news-item__mb
    .container
      h1.title.title__mb Профессиональное выведение пятен
      .row
        .col-lg-12
          .news-item__date 12.05.2020
          .news-item__banner
            img(src='../img/news-item-banner.jpg' alt='', title='').news-item__banner-img
      .row
        .col-lg-8.offset-lg-2
          h2.subtitle.news-item__subtitle-mb Подзаголовок второго уровня
          .decs-block
            p.decs Изначально данная смола полностью растворяется в бутиловом спирте (бутаноле-1). Чтобы определить KBV, к этому раствору начинают добавлять исследуемый углеводородный растворитель. В определенный момент раствор начинает мутнеть, и количество добавленного растворителя (в миллилитрах) пересчитывают по определенному стандарту (толуол и толуол-гептан)
            ul.decs-list
              +decs-item-num('1.','По удобной методике (под международным номером ASTM D1133) рассчитывается величина KBV для «определения относительной силы')
              +decs-item-num('2.','Физический смысл данного метода прост: чем больше количество исследуемого растворителя позволяет раствору смолы в спирте')
              +decs-item-num('3.','На самом деле существует целый ряд подобных измерений и полученных параметров для характеристики свойств углеводородных растворителей')
            p.decs После удара эксперты оценивают состояние манекенов и показатели их много­численных датчиков, а также деформацию кузова и салона: по стойке лобового стекла, торцу рулевой колонкии положению педалей сцепления и тормоза. Максимально возможное количество баллов — 16, высшая оценка в звёздах — четыре. То есть по четыре балла на звезду:
          .img-content__wrap.img__block-news
            a(href="https://www.youtube.com/watch?v=C-gQEZZXy-U").video-youtube
              img(src='../img/news-item-img1.jpg' alt='', title='' itemprop="contentUrl").img-content
            .more-video
              img(src='../img/icon-video-small.svg' alt='', title='').icon-video-middle
              .about-video__desc
                .news-video__title Профессиональное выведение пятен Plex
                .about-video__time 3 мин 26 сек    

      .row
        .col-lg-8.offset-lg-2
          h3.h3.news-item__subtitle-mb Подзаголовок третьего уровня
          .decs-block
            p.decs На самом деле существует целый ряд подобных измерений и полученных параметров для характеристики свойств углеводородных растворителей. Среди них: анилиновая точка «aniline point» (показывающая содержание ароматических углеводородов), восковое число «wax number», гептановое число «heptane number» и другие.
            ul.decs-list
              +decs-item-circle('Высокого давления – более 30 кПа')
              +decs-item-circle('Среднего давления – от 5 до 30 кПа')
              +decs-item-circle('Низкого давления – до 5 кПа')
          .img-content__wrap.img__block-news
            a(href="https://www.youtube.com/watch?v=C-gQEZZXy-U").video-youtube
              img(src='../img/news-item-img2.jpg' alt='', title='' itemprop="contentUrl").img-content
            .more-video
              .about-video__desc 
                .news-video__title Химчистка в г. Ростов-на-Дону      

      .row
        .col-lg-8.offset-lg-2
          h3.h3.news-item__subtitle-mb Подзаголовок третьего уровня
          .decs-block
            p.decs На самом деле существует целый ряд подобных измерений и полученных параметров для характеристики свойств углеводородных растворителей. Среди них: анилиновая точка «aniline point» (показывающая содержание ароматических углеводородов), восковое число «wax number», гептановое число «heptane number» и другие.
            ul.decs-list
              +decs-item-circle('Высокого давления – более 30 кПа')
              +decs-item-circle('Среднего давления – от 5 до 30 кПа')
              +decs-item-circle('Низкого давления – до 5 кПа')
                
      .row
        .col-lg-8.offset-lg-2
          .resume__block 
            | Однако следует понимать, что каждый 
            | из этих параметров, в том числе KBV, 
            | не описывает природу и свойства растворителя 
            | всеобъемлюще, а являются специфическими и 
            | узконаправленными. 
      .row
        .col-lg-8.offset-lg-2.d-flex.justify-content-lg-end
          .share__block
            a(href="javascript:void(0);").button-share Поделиться

            
  section.section-news-item
    .container
      h2.subtitle.title__mb Другие новости
      .row
        .col-lg-6
          +news-block({
            img: 'news-img3.jpg',
            date: '12.05.2020',
            title: 'Стирка свадебных платьев препаратами PLEX',
            text: 'Наша компания рада сообщить, что с апреля 2020 года был открыт новый и полностью оснащенный. Наша компания рада сообщить, что с апреля 2020...'
          })
        .col-lg-6
          +news-block({
            img: 'news-img1.jpg',
            date: '12.05.2020',
            title: 'Химчистка в перхлорэтилене препаратами PLEX',
            text: 'Наша компания рада сообщить, что с апреля 2020 года был открыт новый и полностью оснащенный. Наша компания рада сообщить, что с апреля 2020...'
          })

  +email__block
