extends ../templates/template.pug
block content
  +breadcrumb
  section.section
    .container
      .row
        .col-lg-12
          h1.title.title__mb.mb-lg-5 Оформление заказа
      .row
        .col-lg-9
          +orders-list-step-next
          
          .orders-list__wrap
            .order-step__head
              .order-step__head-left
                .step__head-num 2
                .step__head-name Доставка
            .order-step__middle
              .order-step__middle-title  Возможные способы
              .order-step__middle-wrap
                +order-step__middle-type({
                  img: 'delivery-type-icon1.svg',
                  name: 'Самовывоз',
                  cost: '0 ₽'
                })
                +order-step__middle-type({
                  img: 'delivery-type-icon2.svg',
                  name: 'Доставка',
                  cost: '200 ₽'
                })
                .middle-decs__wrap
                  .middle-decs__title Boxberry (доставка до пункта выдачи)
                  .middle-decs__text 
                    | Доставка с использованием
                    | автоматизированной службы
                    | доставки Boxberry.
                  .middle-decs__cost-title Стоимость
                  .middle-decs__cost 509.19 ₽
                  .button-link Выбрать пункт выдачи на карте...
                
                
            .order-step__bottom.justify-content-lg-between
              a(href="javascript:void(0);").button-gray Назад  
              a(href="javascript:void(0);").button-blue Далее  


          +step-head-collaps('3','Оплата')
          +step-head-collaps('4','Покупатель')

        .col-lg-3
          +final-cost__block



  +email__block
