extends ../templates/template.pug
block content
  +breadcrumb
  section.section
    .container
      .row
        .col-lg-12
          h1.title.title__mb.mb-lg-5 Оформление заказа
      .row
        .col-lg-9
          .orders-list__wrap
            .order-step__head
              .order-step__head-left
                .step__head-num 1
                .step__head-name Товары в заказе
            +order-item-step({
              name: 'Средство для очистки колесных дисков слово «Disk», 5 л',
              quantity: '1 шт',
              top_cost: '3200 ₽',
              bottom_cost: '26 496 ₽'
            })
            +order-item-step({
              name: 'Средство для очистки колесных дисков слово «Disk», 5 л',
              quantity: '1 шт',
              top_cost: '1260 ₽'
            })
            .order-step__bottom.justify-content-lg-end
              a(href="javascript:void(0);").button-blue Далее  

          +step-head-collaps('2','Доставка')
          +step-head-collaps('3','Оплата')
          +step-head-collaps('4','Покупатель')
        
        .col-lg-3
          +final-cost__block



  +email__block
