extends ../templates/template.pug
block content
  +breadcrumb
  section.section
    .container
      .row
        .col-lg-12
          h1.title.title__mb.mb-lg-5 Оформление заказа
      .row
        .col-lg-9
          +orders-list-step-next
          +delivery-step-next
          

          .orders-list__wrap
            .order-step__head
              .order-step__head-left
                .step__head-num 3
                .step__head-name Оплата
            .order-step__middle
              .order-step__middle-title  Возможные способы
              .order-step__middle-wrap
                +pay-step__middle-type({
                  img: 'pay-type-icon1.svg',
                  name: 'Электронный платёж'
                })
                +pay-step__middle-type({
                  img: 'pay-type-icon2.svg',
                  name: 'Банковский перевод'
                })
                .middle-decs__wrap
                  .middle-decs__title Банковский перевод
                  .middle-decs__text.pr-lg-2
                    | Текст для примера. Оплата  производится Яндекс деньгами, через сервис Яндекс.Касса.
                  .middle-decs__text.pr-lg-2
                    | Подтверждением вашей оплаты является электронное почтовое уведомление

            .order-step__bottom.justify-content-lg-between
              a(href="javascript:void(0);").button-gray Назад  
              a(href="javascript:void(0);").button-blue Далее  


          +step-head-collaps('4','Покупатель')

        .col-lg-3
          +final-cost__block



  +email__block
