extends ../templates/template.pug
block content
  +breadcrumb
  section.section
    .container
      .row
        .col-lg-12
          h1.title.title__mb.mb-lg-5 Оформление заказа
      .row
        .col-lg-9
          +orders-list-step-next
          +delivery-step-next
          +pay-step-next


          .orders-list__wrap
            .order-step__head
              .order-step__head-left
                .step__head-num 4
                .step__head-name Покупатель
            .order-step__middle
              +input__wrap({
                type: 'text',
                placeholder: 'ФИО'
              })
              +input__wrap({
                type: 'email',
                placeholder: 'Email'
              })
              +input__wrap({
                type: 'tel',
                placeholder: 'Телефон'
              })
              +input__wrap({
                type: 'text',
                placeholder: 'Адрес доставки'
              })
              .input__wrap
                textarea(type='text' placeholder='Комментарий').textarea
            .order-step__bottom.justify-content-lg-end
              a(href="javascript:void(0);").button-gray Назад  

          .orders-bottom__wrap
            a(href="javascript:void(0);").button-blue Оформить заказ
            .agreement-text Нажимая кнопку «Оформить заказ», я даю согласие на обработку своих персональных данных в соответствии с <a href="#">Политикой конфиденциальности</a>
            
        .col-lg-3
          +final-cost__block

  +email__block
