extends ../templates/template.pug
block content
  +breadcrumb
  section
    .container
      .row
        .col-lg-8
          h1.title.title__mb Как купить?
            ul.nav.nav-tabs.transparent__tabs
              li.nav-item
                a.nav-link.active(data-toggle='tab' href='#order') Как заказать
              li.nav-item
                a.nav-link(data-toggle='tab' href='#pay') Способы оплаты
              li.nav-item
                a.nav-link(data-toggle='tab' href='#delivery') Способы доставки
            .tab-content.transparent__tab-content
              #order.tab-pane.fade.show.active
                .info-block
                  h3.h3 Как заказать
                  p.p Завод ООО «СИКМО» является российским разработчиком и производителем  профессиональных моющих и дезинфицирующих средств торговой марки PLEX®. На складах предприятия всегда имеется в наличии готовая продукция, а также необходимый запас сырья для ее быстрого изготовления.
                  p.p У Вас имеется возможность купить нашу продукцию как с регистрацией личного кабинета на сайте, так без нее. Личный кабинет дает Вам возможность оперативно покупать и отслеживать покупки, получать необходимые документы, а также получать более выгодные предложения цены и условий.
                .info-block
                  .info-block__title 1. Статус товара
                  p.p Представленный на сайте товар может иметь следующие статусы:
                  ul.decs-list
                    +decs-item-circle (`<span class='span-blue'>«Купить»:</span> при покупке данного товара показывается доступный остаток. Покупая доступное количество товара с этим статусом, при оплате банковской картой на сайте, возможен его самовывоз в день оплаты, а также доставка или самовывоз в ближайшие даты. Если на момент покупки Вам требуется большее количество товара, чем показано на сайте, или доступный остаток не показан, то Вы также можете купить необходимый Вам товар,он будет изготовлен в кратчайшие сроки. Срок изготовления составляет 1-5 рабочих дней, но, как правило, не более одного рабочего дня. В этом случае доставка и самовывоз доступны после поступления оплаты и изготовления товара. При поступлении оплаты за товар до 15-00 текущего дня, самовывоз возможен уже на следующий день.Для уточнения деталей покупки с Вами обязательно свяжется оператор.`)
                    +decs-item-circle (`<span class='span-blue'>«Под заказ»:</span> товар изготовляется в течение от 1 до 30 календарных дней. Покупая товар этим статусом, возможен его самовывоз или доставка после поступления оплаты и изготовления. В том случае, если данный товар имеется в наличии, то возможен его самовывоз в день оплаты или доставка в ближайшие даты в количестве не более доступного остатка. Для уточнения деталей покупки «Под заказ» с Вами обязательно свяжется оператор.`)
                .info-block
                  .info-block__title 2. Добавить товар в «Корзину»
                  p.p В карточках товаров, которые Вам понравились, выберите необходимое вам количество и нажмите кнопку «Добавить в корзину». 
                .info-block
                  .info-block__title 3. Перейти в корзину
                  p.p Для продолжения оформления заказа Вам необходимо перейти в «Корзину». Это можно сделать 2 способами
                  ul.decs-list
                    +decs-item-circle ('Нажать кнопку «Моя корзина» в карточке товара, после его добавления в «Корзину»')
                    +decs-item-circle ('Кликнув на кнопку «Моя корзина» в правом верхнем углу сайта. При наведении курсора на этот значок, у Вас откроется информация о том, какие товары находятся в «Корзине», а при клике на него, Вы перейдете в саму «Корзину».')
                .info-block
                  .info-block__title 4. Проверить заказ
                  p.p В «Корзине» на первом шаге оформления заказа Вы можете проверить Ваш заказ: при необходимости изменить количество товара или удалить товар, если передумали его заказывать.
                  p.p Для продолжения оформления заказа нажмите кнопку «Продолжить».
                .info-block
                  .info-block__title 5. Авторизация на сайте
                  p.p Для продолжения оформления Вы можете:
                  p.p «Авторизоваться»;
                  p.p «Зарегистрироваться и авторизоваться»;
                  p.p Продолжить оформление без формирования личного кабинета, но с внесением сведений о покупателе (контактная информация, основные сведения для юридических лиц и индивидуальных предпринимателей, адрес доставки).
  
              #pay.tab-pane.fade
                .info-block
                  h3.h3 Банковский перевод (безналичный расчет)
                  p.p Юридические лица оплачивают заказ согласно выписанному счету. Физические лица могут оплатить заказ банковским переводом через Сбербанк РФ или любой другой банк. Формирование заказа производится сразу после подтверждения факта оплаты. При формировании заказа вы указываете способ, которым хотите получить счет. Наиболее популярный способ – email (счет высылается прикрепленным файлом к письму).
                  p.p Вы можете взять счет прямо с нашего сайта в <a href="#">«Личном кабинете»</a> (авторизируйтесь на сайте, введя свой логин/пароль в разделе «Вход / Регистрация»).
                .info-block
                  h3.h3 Электронные платежи (QR код)
                  p.p После обработки вашего заказа, вам на e-mail указанный при регистрации поступит уведомление с приглашением зайти на специальную страницу сайта для подтверждения вашего заказа. Эта же ссылка появляется сразу после обработки вашего заказа в разделе Мои заказы (Вход / Регистрация-Мои заказы)
                .info-block
                  h3.h3 Оплата банковскими картами
                  .cards-img__wrap
                    +card-img-item('card-img-1.png')
                    +card-img-item('card-img-2.png')
                    +card-img-item('card-img-3.png')
                    +card-img-item('card-img-4.png')
                  p.p Принимаются к оплате банковские карты платежных систем МИР, VISA, MasterCard, Maestro. Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платёжный шлюз ПАО СБЕРБАНК.
                .info-block
                  .info-block__title Используются защищённые методы передачи информации
                  p.p Соединение с платёжным шлюзом и передача информации осуществляется в защищённом режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa, MasterCard SecureCode, MIR Accept, J-Secure для проведения платежа также может потребоваться ввод специального пароля.
                .info-block
                  .info-block__title Конфиденциальность персональной информации обеспечивается ПАО СБЕРБАНК
                  p.p Настоящий сайт поддерживает 256-битное шифрование.  Введённая информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платёжных систем МИР, Visa Int., MasterCard Europe Sprl, JCB.
              
              #delivery.tab-pane.fade
                .info-block
                  .info-block__title 1. Выбрать способ доставки
                  p.p Выберите желаемый способ доставки из доступных вариантов. Доступность того или иного способа доставки формируется в зависимости от выбранных Вами способов оплаты заказа, суммы заказа, удаленности заказчика.
                  ul.decs-list
                    +decs-item-circle ('Самовывоз: доступен в день заказа после оплаты банковской картой товара со статусом «В наличии с остатком», «Под заказ с остатком» или после оплаты и изготовления товаром с другими статусами;')
                    +decs-item-circle ('Доставка по городу и в пригород;')
                    +decs-item-circle ('Доставка до пункта самовывоза;')
                    +decs-item-circle ('Доставка в транспортную компанию.')
                  p.p.mb-0 <span style="font-weight: bold";'>Минимальная сумма заказа на доставку составляет <span class='span-blue'>1000 р</span>;</span>
                  p.p <span style="font-weight: bold";'>Минимальная сумма бесплатной доставки составляет <span class='span-blue'>от 30000 р.</span></span>
                .info-block
                  .info-block__title 2. Перейти к оплате, если выбрана оплата картой на сайте
                  ul.decs-list    
                    +decs-item-circle ('Нажмите кнопку «Перейти к оплате»;')
                    +decs-item-circle ('Произвести оплату банковской картой;')
                    +decs-item-circle ('Для завершения оформления заказа выбрать «завершить оформление заказа»;')
                    +decs-item-circle ('Получить на телефон, электронную почту или в личном кабинете (если Вы зарегистрировались) подтверждение оплаты, № и статус заказа, или дождаться звонка оператора, если требуется уточнение;')
                .info-block
                  .info-block__title 3. Оформить заказ, если выбрана оплата заказа по счету
                  p.p При выборе оплата заказа по счету нажмите кнопку «Оформить заказ», для завершения его оформления выбрать «Завершить оформление заказа»
                  ul.decs-list
                    +decs-item-circle ('Получить счет на указанный адрес электронной почты или в личный кабинет, или дождаться звонка оператора, если требуется уточнение;')
                    +decs-item-circle ('Оплатить счет;')
                    +decs-item-circle ('Получить на телефон, на электронную почту или в личном кабинете подтверждение оплаты, № и статус заказа.')
                .info-block
                  .info-block__title 4. Поздравляем, Ваш заказ подтвержден!
                  p.p После поступления оплаты Ваш Заказ будет автоматически подтвержден. Уведомление о статусе заказа вам поступит на телефон или на электронную почту, заказ отобразится в разделе Личного кабинета «Мои заказы». 
                  p.p Если для оформления заказа потребуется дополнительная информация, мы свяжемся с Вами
                  p.p Отслеживать всю информацию о вашем заказе Вы сможете в разделе Личного кабинета «Мои заказы».

        .col-lg-4
         .question-block__wrap
           h3.h3.mb-lg-1 Остались вопросы?
           .question-block__text Пишите, мы рады помочь вам!
           +input__wrap({
             type: 'text',
             placeholder: 'Имя'
           })
           +input__wrap({
             type: 'tel',
             placeholder: 'Телефон'
           })
           +input__wrap({
             type: 'text',
             placeholder: 'Тема вопроса'
           })
           .button-blue.mt-lg-3 Задать вопрос
           .agreement-text Нажимая кнопку «Задать вопрос», я даю согласие на обработку своих персональных данных в соответствии с <a href="#">Политикой конфиденциальности</a>


  +email__block
