extends ../templates/template.pug
block content
  +breadcrumb
  section
    .container
      .row
        .col-lg-4
          .product-detail__slider
            - for(var i=0; i<6; i++)
              .product-detail__slider-item-wrap
                .product-detail__slider-item
                  img(src='../img/product-img.png' alt='', title='').product-detail__slider-img
          .slider__wrap.slider__wrap-detail-nav
            .container-arrows
            .product-detail__slider-nav
              - for(var i=0; i<6; i++)
                .product-detail__slider-nav--item-wrap
                  .product-detail__slider-nav--item
                    img(src='../img/product-img.png' alt='', title='').product-detail__slider-img
        
        .col-lg-7.offset-lg-1
          .product-detail__info-block
            .product-detail__info-left
              .product-detail__title Эйсидклин
              .product-detail__info-desc
                .product-detail__info-item Состав: <span class='span-gray'>Кислотное беспенное моющее средство для санитарной обработки (циркуляционная, (CIP-мойка) внутренних поверхностей...</span>
                .product-detail__info-item Срок годности: <span class='span-gray'>10 января 2025 год</span>
                .product-detail__info-item Документация: <span class='span-gray'>№1849495</span>
              .tare__block.mb-lg-3
                a(href="javascript:void(0);").tare-big.item-active-js 5 л
                a(href="javascript:void(0);").tare-big.item-active-js 10 л
                a(href="javascript:void(0);").tare-big.item-active-js 15 л
              .product-detail__price.mb-lg-3 3200 ₽ 
              .product-detail__count--wrap
                .count__wrap
                  .count
                    a(href="javascript:void(0);").count-minus −
                    input.input-count(type='text', value='1')
                    a(href="javascript:void(0);").count-plus +
                a(href="javascript:void(0);").button-blue__middle Купить
            
            .product-detail__info-right
              .property-icon__block
                img(src='../img/property-icon-1.png' alt='', title='').property-icon
                img(src='../img/property-icon-2.png' alt='', title='').property-icon
                img(src='../img/property-icon-3.png' alt='', title='').property-icon
                img(src='../img/property-icon-4.png' alt='', title='').property-icon
      
      
      .row
        .col-lg-10.offset-lg-1
          +advant-block
      
                
      .row
        .col-lg-10
          ul.nav.nav-tabs.blue__tabs
            li.nav-item
              a.nav-link.active(data-toggle='tab' href='#description') Описание
            li.nav-item
              a.nav-link(data-toggle='tab' href='#use') Применение
            li.nav-item
              a.nav-link(data-toggle='tab' href='#safety') Меры предосторожности
            li.nav-item
              a.nav-link(data-toggle='tab' href='#docs') Документация
            li.nav-item
              a.nav-link(data-toggle='tab' href='#article') Статьи
            li.nav-item
              a.nav-link(data-toggle='tab' href='#video') Видео
          .tab-content.blue-tab__content
            #description.tab-pane.fade.show.active
              h3.h3.h3__mb Описание
              .tabs-decs__wrap
                +tabs-decs__item({
                  title: 'Состав',
                  text: 'Кислотное беспенное моющее средство для санитарной обработки (циркуляционная, (CIP-мойка) внутренних поверхностей технологического оборудования, резервуаров, трубопроводов. Кислотное беспенное моющее средство)'
                })
                +tabs-decs__item({
                  title: 'Срок годности',
                  text: 'Кислотное беспенное моющее средство для санитарной обработки (циркуляционная, (CIP-мойка) внутренних поверхностей технологического оборудования, резервуаров, трубопроводов. Кислотное беспенное моющее средство)'
                })
                +tabs-decs__item({
                  title: 'Документация',
                  text: 'Кислотное беспенное моющее средство для санитарной обработки (циркуляционная, (CIP-мойка) внутренних поверхностей технологического оборудования, резервуаров, трубопроводов. Кислотное беспенное моющее средство)'
                })
              a(href="javascript:void(0);").button-share Поделиться
            #use.tab-pane.fade
              h3.h3.h3__mb Применение
              .tabs-decs__wrap
                +tabs-decs__item({
                  title: 'Область применения',
                  text: 'Кислотное беспенное моющее средство для санитарной обработки (циркуляционная, (CIP-мойка) внутренних поверхностей технологического оборудования, резервуаров, трубопроводов. Кислотное беспенное моющее средство)'
                })
                +tabs-decs__item({
                  title: 'Ограничения по пользованию',
                  text: 'Кислотное беспенное моющее средство для санитарной обработки (циркуляционная, (CIP-мойка) внутренних поверхностей технологического оборудования, резервуаров, трубопроводов. Кислотное беспенное моющее средство)'
                })
              a(href="javascript:void(0);").button-share Поделиться
            #safety.tab-pane.fade
              h3.h3.h3__mb Меры предосторожности
              .tabs-decs__wrap
                +tabs-decs__item({
                  title: 'Подробная информация о мерах предосторожности',
                  text: 'Кислотное беспенное моющее средство для санитарной обработки (циркуляционная, (CIP-мойка) внутренних поверхностей технологического оборудования, резервуаров, трубопроводов. Кислотное беспенное моющее средство)'
                })
              a(href="javascript:void(0);").button-share Поделиться
            #docs.tab-pane.fade
              h3.h3.h3__mb Документация
              +docs-block
            #article.tab-pane.fade
              h3.h3.h3__mb Статьи
              .tabs-article__item
                .tabs-article__data 12.05.2020
                .tabs-article__decs
                  .tabs-article__name Химчистка в перхлорэтилене препаратами PLEX
                  .tabs-article__annotate Наша компания рада сообщить, что с апреля 2020 года был открыт новый и полностью оснащенный
              a(href="javascript:void(0);").button-share Поделиться
            #video.tab-pane.fade
              h3.h3.h3__mb Видео
              .video__block-small__wrap
                .video__block-small
                  a(href="https://www.youtube.com/watch?v=C-gQEZZXy-U").video-youtube
                    img(src='../img/video-cover.jpg' alt='', title='' itemprop="contentUrl").img-content
                  .play-video
                    img(src='../img/icon-video-small.svg' alt='', title='').icon-video-small
                .tabs-video__name Химчистка в перхлорэтилене препаратами PLEX
              a(href="javascript:void(0);").button-share Поделиться
      
      .row
        .col-lg-12
          .questions__block
            a(href="javascript:void(0);").question__item Как купить?
            img(src='../img/line-vertical-img.png' alt='', title='').line-vertical-img
            a(href="javascript:void(0);").question__item Задать вопрос
  sectoin
    .container
      .row
        .col-lg-12
          h2.subtitle Нам доверяют
          .product-detail__slider--wrap
            .slider__wrap.slider__wrap_brands
              .container-arrows
              .slider-brands
                - for(var i=0; i<5; i++)
                  .slider-brands__item
                    .slider-brands__item--inner
                      img(src=`../img/brand-img-${i + 1}.png` alt='', title='').img-brand
                - for(var i=0; i<5; i++)
                  .slider-brands__item
                    .slider-brands__item--inner
                      img(src=`../img/brand-img-${i + 1}.png` alt='', title='').img-brand

  include ../_components/banner-middle-block
  
  include ../_components/slider-products
    
  +email__block
      
