extends ../templates/template.pug
block content
  +breadcrumb
  section
    .container
      h1.title.title__mb Регистрация
      .row
        .col-lg-9
          ul.nav.nav-tabs.transparent__tabs
            li.nav-item
              a.nav-link.active(data-toggle='tab' href='#person') Частное лицо
            li.nav-item
              a.nav-link(data-toggle='tab' href='#legal') Организация
            li.nav-item
              a.nav-link(data-toggle='tab' href='#individual') Индивидуальный предприниматель
          .tab-content.transparent__tab-content
            #person.tab-pane.fade.show.active
              .tabs-input__block
                .tabs-input__subtitle Контактная информация
                .row.row-inputs__mb
                  .col-lg-4
                    +input__wrap({
                      type:'text',
                      placeholder:'Имя'
                    })
                  .col-lg-4
                    +input__wrap({
                      type: 'text',
                      placeholder: 'Фамилия'
                    })
                  .col-lg-4
                    +input__wrap({
                      type: 'text',
                      placeholder: 'Отчество'
                    })
                .row
                  .col-lg-6
                    .input__wrap.error-valid.error-tel.mb-0
                      input(type='tel', placeholder='Телефон').login-input
                  .col-lg-6
                    .input__wrap.error-valid.error-email.mb-0
                      input(type='email', placeholder='Email').login-input
              +login-tabs__block-bottom
            #legal.tab-pane.fade
              ul.nav.nav-tabs.blue-button-tabs
                li.nav-item
                  a.nav-link.active(data-toggle='tab' href='#legal_hand') Ввести данные вручную
                li.nav-item
                  a.nav-link(data-toggle='tab' href='#legal_card') По карточке организации
              .tab-content.login-tab__legal-content
                #legal_hand.tab-pane.fade.show.active
                  .tabs-input__block
                    .tabs-input__subtitle Данные об организации
                    .row
                      .col-lg-6
                        +input__wrap({
                          type: 'text',
                          placeholder: 'Имя'
                        })
                      .col-lg-6
                        +input__wrap({
                          type: 'text',
                          placeholder: 'Фамилия'
                        })
                  .tabs-input__block
                    .tabs-input__subtitle Контактная информация
                    .row.row-inputs__mb
                      .col-lg-4
                        +input__wrap({
                          type: 'text',
                          placeholder: 'Имя'
                        })
                      .col-lg-4
                        +input__wrap({
                          type: 'text',
                          placeholder: 'Фамилия'
                        })
                      .col-lg-4
                        +input__wrap({
                          type: 'text',
                          placeholder: 'Отчество'
                        })
                    .row
                      .col-lg-6
                        .input__wrap.error-valid.error-tel
                          input(type='tel', placeholder='Телефон').login-input
                      .col-lg-6
                        .input__wrap.error-valid.error-email
                          input(type='email', placeholder='Email').login-input
                  .tabs-input__block
                    .tabs-input__subtitle Юридический адрес
                    .row.row-inputs__mb
                      .col-lg-4
                        +input__wrap({
                          type: 'text',
                          placeholder: 'Город'
                        })
                      .col-lg-4
                        +input__wrap({
                          type: 'text',
                          placeholder: 'Почтовый индекс'
                        })
                      .col-lg-4
                        +input__wrap({
                          type: 'text',
                          placeholder: 'Улица, дом, строение'
                        })
                  +login-tabs__block-bottom
                #legal_card.tab-pane.fade
                  .tabs-input__block
                    .tabs-input__subtitle Контактная информация
                    .row.row-inputs__mb
                      .col-lg-4
                        +input__wrap({
                          type: 'text',
                          placeholder: 'Имя'
                        })
                      .col-lg-4
                        +input__wrap({
                          type: 'text',
                          placeholder: 'Фамилия'
                        })
                      .col-lg-4
                        +input__wrap({
                          type: 'text',
                          placeholder: 'Отчество'
                        })
                    .row
                      .col-lg-6
                        .input__wrap.error-valid.error-tel
                          input(type='tel', placeholder='Телефон').login-input
                      .col-lg-6
                        .input__wrap.error-valid.error-email
                          input(type='email', placeholder='Email').login-input
                  .tabs-input__block
                    .tabs-input__subtitle Карточка организации
                    +load-block
                  +login-tabs__block-bottom        
            #individual.tab-pane.fade
              .tabs-input__block
                .tabs-input__subtitle Данные об организации
                .row
                  .col-lg-6
                    +input__wrap({
                      type: 'text',
                      placeholder: 'Имя'
                    })
                  .col-lg-6
                    +input__wrap({
                      type: 'text',
                      placeholder: 'Фамилия'
                    })
              .tabs-input__block
                .tabs-input__subtitle Контактная информация
                .row.row-inputs__mb
                  .col-lg-4
                    +input__wrap({
                      type: 'text',
                      placeholder: 'Имя'
                    })
                  .col-lg-4
                    +input__wrap({
                      type: 'text',
                      placeholder: 'Фамилия'
                    })
                  .col-lg-4
                    +input__wrap({
                      type: 'text',
                      placeholder: 'Отчество'
                    })
                .row
                  .col-lg-6
                    .input__wrap.error-valid.error-tel
                      input(type='tel', placeholder='Телефон').login-input
                  .col-lg-6
                    .input__wrap.error-valid.error-email
                      input(type='email', placeholder='Email').login-input
              .tabs-input__block
                .tabs-input__subtitle Юридический адрес
                .row.row-inputs__mb
                  .col-lg-4
                    +input__wrap({
                      type: 'text',
                      placeholder: 'Город'
                    })
                  .col-lg-4
                    +input__wrap({
                      type: 'text',
                      placeholder: 'Почтовый индекс'
                    })
                  .col-lg-4
                    +input__wrap({
                      type: 'text',
                      placeholder: 'Улица, дом, строение'
                    })
              +login-tabs__block-bottom
