extends ../templates/template.pug
block content
  +breadcrumb
  section.section-video__mb
    .container
      h1.title.title__mb Видео
      .row
        +video-block({
          img: 'video-img1.jpg',
          title: 'Химчистка в перхлорэтилене препаратами PLEX'
        })
        +video-block({
          img: 'video-img2.jpg',
          title: 'Стирка свадебных платьев препаратами PLEX'
        })
        +video-block({
          img: 'video-img3.jpg',
          title: 'Производители моющих средств'
        })
        +video-block({
          img: 'video-img4.jpg',
          title: 'Химчистка в перхлорэтилене препаратами PLEX'
        })
        +video-block({
          img: 'video-img5.jpg',
          title: 'Дезинфицирующие и моющие свредства для производства'
        })
        +video-block({
          img: 'video-img6.jpg',
          title: 'Моющее средство для молочной промышленности'
        })
        +video-block({
          img: 'video-img7.jpg',
          title: 'Основы безопасного производства на мясокомбинате'
        })
        +video-block({
          img: 'video-img8.jpg',
          title: 'Химчистка в перхлорэтилене препаратами PLEX'
        })
        +video-block({
          img: 'video-img9.jpg',
          title: 'Дезинфицирующие и моющие свредства для производств'
        })
      +paginator

  +email__block
