section
  .container
    .banner-middle__wrap
      .row
        .col-lg-6
          +banner-middle__item({
            img: 'banner-middle-img1.jpg',
            title: 'Гарантия качества',
            decs: '«СИКМО» — российская компания, которая занимается разработкой, производством и внедрением профессиональных средств'
          })

        .col-lg-6
          +banner-middle__item({
            img: 'banner-middle-img2.jpg',
            title: 'Оптовикам',
            decs: '«СИКМО» — российская компания, которая занимается разработкой, производством и внедрением профессиональных средств'
          })
