//.footer-mob__menu.d-block.d-lg-none
//  .container
//    ul.menu-buttons__list
//      li.menu-buttons__item
//        a(href="javascript:void(0);").menu-buttons__item-link.button-circle
//          img(src='../img/search.svg' alt='', title='').menu-buttons__item-icon
//      li.menu-buttons__item
//        a(href="javascript:void(0);").menu-buttons__item-link.button-circle
//          img(src='../img/book-icon.svg' alt='', title='').menu-buttons__item-icon
//      // для неавторизованного пользователя
//      li.menu-buttons__item
//        a(href="javascript:void(0);").menu-buttons__item-link.button-circle
//          img(src='../img/profile.svg' alt='', title='').menu-buttons__item-icon
//      // для авторизованного пользователя
//      li.menu-buttons__item.log-in.d-none
//        a(href="javascript:void(0);").menu-buttons__item-link.button-circle ds
//      li.menu-buttons__item
//        a(href="javascript:void(0);").menu-buttons__item-link.button-circle
//          .cart-icon__wrap
//            img(src='../img/cart.svg' alt='', title='').menu-buttons__item-icon
//            .cart-count
//              .cart-count--num 38
//    
