footer.footer
  .footer__top
    .container
      .row
        .col-lg-3
          .footer__top-left
            a(href="javascript:void(0);")
              img(src='../img/logo-footer.svg' alt='', title='').img-logo-footer
            img(src='../img/logo-footer-sk.svg' alt='', title='').img-logo-sk
            
        .col-lg-3
          .footer-block
            .footer-title Каталог товаров
            ul.menu__bottom-list
              each val in ['Для дома', 'Автохимия и детейлинг', 'Химчистка и прачеченая', 'Пищевые производства', 'Дезинфекция', 'Клининг (HoReCa)', 'Для ремонта']   
                li.menu__bottom-item
                  a(href="javascript:void(0);").menu__bottom-link !{val}
        .col-lg-3
          .footer-block
            .footer-title Покупателям
            ul.menu__bottom-list
              each val in ['Как купить', 'Контакты', 'Возврат и обмен товаров', 'Бонусы и скидки', 'Новости', 'Статьи', 'Видео']   
                li.menu__bottom-item
                  a(href="javascript:void(0);").menu__bottom-link !{val}
        .col-lg-3
          ul.social__list
            li.social__item
              a(href="javascript:void(0);").social-link
                .social-img.social-img_inst
            li.social__item
              a(href="javascript:void(0);").social-link
                .social-img.social-img_fb
            li.social__item
              a(href="javascript:void(0);").social-link
                .social-img.social-img_you
            li.social__item
              a(href="javascript:void(0);").social-link
                .social-img.social-img_tel
            li.social__item
              a(href="javascript:void(0);").social-link
                .social-img.social-img_tw
          .footer-phones
            a(href="tel:+7 (495) 120-90-37").footer-tel +7 (495) 120-90-37
            a(href="tel:+7 (800) 500-74-09").footer-tel +7 (800) 500-74-09
          a(href="mailto:info@плекс.рф").footer-mail info@плекс.рф
            

  .footer__bottom-wrap
    .container
      .footer__bottom
        .footer__bottom-left
          a(href="javascript:void(0);").footer-text © Сикмо, 2020
          a(href="javascript:void(0);").footer-text Сделано в affetta + it-in
        .footer__bottom-right
          a(href="javascript:void(0);").footer-text Пользовательское соглашение
          a(href="javascript:void(0);").footer-text Политика конфеденциональности



          //ul.social__list
          //  li.social__item
          //    a(href="javascript:void(0);").social-link
          //      svg.social-img(viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
          //        path(d='M11.2399 0.55127H4.59192C2.33204 0.55127 0.5 2.39777 0.5 4.67548V11.3759C0.5 13.6536 2.33204 15.5001 4.59192 15.5001H11.2399C13.4998 15.5001 15.3318 13.6536 15.3318 11.3759V4.67548C15.3318 2.39777 13.4998 0.55127 11.2399 0.55127ZM14.0154 11.3759C14.0154 12.9239 12.7648 14.1733 11.2399 14.1733H4.59192C3.05608 14.1733 1.81643 12.9128 1.81643 11.3759V4.67548C1.81643 3.13857 3.06705 1.87809 4.59192 1.87809H11.2399C12.7758 1.87809 14.0154 3.13857 14.0154 4.67548V11.3759Z'  )
          //        path(d='M7.916 4.17822C5.8097 4.17822 4.08737 5.90309 4.08737 8.026C4.08737 10.1489 5.79873 11.8848 7.916 11.8848C10.0223 11.8848 11.7446 10.16 11.7446 8.026C11.7446 5.90309 10.0223 4.17822 7.916 4.17822ZM7.916 10.558C6.53374 10.558 5.4038 9.43022 5.4038 8.03706C5.41477 6.63284 6.53374 5.50504 7.916 5.50504C9.29825 5.50504 10.4282 6.63284 10.4282 8.026C10.4282 9.41917 9.29825 10.558 7.916 10.558Z'  )
          //        path(d='M11.898 3.05078C11.6456 3.05078 11.3933 3.15029 11.2178 3.33826C11.0423 3.51517 10.9326 3.76948 10.9326 4.02379C10.9326 4.2781 11.0313 4.53241 11.2178 4.70932C11.3933 4.88623 11.6456 4.9968 11.898 4.9968C12.1503 4.9968 12.4026 4.89728 12.5781 4.70932C12.7536 4.53241 12.8633 4.2781 12.8633 4.02379C12.8633 3.76948 12.7646 3.51517 12.5781 3.33826C12.4026 3.15029 12.1612 3.05078 11.898 3.05078Z'  )
          //  li.social__item
          //    a(href="javascript:void(0);").social-link
          //      svg.social-img(viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg')
          //        path(d='M5.46133 9.17383H7.36782L8.13041 6.04339H5.46133V4.47818C5.46133 3.67209 5.46133 2.91296 6.98652 2.91296H8.13041V0.283393C7.88181 0.249741 6.94305 0.173828 5.95168 0.173828C3.88124 0.173828 2.41095 1.47061 2.41095 3.85209V6.04339H0.123169V9.17383H2.41095V15.826H5.46133V9.17383Z'  )
          //  li.social__item
          //    a(href="javascript:void(0);").social-link
          //      svg.social-img( viewBox='0 0 16 13' fill='none' xmlns='http://www.w3.org/2000/svg')
          //        path(fill-rule='evenodd' clip-rule='evenodd' d='M14.1243 1.25887C14.7947 1.44506 15.3234 1.99032 15.5039 2.68188C15.8391 3.94531 15.8262 6.57856 15.8262 6.57856C15.8262 6.57856 15.8262 9.19851 15.5039 10.4619C15.3234 11.1535 14.7947 11.6988 14.1243 11.885C12.8995 12.2174 8.00013 12.2174 8.00013 12.2174C8.00013 12.2174 3.11368 12.2174 1.87595 11.8717C1.20551 11.6855 0.676899 11.1402 0.496397 10.4486C0.174072 9.19851 0.174072 6.56526 0.174072 6.56526C0.174072 6.56526 0.174072 3.94531 0.496397 2.68188C0.676899 1.99032 1.21841 1.43176 1.87595 1.24557C3.10078 0.913086 8.00013 0.913086 8.00013 0.913086C8.00013 0.913086 12.8995 0.913086 14.1243 1.25887ZM6.44003 4.14488L10.5142 6.56534L6.44003 8.9858V4.14488Z'  )
          //  li.social__item
          //    a(href="javascript:void(0);").social-link
          //      svg.social-img( viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
          //        g(clip-path='url(#clip0)')
          //          path(d='M0.410499 7.98029C2.01176 7.0928 3.7992 6.3521 5.46929 5.60761C8.3425 4.38819 11.2271 3.1899 14.1409 2.07431C14.7077 1.88423 15.7264 1.69839 15.8262 2.54373C15.7716 3.74029 15.5466 4.92985 15.3923 6.1194C15.0006 8.73535 14.5478 11.3423 14.1064 13.9497C13.9542 14.8181 12.873 15.2677 12.1812 14.712C10.5185 13.5819 8.84304 12.4629 7.20159 11.3066C6.66385 10.7568 7.16256 9.9674 7.64266 9.57483C9.01209 8.21678 10.4644 7.06317 11.7622 5.63506C12.1123 4.78432 11.0779 5.50125 10.7367 5.72097C8.86199 7.0209 7.03311 8.4002 5.05653 9.54267C4.0469 10.1019 2.87015 9.62398 1.86097 9.31192C0.956124 8.93497 -0.369815 8.55514 0.410384 7.9804L0.410499 7.98029Z' fill='url(#paint0_linear)')
          //        defs
          //          lineargradient#paint0_linear(x1='1.01054' y1='14.9566' x2='16.9912' y2='11.6805' gradientUnits='userSpaceOnUse')
          //            stop(stop-color='#2C6AB0')
          //            stop(offset='1' stop-color='#539EF2')
          //          clippath#clip0
          //            rect(width='15.6522' height='15.6522'   transform='translate(0.174072 0.173828)')
          //
          //  li.social__item
          //    a(href="javascript:void(0);").social-link
          //      svg.social-img(viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
          //        g(clip-path='url(#clip0)')
          //          path(d='M14.2487 5.1687C14.2487 5.31573 14.2487 5.46276 14.2487 5.58878C14.2487 9.93661 11.0118 14.9566 5.11147 14.9566C3.28812 14.9566 1.60817 14.4105 0.174072 13.4863C0.419918 13.5073 0.686251 13.5283 0.932096 13.5283C2.42766 13.5283 3.82078 13.0032 4.92709 12.121C3.51347 12.1 2.32522 11.1338 1.93597 9.83159C2.14084 9.8736 2.32522 9.8946 2.55058 9.8946C2.8374 9.8946 3.12422 9.85259 3.39055 9.76858C1.91548 9.47452 0.809173 8.15127 0.809173 6.55497C0.809173 6.53396 0.809173 6.53396 0.809173 6.51296C1.2394 6.76501 1.73109 6.91204 2.26376 6.93304C1.4033 6.34493 0.829661 5.33674 0.829661 4.18152C0.829661 3.5724 0.993558 3.00529 1.25989 2.5222C2.8374 4.51758 5.21391 5.81983 7.87723 5.96686C7.81577 5.73581 7.79529 5.46276 7.79529 5.21071C7.79529 3.38337 9.22939 1.91309 11.0118 1.91309C11.9337 1.91309 12.7737 2.31216 13.3473 2.94228C14.0848 2.79525 14.7609 2.5222 15.396 2.14413C15.1502 2.92128 14.638 3.5514 13.9824 3.97148C14.638 3.88746 15.2526 3.71943 15.8262 3.44638C15.4165 4.11851 14.8838 4.70662 14.2487 5.1687Z'  )
          //        defs
          //          clippath#clip0
          //            rect(width='15.6522' height='15.6522'   transform='translate(0.174072 0.173828)')







//        .col-lg-4
//          .logo-footer
//            a(href="javascript:void(0);")
//              img(src='../img/logo.svg' alt='', title='').img-logo
//          .footer__text.mb-lg-4 © 2016 pf group | Все права защищены 199106, г. Санкт-Петербург, <br>ул. Шевченко 3Б «А», пом. 3Н
//          a(href="tel:+7 (812) 677 52 65 ").footer__text +7 (812) 677 52 65 
//          a(href="mailto:info@pfgroup.ru").footer__text info@pfgroup.ru
//        .col-lg-2.offset-lg-2
//          .footer-block__wrap
//            .footer-block
//              .footer-title навигация
//              ul.menu__bottom-list
//                li.menu__bottom-item
//                  a(href="javascript:void(0);").menu__bottom-link Каталог
//                li.menu__bottom-item
//                  a(href="javascript:void(0);").menu__bottom-link Сервис
//                li.menu__bottom-item
//                  a(href="javascript:void(0);").menu__bottom-link О компании
//                li.menu__bottom-item
//                  a(href="javascript:void(0);").menu__bottom-link Новости
//                li.menu__bottom-item
//                  a(href="javascript:void(0);").menu__bottom-link Контакты
//                li.menu__bottom-item
//                  a(href="javascript:void(0);").menu__bottom-link Карта сайта
//        .col-lg-3.offset-lg-1
//          .footer-block__wrap
//            .footer-block
//              .footer-title курсы валют
//              ul.course-list  
//                li.course-item 1 $ — 77,1363 ₽
//                li.course-item 1 € — 91,3371 ₽
//            .social-block
//              .footer-title социальные сети
//              .social__wrap
//                ul.social__list
//                  li.social__item
//                    a(href="javascript:void(0);").social-link.button-circle
//                      img(src='../img/insta.svg' alt='', title='').img-insta
//                  li.social__item
//                    a(href="javascript:void(0);").social-link.button-circle
//                      img(src='../img/fb.svg' alt='', title='').img-fb
//                  li.social__item
//                    a(href="javascript:void(0);").social-link.button-circle
//                      img(src='../img/whatsapp.svg' alt='', title='').img-whatsapp
//                    
//                  
//
//
//
//
//
//
