.header-wrap
  .container
    header.header
      a(href="javascript:void(0);").logo-header
        img(src='../img/logo.svg' alt='', title='').img-logo
      nav.menu-header
        ul.menu-header__list
          li.menu-header__item
            a(href="javascript:void(0);").menu-header__link Как купить
          li.menu-header__item
            a(href="javascript:void(0);").menu-header__link Возврат и обмен товаров   
          li.menu-header__item
            a(href="javascript:void(0);").menu-header__link Бонусы и скидки
          li.menu-header__item
            a(href="javascript:void(0);").menu-header__link Контакты
      .contacts__header.arrow-little
        a(href="tel:+7 (495) 120-90-37").header-tel +7 (495) 120-90-37
      .city__block.arrow-little
        img(src='../img/icon-geo.svg' alt='', title='').icon-geo
        .city-name Краснодар
.header__bottom-wrap
  .container
    .header__bottom
      .header__bottom-left
        a(href="javascript:void(0);").button-blue.button-catalog Каталог товаров
        .search__wrap
          .search-select.arrow-little Поиск по разделам
          .search__block
            input(type='search').search-input
            img(src='../img/icon-search.svg' alt='', title='').icon-search
      .header__bottom-right
        a(href="javascript:void(0);").user__block
          img(src='../img/icon-user.svg' alt='', title='').icon-user
          .user-title Вход / Регистрация
        a(href="javascript:void(0);").cart__block
          img(src='../img/icon-cart.svg' alt='', title='').icon-cart
          .user-title Корзина

      .drop__menu-wrap
        .drop__menu
          ul.drop__menu-list
            li.drop__menu-item.menu-item-js(data-menu-item='home')
              a(href="javascript:void(0);").drop__menu-link
                svg.drop__menu-item-img(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M1.48517 8.82913C1.48572 8.82872 1.48613 8.82817 1.48654 8.82776L8.82912 1.48546C9.14209 1.17235 9.5582 1 10.0008 1C10.4434 1 10.8595 1.17235 11.1726 1.48546L18.5114 8.82405C18.5138 8.82652 18.5164 8.82913 18.5188 8.8316C19.1615 9.47801 19.1604 10.5268 18.5156 11.1716C18.2211 11.4663 17.8321 11.6368 17.4162 11.6548C17.3991 11.6565 17.3821 11.6573 17.3649 11.6573H17.0724V17.0606C17.0724 18.13 16.2023 19 15.1329 19H12.2603C11.969 19 11.7329 18.7638 11.7329 18.4727V14.2363C11.7329 13.7484 11.3359 13.3515 10.848 13.3515H9.15362C8.66569 13.3515 8.26881 13.7484 8.26881 14.2363V18.4727C8.26881 18.7638 8.03274 19 7.74147 19H4.86882C3.7993 19 2.92932 18.13 2.92932 17.0606V11.6573H2.65796C2.21548 11.6573 1.79938 11.4849 1.48613 11.1717C0.840683 10.526 0.840408 9.47527 1.48517 8.82913ZM2.23196 10.426C2.34581 10.5398 2.49715 10.6026 2.65796 10.6026H3.45667C3.74794 10.6026 3.98401 10.8387 3.98401 11.1299V17.0606C3.98401 17.5484 4.38089 17.9453 4.86882 17.9453H7.21413V14.2363C7.21413 13.1669 8.08411 12.2968 9.15362 12.2968H10.848C11.9175 12.2968 12.7876 13.1669 12.7876 14.2363V17.9453H15.1329C15.6207 17.9453 16.0177 17.5484 16.0177 17.0606V11.1299C16.0177 10.8387 16.2538 10.6026 16.5451 10.6026H17.3301C17.3383 10.6021 17.3464 10.6016 17.3548 10.6015C17.5119 10.5988 17.6592 10.5364 17.7697 10.4259C18.0045 10.191 18.0045 9.80884 17.7697 9.57387C17.7698 9.57401 17.7695 9.57387 17.7697 9.57387L10.4267 2.23116C10.313 2.11731 10.1618 2.05469 10.0008 2.05469C9.84 2.05469 9.6888 2.11731 9.57495 2.23116L2.2343 9.57167C2.2332 9.57277 2.23196 9.57387 2.23087 9.57497C1.99727 9.81021 1.99768 10.1916 2.23196 10.426Z')
                  path(d='M17.7697 9.57387C18.0045 9.80884 18.0045 10.191 17.7697 10.4259C17.6592 10.5364 17.5119 10.5988 17.3548 10.6015C17.3464 10.6016 17.3383 10.6021 17.3301 10.6026H16.5451C16.2538 10.6026 16.0177 10.8387 16.0177 11.1299V17.0606C16.0177 17.5484 15.6207 17.9453 15.1329 17.9453H12.7876V14.2363C12.7876 13.1669 11.9175 12.2968 10.848 12.2968H9.15362C8.08411 12.2968 7.21413 13.1669 7.21413 14.2363V17.9453H4.86882C4.38089 17.9453 3.98401 17.5484 3.98401 17.0606V11.1299C3.98401 10.8387 3.74794 10.6026 3.45667 10.6026H2.65796C2.49715 10.6026 2.34581 10.5398 2.23196 10.426C1.99768 10.1916 1.99727 9.81021 2.23087 9.57497C2.23196 9.57387 2.2332 9.57277 2.2343 9.57167L9.57495 2.23116C9.6888 2.11731 9.84 2.05469 10.0008 2.05469C10.1618 2.05469 10.313 2.11731 10.4267 2.23116L17.7697 9.57387ZM17.7697 9.57387C17.7695 9.57387 17.7698 9.57401 17.7697 9.57387ZM1.48517 8.82913C1.48572 8.82872 1.48613 8.82817 1.48654 8.82776L8.82912 1.48546C9.14209 1.17235 9.5582 1 10.0008 1C10.4434 1 10.8595 1.17235 11.1726 1.48546L18.5114 8.82405C18.5138 8.82652 18.5164 8.82913 18.5188 8.8316C19.1615 9.47801 19.1604 10.5268 18.5156 11.1716C18.2211 11.4663 17.8321 11.6368 17.4162 11.6548C17.3991 11.6565 17.3821 11.6573 17.3649 11.6573H17.0724V17.0606C17.0724 18.13 16.2023 19 15.1329 19H12.2603C11.969 19 11.7329 18.7638 11.7329 18.4727V14.2363C11.7329 13.7484 11.3359 13.3515 10.848 13.3515H9.15362C8.66569 13.3515 8.26881 13.7484 8.26881 14.2363V18.4727C8.26881 18.7638 8.03274 19 7.74147 19H4.86882C3.7993 19 2.92932 18.13 2.92932 17.0606V11.6573H2.65796C2.21548 11.6573 1.79938 11.4849 1.48613 11.1717C0.840683 10.526 0.840408 9.47527 1.48517 8.82913Z' stroke-width='0.3')
                .drop__menu-item-text Для дома
            li.drop__menu-item.menu-item-js(data-menu-item='auto')
              a(href="javascript:void(0);").drop__menu-link
                svg.drop__menu-item-img(viewBox='0 0 20 20' fill='none')
                  g(clip-path='url(#clip0)')
                    path(d='M10.0151 2.47525V1.63637C10.0151 0.73387 9.28118 0 8.37871 0H5.106C4.2035 0 3.46963 0.73387 3.46963 1.63637V2.7418C2.50568 3.20329 1.83325 4.1802 1.83325 5.31819V16.7727C1.83325 18.3515 3.11805 19.6363 4.6969 19.6363H16.9696C18.5485 19.6363 19.8333 18.3515 19.8333 16.7727V12.6818C19.8333 7.18049 15.4641 2.6924 10.0151 2.47525ZM4.28779 1.63637C4.28779 1.18535 4.65494 0.818206 5.10596 0.818206H8.37871C8.82973 0.818206 9.19688 1.18535 9.19688 1.63637V2.45454H4.6969C4.55683 2.45454 4.4226 2.47636 4.28779 2.49589V1.63637ZM19.015 16.7727C19.015 17.9005 18.0974 18.8181 16.9696 18.8181H4.6969C3.56911 18.8181 2.65146 17.9005 2.65146 16.7727V5.31819C2.65146 4.1904 3.56911 3.27275 4.6969 3.27275H9.60598C14.7943 3.27275 19.015 7.49349 19.015 12.6818V16.7727Z' stroke-width='0.3')
                    path(d='M10.4244 4.90918C10.2634 4.90918 10.1172 5.00387 10.0512 5.15088C9.98532 5.2975 10.0117 5.4697 10.1187 5.58993L16.6642 12.9536C16.7433 13.0426 16.8552 13.091 16.9698 13.091C17.0186 13.091 17.0677 13.0822 17.1153 13.0642C17.2739 13.0039 17.3789 12.8517 17.3789 12.6819C17.3789 9.28812 14.0063 4.90918 10.4244 4.90918ZM11.4631 5.87117C13.755 6.496 15.8201 9.0536 16.3998 11.4246L11.4631 5.87117Z'  stroke-width='0.3')
                    path(d='M8.63484 5.43572C8.32602 5.10094 7.88777 4.90918 7.43234 4.90918H5.92422C5.02175 4.90918 4.28784 5.64305 4.28784 6.54555V15.5456C4.28784 16.448 5.02175 17.1819 5.92422 17.1819H14.9849C15.6445 17.1819 16.219 16.8063 16.4835 16.2019C16.7483 15.5975 16.6349 14.9207 16.1998 14.4501L8.63484 5.43572ZM15.734 15.8739C15.5998 16.1807 15.3197 16.3637 14.9849 16.3637H5.92422C5.47319 16.3637 5.10605 15.9966 5.10605 15.5456V6.54555C5.10605 6.09453 5.47319 5.72739 5.92422 5.72739H7.43234C7.66008 5.72739 7.87899 5.82327 8.02082 5.97587L15.5858 14.9903C15.8131 15.2367 15.8686 15.5671 15.734 15.8739Z' stroke-width='0.3')
                  defs
                    clippath#clip0
                      rect(width='20' height='20' fill='white')
                .drop__menu-item-text Автохимия и детейлинг
            li.drop__menu-item.menu-item-js(data-menu-item='dry-cleaning')
              a(href="javascript:void(0);").drop__menu-link
                svg.drop__menu-item-img(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(clip-path='url(#clip0)')
                    path(d='M19.9771 9.18988C19.9638 9.14289 18.3409 4.80939 18.2717 4.62262C18.2713 4.62186 18.271 4.62094 18.2707 4.62003C17.9511 3.76493 17.3912 3.03098 16.6511 2.49723C15.6629 1.78525 12.0312 0.739107 9.67524 0.825319C7.65665 0.89963 4.37617 1.75733 3.34879 2.49738C2.6095 3.03037 2.04966 3.76431 1.72938 4.61988C-0.0694819 9.4328 0.0333624 9.14594 0.0187139 9.20346C-0.0166865 9.34095 -0.00264839 9.49231 0.0675421 9.62644C0.145972 9.77597 0.284217 9.88507 0.447333 9.92642L4.15446 10.8664C4.15446 11.6922 4.15446 18.4233 4.15446 18.656C4.15446 18.9836 4.42011 19.2492 4.74772 19.2492H15.2523C15.5799 19.2492 15.8456 18.9836 15.8456 18.656C15.8456 18.4224 15.8456 11.6906 15.8456 10.8664L19.5527 9.92642C19.7161 9.88492 19.8542 9.77582 19.9325 9.62644C19.9993 9.49887 20.021 9.34491 19.9771 9.18988ZM15.8456 9.64231V9.02829L18.4275 8.42694C18.4976 8.61402 18.5623 8.7872 18.6192 8.93903C17.6727 9.17905 16.5232 9.47049 15.8456 9.64231ZM12.0516 2.21997C11.9941 3.30182 11.096 4.1641 10.0001 4.1641C8.90406 4.1641 8.00562 3.30136 7.9484 2.21936C9.44453 1.94531 10.4312 1.92472 12.0516 2.21997ZM2.84067 5.03552C3.07841 4.40015 3.49406 3.85526 4.04246 3.4599C4.38639 3.21225 5.47404 2.79676 6.77973 2.47159C6.9604 4.08887 8.33536 5.35062 10.0001 5.35062C11.6647 5.35062 13.0395 4.08917 13.2203 2.47205C14.5263 2.79706 15.614 3.21225 15.9573 3.45975C16.5064 3.85572 16.9221 4.40061 17.1594 5.03537H17.1595C17.2103 5.17179 17.6103 6.24127 18.0085 7.30634L15.8454 7.81018V5.66464C15.8454 5.33704 15.5799 5.07138 15.2522 5.07138C14.9246 5.07138 14.6591 5.33704 14.6591 5.66464C14.6591 5.6706 14.6592 15.7422 14.6592 15.9268H5.34098C5.34098 15.7409 5.34113 5.66876 5.34113 5.66464C5.34113 5.33704 5.07548 5.07138 4.74787 5.07138C4.42026 5.07138 4.15461 5.33704 4.15461 5.66464V7.81018L1.99137 7.30634L2.84067 5.03552ZM1.57236 8.42694L4.15461 9.02845V9.64231L1.38071 8.93903L1.57236 8.42694ZM14.6591 18.0627H5.34098V17.1133H14.6591V18.0627Z')
                  defs
                    clippath#clip0
                      rect(width='20' height='20' fill='white')
                .drop__menu-item-text Химчистка и прачеченая
            li.drop__menu-item.menu-item-js(data-menu-item='manufacture')
              a(href="javascript:void(0);").drop__menu-link
                svg.drop__menu-item-img(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M18.2422 9.40918H16.8359C16.8359 8.70797 16.838 8.76402 16.8298 8.70406C17.0007 3.94152 13.1764 0.00488281 8.44219 0.00488281C3.78715 0.00488281 0 3.77016 0 8.39824C0 12.8279 3.47148 16.4682 7.85156 16.7711V18.2373C7.85156 19.2066 8.64012 19.9951 9.60938 19.9951H15.0781C16.0474 19.9951 16.8359 19.2066 16.8359 18.2373V16.2061H18.2422C19.2114 16.2061 20 15.4175 20 14.4482V11.167C20 10.1977 19.2114 9.40918 18.2422 9.40918ZM1.17188 8.39824C1.17188 4.41629 4.43332 1.17676 8.44219 1.17676C12.3575 1.17676 15.5548 4.3084 15.6612 8.19824H13.7087C13.6032 5.38453 11.2814 3.12793 8.44219 3.12793C5.53609 3.12793 3.17188 5.49215 3.17188 8.39824C3.17188 11.104 5.22289 13.3411 7.85156 13.6357V15.5962C4.1182 15.2962 1.17188 12.1818 1.17188 8.39824ZM8.4375 8.19824C8.11391 8.19824 7.85156 8.46059 7.85156 8.78418V12.4543C5.87082 12.1671 4.34375 10.4571 4.34375 8.39824C4.34375 6.13832 6.18227 4.2998 8.44219 4.2998C10.6352 4.2998 12.4314 6.03086 12.5361 8.19824H8.4375ZM15.6641 18.2373C15.6641 18.5604 15.4012 18.8232 15.0781 18.8232H9.60938C9.28629 18.8232 9.02344 18.5604 9.02344 18.2373V9.37012H15.6641V18.2373ZM18.8281 14.4482C18.8281 14.7713 18.5653 15.0342 18.2422 15.0342H16.8359V10.5811H18.2422C18.5653 10.5811 18.8281 10.8439 18.8281 11.167V14.4482Z')
                .drop__menu-item-text Пищевые производства
            li.drop__menu-item.menu-item-js(data-menu-item='disinfection')
              a(href="javascript:void(0);").drop__menu-link
                svg.drop__menu-item-img(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(clip-path='url(#clip0)')
                    path(d='M12.4657 5.1643V1.36719C12.4657 0.61332 11.8524 0 11.0985 0H7.77759C7.02372 0 6.4104 0.61332 6.4104 1.36719V5.13313L3.72145 8.84234C3.55118 9.07727 3.46118 9.35473 3.46118 9.64484V18.6328C3.46118 19.3867 4.0745 20 4.82837 20H14.0477C14.8016 20 15.4149 19.3867 15.4149 18.6328V9.64645C15.4149 9.35449 15.3238 9.07559 15.1516 8.83977L12.4657 5.1643ZM7.58228 1.36719C7.58228 1.25949 7.66989 1.17188 7.77759 1.17188H11.0985C11.2062 1.17188 11.2938 1.25949 11.2938 1.36719V2.37676H10.5709C10.2473 2.37676 9.98493 2.6391 9.98493 2.9627C9.98493 3.28629 10.2473 3.54863 10.5709 3.54863H11.2938V4.75352H7.58228V1.36719ZM14.243 18.6328C14.243 18.7405 14.1554 18.8281 14.0477 18.8281H4.82837C4.72067 18.8281 4.63306 18.7405 4.63306 18.6328V9.6448C4.63306 9.60332 4.64591 9.56371 4.67024 9.53012L7.28345 5.92535H11.5704L14.2053 9.53113C14.23 9.56484 14.243 9.60473 14.243 9.64645V18.6328H14.243Z')
                    path(d='M15.4417 2.20774L16.3672 1.28224C16.596 1.05345 16.596 0.682471 16.3672 0.453604C16.1383 0.224775 15.7674 0.224775 15.5385 0.453604L14.613 1.37907C14.3842 1.60786 14.3842 1.97884 14.613 2.2077C14.8418 2.43653 15.2128 2.43657 15.4417 2.20774Z')
                    path(d='M15.4417 3.71773C15.2129 3.48895 14.8419 3.48895 14.613 3.71773C14.3842 3.94652 14.3842 4.31754 14.613 4.54637L15.5385 5.47188C15.7674 5.7007 16.1383 5.70066 16.3672 5.47188C16.596 5.24309 16.596 4.87207 16.3672 4.64324L15.4417 3.71773Z')
                  defs
                    clippath#clip0
                      rect(width='20' height='20' fill='white')
                .drop__menu-item-text Дезинфекция
            li.drop__menu-item.menu-item-js(data-menu-item='cleaning')
              a(href="javascript:void(0);").drop__menu-link
                svg.drop__menu-item-img(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(clip-path='url(#clip0)')
                    path(d='M19.9115 13.4934C19.8992 13.4779 18.7029 11.9386 18.3139 10.7081C18.222 10.4152 18.1064 10.0025 17.9738 9.52972C17.3414 7.26774 16.7661 5.34308 16.1281 4.70545C15.4003 3.97771 12.5485 3.51481 11.5999 3.37852C11.2714 2.80606 10.8772 2.5 10.4167 2.5C9.12277 2.5 4.16668 4.22162 4.16668 7.08337C4.16668 8.33299 2.93049 10.175 1.8392 11.8002C0.852077 13.2708 0 14.5407 0 15.4168C0 17.5001 2.07928 17.5001 3.75003 17.5001C4.68184 17.5001 5.17094 17.2556 5.60309 17.0395C6.00267 16.8393 6.34853 16.6668 7.08342 16.6668C9.68028 16.6668 11.6668 16.5748 11.6668 15.4168C11.6668 15.327 11.6781 15.1435 11.6963 14.902C11.7073 14.9086 11.7177 14.9153 11.7287 14.922C12.5774 15.4371 13.4564 15.9697 14.223 17.2926C14.2979 17.4212 14.4346 17.5001 14.5835 17.5001C18.5484 17.5001 19.9587 13.9353 19.9725 13.899C20.0246 13.7628 20.0018 13.6085 19.9115 13.4934ZM10.9514 3.90872L11.6611 6.69766L11.5951 7.3363C11.4548 7.05747 11.3269 6.77578 11.22 6.5109C10.9124 5.74878 9.69977 4.2176 8.64183 4.00232C8.42116 3.95646 8.21409 3.96751 8.02741 4.03232C9.01078 3.58966 9.96493 3.33337 10.4167 3.33337C10.5714 3.33337 10.7699 3.54739 10.9514 3.90872ZM10.8367 15.4042C10.5991 15.8335 7.95257 15.8335 7.08342 15.8335C6.76283 15.8335 6.50802 15.8688 6.27654 15.9156C6.78935 14.7657 7.50006 12.6275 7.50006 9.58343C7.50006 9.35311 7.31369 9.16675 7.08338 9.16675C6.85306 9.16675 6.6667 9.35311 6.6667 9.58343C6.6667 13.5126 5.40012 15.8774 5.12461 16.345C4.76613 16.5218 4.41941 16.6669 3.74999 16.6669C1.76755 16.6669 0.833288 16.5436 0.833288 15.4168C0.833288 14.7947 1.69673 13.5085 2.5317 12.2646C3.68819 10.5405 5.00004 8.58651 5.00004 7.0834C5.00004 5.84382 6.41814 4.79155 7.83831 4.11947C7.76139 4.16529 7.68909 4.22174 7.62213 4.28881C6.61869 5.29143 7.19326 6.99715 7.98999 8.15318C8.628 9.07889 9.10164 10.1718 9.1684 10.8729C9.1798 10.9893 9.18469 11.0996 9.18957 11.2086C9.21723 11.8104 9.24652 12.433 10.0799 13.5785C10.3197 13.9081 10.6002 14.1605 10.9024 14.3835C10.8601 14.8884 10.8339 15.2669 10.8367 15.4042ZM14.8162 16.6619C13.9682 15.3057 12.9705 14.7007 12.1608 14.2095C11.5927 13.8653 11.1028 13.5678 10.7537 13.0885C10.0668 12.1445 10.0473 11.7148 10.0221 11.1704C10.0164 11.0479 10.0107 10.9242 9.99848 10.794C9.91789 9.95089 9.39953 8.72854 8.67687 7.68036C8.03397 6.74856 7.61483 5.47452 8.21136 4.87799C8.26101 4.82955 8.3253 4.78846 8.47585 4.81901C9.12851 4.95166 10.1816 6.16586 10.4469 6.82262C10.7659 7.61243 11.6294 9.50007 12.7573 9.96839C12.8859 10.0209 13.0332 10.0071 13.1479 9.93015C13.5646 9.65265 13.755 9.21807 13.8942 8.90108C13.9341 8.80995 13.9894 8.68502 13.9878 8.67608C14.1579 8.55807 14.2156 8.33264 14.1229 8.14709C13.9959 7.89357 13.8006 7.21485 13.7355 6.97481C13.7013 6.84825 13.6102 6.74532 13.4881 6.69649L12.4112 6.26574L11.9027 4.26795C13.3553 4.50229 15.1601 4.91631 15.5389 5.29472C16.0744 5.83019 16.7612 8.28627 17.1714 9.75398C17.3065 10.2374 17.4253 10.6593 17.5197 10.9588C17.8689 12.0656 18.7453 13.3205 19.1018 13.8039C18.7738 14.4695 17.5327 16.5489 14.8162 16.6619ZM12.311 8.51002L12.4491 7.17852L12.9876 7.39388C13.0519 7.62013 13.1617 7.98634 13.2716 8.27197C13.2211 8.36107 13.1772 8.46037 13.1308 8.56615C13.0551 8.73869 12.9729 8.92749 12.8574 9.07397C12.6741 8.94342 12.4901 8.74397 12.311 8.51002Z' fill='#0D3E75' stroke='#0D3E75' stroke-width='0.3')
                  defs
                    clippath#clip0
                      rect(width='20' height='20' fill='white')
                .drop__menu-item-text Клининг (HoReCa)
            li.drop__menu-item.menu-item-js(data-menu-item='service')
              a(href="javascript:void(0);").drop__menu-link
                svg.drop__menu-item-img(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M17.3146 14.0019L13.9575 10.6448C13.6171 10.3051 13.1556 10.064 12.6529 9.98732L14.1328 8.50734C15.1813 8.69381 16.2702 8.35771 17.0299 7.59805C18.011 6.61689 18.2686 5.11688 17.6707 3.86541C17.5313 3.57378 17.1449 3.50778 16.9167 3.7361L15.842 4.81082H15.1795V4.14832L16.2542 3.07359C16.4827 2.84512 16.4162 2.45881 16.1249 2.31965C14.8734 1.7218 13.3734 1.97934 12.3922 2.96053C11.6326 3.72016 11.2965 4.80898 11.483 5.85755L9.66398 7.67652L7.10599 5.11854L7.43725 4.78726C7.65281 4.57173 7.6079 4.21082 7.34703 4.05429L4.03454 2.06677C3.85023 1.95615 3.61426 1.98524 3.46226 2.13724L2.13722 3.46225C1.98522 3.61425 1.95618 3.85019 2.06675 4.03454L4.05429 7.34708C4.21226 7.61043 4.57342 7.65115 4.78726 7.4373L5.11855 7.10602L7.67653 9.66397L5.85755 11.483C4.80904 11.2965 3.72016 11.6326 2.96053 12.3922C1.97934 13.3734 1.72178 14.8734 2.31966 16.1249C2.459 16.4165 2.84541 16.4825 3.07363 16.2542L4.14832 15.1795H4.81083V15.842L3.7361 16.9167C3.5076 17.1452 3.57407 17.5315 3.86541 17.6706C4.31523 17.8855 4.79704 17.9899 5.27545 17.9899C6.12802 17.9899 6.96956 17.6583 7.59806 17.0298C8.35769 16.2702 8.69381 15.1813 8.50731 14.1328L9.98735 12.6527C10.064 13.1555 10.3052 13.6172 10.6451 13.9578L14.0019 17.3145C14.9138 18.2265 16.3975 18.2305 17.3147 17.3145C18.2277 16.401 18.2277 14.915 17.3146 14.0019ZM4.54901 6.35055L3.05835 3.86613L3.8661 3.05841L6.35049 4.54904C6.17758 4.72195 4.78248 6.11708 4.54901 6.35055ZM5.78099 6.44355C6.21252 6.01198 6.08214 6.14239 6.44352 5.78101L9.00147 8.33896L8.33897 9.00147L5.78099 6.44355ZM7.66337 13.6517C7.54512 13.77 7.49884 13.9423 7.542 14.1039C7.75743 14.9105 7.52506 15.7778 6.93552 16.3674C6.40565 16.8972 5.66408 17.1317 4.9477 17.0302L5.61052 16.3674C5.69836 16.2795 5.74774 16.1603 5.74774 16.0361V14.7111C5.74774 14.4523 5.53799 14.2426 5.27927 14.2426H3.95423C3.82994 14.2426 3.71082 14.292 3.62297 14.3798L2.96016 15.0426C2.85869 14.3262 3.09316 13.5846 3.62297 13.0548C4.21251 12.4653 5.07983 12.2329 5.88642 12.4483C6.04802 12.4915 6.2203 12.4452 6.33858 12.327C6.44261 12.223 12.1192 6.54639 12.327 6.33861C12.4452 6.22036 12.4915 6.04805 12.4483 5.88645C12.2329 5.07988 12.4653 4.2126 13.0548 3.623C13.5847 3.09316 14.3261 2.85859 15.0426 2.96019L14.3798 3.623C14.292 3.71085 14.2426 3.83 14.2426 3.95422V5.27923C14.2426 5.53795 14.4523 5.7477 14.7111 5.7477H16.0361C16.1604 5.7477 16.2795 5.69833 16.3674 5.61048L17.0302 4.94766C17.1316 5.66414 16.8972 6.40567 16.3674 6.93549C15.7778 7.52502 14.9105 7.75737 14.1039 7.54196C13.9423 7.4988 13.77 7.54505 13.6517 7.66331L7.66337 13.6517ZM16.6524 16.6519C16.1032 17.2004 15.2116 17.1993 14.6644 16.6522L11.308 13.2957C10.8335 12.8203 10.6882 11.992 11.3257 11.3257C11.9919 10.6882 12.8202 10.8335 13.2953 11.3076L16.6521 14.6644C17.2 15.2123 17.1999 16.104 16.6524 16.6519Z'  stroke-width='0.1')
                  path(d='M15.9791 15.3166L12.6686 12.0061C12.4857 11.8232 12.189 11.8232 12.0061 12.0061C11.8232 12.189 11.8232 12.4857 12.0061 12.6686L15.3166 15.9791C15.4995 16.162 15.7962 16.162 15.9791 15.9791C16.162 15.7962 16.162 15.4996 15.9791 15.3166Z' fill='#0D3E75' stroke='#0D3E75' stroke-width='0.1')
                .drop__menu-item-text Для ремонта
          +drop__menu--inner('home')   
          +drop__menu--inner('auto')   
          +drop__menu--inner('dry-cleaning')   
          +drop__menu--inner('manufacture')   
          +drop__menu--inner('disinfection')   
          +drop__menu--inner('cleaning')   
          +drop__menu--inner('service')   

