//.menu-mob-wrap.d-block.d-lg-none
//  .menu-mob
//    .menu-mob__top
//      a(href="tel:8 (812) 677 52 65").phone-big 8 (812) 677 52 65
//      +button-b-small('заказать звонок')
//    .menu__blocks
//      a(href="javascript:void(0);").menu-mob--link каталог
//      .catalog-mob__blocks
//        .catalog-mob__block.accord-wrap--js
//          .catalog__block-title.catalog-icon.direct-icon.accord-title--js направления
//          .catalog-mob__block-inner.accord-block--js
//            ul.catalog-mob__block-list
//              each val in ['Микробиология', 'ПЦР','Иммунология','Life science','Ветеринария','Пластик']
//                li.catalog-mob__block-item
//                  a(href="javascript:void(0);").catalog-mob--link !{val} 
//            a(href="javascript:void(0);").link.more-link все направления
//
//  
//        .catalog-mob__block.accord-wrap--js
//          .catalog__block-title.catalog-icon.equip-icon.accord-title--js оборудование
//          .catalog-mob__block-inner.accord-block--js
//            ul.catalog-mob__block-list
//              each val in ['ПЦР оборудование','Общелабораторное','Клеточная биология','Проточная цитометрия','Хроматография','Центрифуги',]
//                li.catalog-mob__block-item
//                  a(href="javascript:void(0);").catalog-mob--link !{val} 
//            a(href="javascript:void(0);").link.more-link все оборудование
//
//        .catalog-mob__block.accord-wrap--js
//          .catalog__block-title.catalog-icon.reagent-icon.accord-title--js реагенты
//          .catalog-mob__block-inner.accord-block--js
//            ul.catalog-mob__block-list
//              each val in ['Блоттинг', 'Выделение, очистка белков','Выделение, очистка кислот','Иммуноферментный анализ','Клонирование','Культивирование клеток',]
//                li.catalog-mob__block-item
//                  a(href="javascript:void(0);").catalog-mob--link !{val} 
//            a(href="javascript:void(0);").link.more-link все реагенты
//
//        .catalog-mob__block.accord-wrap--js
//          .catalog__block-title.catalog-icon.plastic-icon.accord-title--js пластик
//          .catalog-mob__block-inner.accord-block--js
//            ul.catalog-mob__block-list
//              each val in ['Дозаторы','Наконечники без фильтра','Наконечники с фильтром','Пробирки, стрипы для ПЦР','Наконечники для геля','Центрифужные пробирки',]
//                li.catalog-mob__block-item
//                  a(href="javascript:void(0);").catalog-mob--link !{val} 
//            a(href="javascript:void(0);").link.more-link весь пластик
//
//
//
//
//
//      a(href="javascript:void(0);").menu-mob--link сервис 
//      a(href="javascript:void(0);").menu-mob--link о компании 
//      a(href="javascript:void(0);").menu-mob--link контакты 
//      a(href="javascript:void(0);").menu-mob--link новости 
//
//
//        
//        
//      
//    
