
mixin button-blue(title)
  a(href="javascript:void(0);").button-blue=title
  
mixin button-white(title)
  a(href="javascript:void(0);").button-white=title

mixin link-more-content(title)
  a(href="javascript:void(0);").link-more-content=title




mixin product__item
  .product__item
    .product__item-top
      img(src='../img/product-img.png' alt='', title='').img-product
    .product__item-bottom.product__item-bottom_tailes
      p.product__item-desc Средство для очистки колесных дисков слово «Disk»
      .price__block
        .tare__block
          a(href="javascript:void(0);").tare.item-active-js 5 л
          a(href="javascript:void(0);").tare.item-active-js 10 л
          a(href="javascript:void(0);").tare.item-active-js 15 л
        .product-price.price 3200 ₽
      +button-blue('Купить')
    .product__item-bottom.product__item-bottom_list
      .product__item-desc--wrap
        p.product__item-desc Средство для очистки колесных дисков слово «Disk»
        .tare__block
          a(href="javascript:void(0);").tare.item-active-js 5 л
          a(href="javascript:void(0);").tare.item-active-js 10 л
          a(href="javascript:void(0);").tare.item-active-js 15 л
      .price__block
        .product-price.price 3200 ₽
        +button-blue('Купить')


mixin news__item_small
  .news__item.news__item_small
    .news__item-top
      img(src='../img/news-img.jpg' alt='', title='').img-news
    .news__item-bottom
      p.news__item-text Основы безопасного производства на мясокомбинате
      .news__item-date 12.05.2020


mixin drop__menu-block--inner
  .drop__menu-block--inner.accord-block--js
    ul.menu-accord__list
      each val in ['Антисептики для рук','Дезинфицирующее мыло для рук','Дезинфекция поверхностей','Дезинфицирующий стиральный порошок','Дезинфекция поверхностей']
        li.menu-accord__item
          a(href="javascript:void(0);").menu-accord__link !{val}

        
mixin filter(catalog)
  .filter
    .filter-title Фильтр
    .filter__block
      if(catalog)
        each val in ['Цена', 'Литраж, л']
          .filter-accord__item.accord-wrap--js
            .filter-accord__title.accord-title--js !{val}
            .filter-accord__block.accord-block--js(style='display:block;')
              .range__block
                .range-slider
                  .extra-controls
                    input.input-range.js-input-from(type='text' value='0')
                    |-
                    input.input-range.js-input-to(type='text' value='0')
    
                  input.js-range-slider(type='text' value='')
  



      each val in ['Химчистка', 'Чистка ковров', 'Стирка и аквачистка']
        .filter-accord__item.accord-wrap--js
          .filter-accord__title.accord-title--js !{val}
          .filter-accord__block.accord-block--js
            .checkbox__block
              each name in ['Предварительная обработка', 'Предварительное выведение пятен', 'Моющая ванна в стрике','Последнее полоскание', 'Финишное выведение пятен']
                label.label-checkbox
                  input(type='checkbox').input-checkbox
                  .checkbox-text !{name}
              .more-filter + Показать ещё 2
    +button-blue('Применить')
    a(href="javascript:void(0);").clear-button Сбросить



mixin drop__menu--inner(id)
  div(class='drop__menu--inner menu__block-js' data-menu-item=`${id}`)
    ul.drop__menu-list--inner
      li.drop__menu-item--inner.accord-wrap--js
        a(href="javascript:void(0);").drop__menu-link--inner.accord-title--js
          svg.drop__menu-item-img--inner(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M12.7083 7.56522L13.8 6.67305C14.0348 6.49696 14.3752 6.39131 14.6648 6.39131H19.7517C20.5696 6.39131 21.2896 6.23087 21.7083 6' stroke-miterlimit='10' stroke-linecap='round')
            path(d='M13.491 22.4347V22.826C13.491 23.4756 14.0153 23.9999 14.6649 23.9999H20.9258C21.5753 23.9999 22.0997 23.4756 22.0997 22.826V11.8695C22.0997 11.2199 21.5753 10.6956 20.9258 10.6956H19.3605V9.91296C19.3605 9.69775 19.1845 9.52166 18.9692 9.52166H18.5779V7.17383'   stroke-miterlimit='10')
            path(d='M17.0131 7.17383V9.52166H16.6218C16.4065 9.52166 16.2305 9.69775 16.2305 9.91296V10.6956H14.2739'   stroke-miterlimit='10')
            path(d='M4.15869 20.6624C4.35826 20.5802 5.70826 20.0715 6.15826 20.2633C6.60826 20.455 11.2804 21.6524 11.7304 21.848C12.1374 22.0241 15.35 20.7289 15.7726 20.5293C16.1796 20.3376 18.187 19.0228 18.8678 18.3733C18.7778 17.9937 18.3044 17.5085 17.5531 17.3754C16.837 17.2502 16.2578 17.5515 15.4557 18.2167L13.3974 18.3733'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M8.99523 18.0677C8.99523 18.0677 11.57 19.1673 11.9378 19.3238C13.4092 19.9538 14.1957 18.1147 12.7244 17.4847C12.3566 17.3282 11.8048 17.0934 10.7835 16.6551C10.4783 16.526 10.2161 15.5438 9.73089 15.3364C9.51567 15.2425 8.38871 14.7651 7.89176 14.5499C7.3948 14.3386 6.60436 14.4756 6.10741 14.6556C5.32088 14.9725 4.01001 15.4969 4.01001 15.4969'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M14.356 13.3606C14.356 14.2645 13.6204 15.0002 12.7165 15.0002C11.8126 15.0002 11.0769 14.2645 11.0769 13.3606C11.0769 12.4567 12.7165 10.4102 12.7165 10.4102C12.7165 10.4102 14.356 12.4567 14.356 13.3606Z'   stroke-miterlimit='10')
          .drop__menu-item-text Средства для рук
        +drop__menu-block--inner
      li.drop__menu-item--inner.menu__block-js.accord-wrap--js
        a(href="javascript:void(0);").drop__menu-link--inner.accord-title--js
          svg.drop__menu-item-img--inner(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M2 4.15285C2.80246 4.05459 3.62676 4 4.45652 4C6.85846 4 9.15667 4.43672 11.2802 5.23372'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M2.5459 7.46645C3.34836 7.3409 4.1672 7.27539 5.00242 7.27539C6.61827 7.27539 8.17952 7.52104 9.64252 7.97959'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M3.09229 10.8237C3.88383 10.649 4.70267 10.5508 5.54881 10.5508C6.19842 10.5508 6.83712 10.6054 7.45944 10.7145'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M9.09619 22.0144L10.6738 19.3232C11.1542 18.488 10.8485 18.2368 10.5537 17.1287C10.3517 16.3754 10.2371 15.7585 10.6847 14.9833L12.0604 12.5541C12.3333 12.0792 12.983 11.697 13.8236 11.6807L15.041 11.7516'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M13.677 14.121L15.7023 10.6109C16.0626 9.98314 16.7831 9.5628 17.5256 9.9886C19.0814 10.8839 23.645 14.3285 23.1537 15.1746C22.4823 16.3319 20.2659 20.175 20.2659 20.175C19.7037 21.1521 18.1206 21.7089 17.3672 21.9218L15.1837 25.7049'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M18.377 24.7439C19.6053 25.1097 20.9427 24.5037 21.2047 23.8432C22.1655 21.3758 25.6265 20.8135 25.7029 17.2597C25.7739 13.9953 27.4497 12.2648 25.1952 11.9809C22.9407 11.6916 24.3927 6.3091 21.9417 7.72843C19.4961 9.14775 16.9304 6.17809 14.6704 6.23268C12.4104 6.28727 11.9955 9.2078 9.79554 11.1949C7.59558 13.1819 6.09984 15.8186 7.45911 17.6473C7.64472 17.893 8.44718 18.1932 9.09679 18.7391'   stroke-miterlimit='10' stroke-linecap='round')
          .drop__menu-item-text Дезинфекция дома
        +drop__menu-block--inner
      li.drop__menu-item--inner.menu__block-js.accord-wrap--js
        a(href="javascript:void(0);").drop__menu-link--inner.accord-title--js
          svg.drop__menu-item-img--inner(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M21.762 24H6.87418C6.61829 24 6.40894 23.7906 6.40894 23.5348V3.99454C6.40894 3.73866 6.61829 3.5293 6.87418 3.5293H21.762C22.0178 3.5293 22.2272 3.73866 22.2272 3.99454V23.5348C22.2272 23.7906 22.0178 24 21.762 24Z'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M14.3184 21.674C17.6587 21.674 20.3666 18.9661 20.3666 15.6258C20.3666 12.2855 17.6587 9.57764 14.3184 9.57764C10.9781 9.57764 8.27026 12.2855 8.27026 15.6258C8.27026 18.9661 10.9781 21.674 14.3184 21.674Z'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M14.3178 19.8129C16.6303 19.8129 18.505 17.9382 18.505 15.6257C18.505 13.3131 16.6303 11.4385 14.3178 11.4385C12.0053 11.4385 10.1306 13.3131 10.1306 15.6257C10.1306 17.9382 12.0053 19.8129 14.3178 19.8129Z'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M11.8984 14.2297C12.3823 13.3969 13.2849 12.834 14.3177 12.834'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M11.5263 6.78587C11.5263 7.55817 10.9029 8.1816 10.1306 8.1816C9.35829 8.1816 8.73486 7.55817 8.73486 6.78587C8.73486 6.01356 9.35829 5.39014 10.1306 5.39014C10.9029 5.39014 11.5263 6.01356 11.5263 6.78587Z'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M15.7134 5.85547H14.783'   stroke-miterlimit='10')
            path(d='M17.5748 5.85547H16.6443'   stroke-miterlimit='10')
            path(d='M13.8526 5.85547H12.9221'   stroke-miterlimit='10')
            path(d='M10.3259 16.9003C11.0657 16.0071 12.3311 15.8163 13.8525 16.7096C14.8155 17.2772 16.0205 18.0867 18.3328 16.8073'   stroke-miterlimit='10')
          .drop__menu-item-text Средства для стирки
        +drop__menu-block--inner
      li.drop__menu-item--inner.menu__block-js.accord-wrap--js
        a(href="javascript:void(0);").drop__menu-link--inner.accord-title--js
          svg.drop__menu-item-img--inner(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M22.3379 12.698V23H5.69629V4.77344H22.3379V9.52818'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M20.7533 14.283V21.4151L7.30527 21.427L7.28149 6.3584H20.7533V7.94331'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M15.997 11.5093L16.6587 12.8287L17.9782 13.4904L16.6587 14.1521L15.997 15.4716L15.3353 14.1521L14.0159 13.4904L15.3353 12.8287L15.997 11.5093Z'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M20.7519 8.73584L21.5443 10.3208L23.1293 11.1132L21.5443 11.9057L20.7519 13.4906L19.9594 11.9057L18.3745 11.1132L19.9594 10.3208L20.7519 8.73584Z'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M11.2436 7.54736L8.46997 10.321'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M13.2247 7.54736L8.46997 12.3021'   stroke-miterlimit='10' stroke-linejoin='round')
          .drop__menu-item-text Средства для стёкол и зеркал
        +drop__menu-block--inner
      li.drop__menu-item--inner.menu__block-js.accord-wrap--js
        a(href="javascript:void(0);").drop__menu-link--inner.accord-title--js
          svg.drop__menu-item-img--inner(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M13.6788 6.21338C13.6788 6.21338 19.7339 12.2088 19.7339 17.0047C19.7339 20.316 17.0231 23.0001 13.6788 23.0001C10.3346 23.0001 7.62378 20.316 7.62378 17.0047C7.62378 12.2088 13.6788 6.21338 13.6788 6.21338Z'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M17.8704 8.32801C18.884 6.42785 20.4962 4.81445 20.4962 4.81445C20.4962 4.81445 23.9254 8.24758 23.9254 10.9941C23.9254 12.6529 22.7499 14.0373 21.1873 14.3578'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M8.55496 10.5226C7.77537 9.06134 6.53525 7.81982 6.53525 7.81982C6.53525 7.81982 3.89722 10.4608 3.89722 12.5737C3.89722 13.8502 4.8014 14.9145 6.00367 15.1611'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
          .drop__menu-item-text Специальные средства
        +drop__menu-block--inner
      li.drop__menu-item--inner.menu__block-js.accord-wrap--js
        a(href="javascript:void(0);").drop__menu-link--inner.accord-title--js
          svg.drop__menu-item-img--inner(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M6.12549 15.6669C4.60465 17.1752 6.03413 19.4002 8.11747 19.2169C10.0966 19.0419 11.1091 20.0335 12.3758 20.5377C13.6216 21.0335 16.6758 20.0044 17.3758 19.2335C18.0758 18.4669 20.1758 17.9127 21.5425 17.9294C22.9091 17.946 23.7008 16.1627 23.6258 14.7169C23.5925 14.0669 23.6841 12.4877 22.7966 11.9169C22.376 11.5002 21.9594 11.3919 21.5427 11.5002'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M4.87549 11.9165C4.87549 11.9165 6.47965 12.5707 6.97549 13.6623C7.45882 14.7332 8.96715 15.0915 9.87965 15.6665C10.7922 16.2415 11.3005 17.3998 13.213 17.7498C13.6797 17.8373 14.5672 17.8165 14.8797 16.9165C15.0255 16.504 14.6338 16.0832 14.0421 15.6665C13.6046 15.3582 12.9713 15.1957 12.3797 14.4165C12.1547 14.1207 12.1588 13.6873 12.3797 13.5832C12.6005 13.479 13.6297 13.1665 13.6297 13.1665H17.7963L19.7046 15.1248C20.813 16.1998 22.113 15.379 21.9505 15.1665L20.2963 11.9165L16.5463 8.99984L8.62965 8.1665L5.29632 5.6665'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M10.2962 3.3335L9.46289 4.16683'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M12.3795 1.25L11.5461 2.08333'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M11.5461 3.3335L12.3795 4.16683'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M9.46289 1.25L10.2962 2.08333'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M19.8796 19.8335V21.0835'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M19.8796 22.75V24'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M19.0461 21.9165H17.7961'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M21.9629 21.9165H20.7129'   stroke-miterlimit='10' stroke-linejoin='round')
          .drop__menu-item-text Специальные средства
        +drop__menu-block--inner
      li.drop__menu-item--inner.menu__block-js.accord-wrap--js
        a(href="javascript:void(0);").drop__menu-link--inner.accord-title--js
          svg.drop__menu-item-img--inner(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
            g(clip-path='url(#clip0)')
              path(d='M19.5517 6.4165H7.44824V24.3332H19.5517V6.4165Z'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
              path(d='M7.44824 13.5H19.5517'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
              path(d='M9.24121 14.75V18.0833'   stroke-miterlimit='10' stroke-linejoin='round')
              path(d='M9.24121 8.9165V12.2498'   stroke-miterlimit='10' stroke-linejoin='round')
              path(d='M8.34497 25.1665L8.79325 25.5832H10.5864L11.0346 25.1665'   stroke-miterlimit='10' stroke-linejoin='round')
              path(d='M15.9656 25.1665L16.4139 25.5832H18.207L18.6552 25.1665'   stroke-miterlimit='10' stroke-linejoin='round')
            defs
              clippath#clip0
                rect(width='13' height='20' fill='white' transform='translate(7 6)')
          .drop__menu-item-text Средства для кухни и ванной
        +drop__menu-block--inner
      li.drop__menu-item--inner.menu__block-js.accord-wrap--js
        a(href="javascript:void(0);").drop__menu-link--inner.accord-title--js
          svg.drop__menu-item-img--inner(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M17.7351 4.26221L18.4084 5.60463L19.7508 6.27786L18.4084 6.95108L17.7351 8.29351L17.0619 6.95108L15.7195 6.27786L17.0619 5.60463L17.7351 4.26221Z'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M19.7515 9.09961L20.5578 10.7121L22.1703 11.5184L20.5578 12.3246L19.7515 13.9372L18.9453 12.3246L17.3328 11.5184L18.9453 10.7121L19.7515 9.09961Z'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M8.86686 12.3247C8.17348 12.9173 7.65747 13.9775 7.65747 15.1466C7.65747 18.6418 9.60056 20.1656 11.326 20.3107'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M14.9138 12.3247C15.6072 12.9173 16.1232 13.9775 16.1232 15.1466C16.1232 18.0774 14.7606 19.6173 13.3013 20.1293'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M9.6731 19.5811V21.9998'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M14.1077 19.5811V21.9998'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M14.4616 15.4492C14.2964 16.6787 13.1515 17.5656 11.8897 17.5656C10.6279 17.5656 9.483 16.6787 9.31771 15.4492C9.12824 14.0382 9.4064 12.728 11.8897 12.728C14.373 12.728 14.6511 14.0382 14.4616 15.4492Z'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M16.1231 4.26212L15.7199 3.05273H11.6886H7.65733L6.85107 5.47151L8.46359 11.1153H11.6886H14.9137L15.8368 7.89029'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M8.46387 6.27783H10.0764'   stroke-miterlimit='10' stroke-linejoin='round')
          .drop__menu-item-text Средства для санузлов
        +drop__menu-block--inner
      li.drop__menu-item--inner.menu__block-js.accord-wrap--js
        a(href="javascript:void(0);").drop__menu-link--inner.accord-title--js
          svg.drop__menu-item-img--inner(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M15.0815 12.3295C15.0815 11.8928 15.4669 11.5391 15.9031 11.5391H16.6606'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M18.2404 15.8859V11.1434C18.2404 10.7067 17.893 10.353 17.4568 10.353C17.0206 10.353 16.6614 10.7067 16.6614 11.1434V15.8859'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M19.8191 23L19.9445 22.6285C19.9859 22.2461 20.1655 21.8954 20.4483 21.6351C21.2111 20.9321 21.9247 19.6907 21.9247 19.6907C21.9247 19.6907 22.6382 17.2725 22.9772 16.5784C22.5139 15.8992 21.8408 16.0953 21.4658 16.4712C21.0903 16.8472 20.3126 18.2249 20.3126 18.2249C20.3126 18.2249 18.6018 18.3237 17.9529 19.9026'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M18.2407 11.5391H19.0623C19.4985 11.5391 19.8198 11.8928 19.8198 12.3295V18.3163'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M13.1081 16.2815V12.3295C13.1081 11.8928 12.7227 11.5391 12.2865 11.5391H11.5291'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M9.9502 15.8859V11.1434C9.9502 10.7067 10.2956 10.353 10.7318 10.353C11.168 10.353 11.5292 10.7067 11.5292 11.1434V15.8859'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M13.8974 23.0003V22.2099C13.8974 21.6773 14.687 20.9971 14.687 20.1973V13.9105C14.687 13.4738 14.3016 13.1201 13.8654 13.1201H13.1079'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M8.37121 23L8.24587 22.6285C8.20442 22.2461 8.02481 21.8954 7.74206 21.6351C6.97919 20.9321 6.26566 19.6907 6.26566 19.6907C6.26566 19.6907 5.55213 17.2725 5.21313 16.5784C5.67648 15.8992 6.34955 16.0953 6.72457 16.4712C7.10009 16.8472 7.87776 18.2249 7.87776 18.2249C7.87776 18.2249 9.58855 18.3237 10.2374 19.9026'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M9.95014 11.5391H9.12854C8.69233 11.5391 8.37109 11.8928 8.37109 12.3295V18.3159'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M14.2924 5.21582C14.2924 5.21582 12.7134 7.0891 12.7134 8.36413C12.7134 9.24445 13.4205 9.95829 14.2924 9.95829C15.1644 9.95829 15.8715 9.24445 15.8715 8.36413C15.8715 7.0891 14.2924 5.21582 14.2924 5.21582Z'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
          .drop__menu-item-text Средства для чистки кожи
        +drop__menu-block--inner
    ul.drop__menu-list--inner
      li.drop__menu-item--inner.menu__block-js.accord-wrap--js
        a(href="javascript:void(0);").drop__menu-link--inner.accord-title--js
          svg.drop__menu-item-img--inner(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M12.2605 23C12.2605 23 12.2605 22.1304 12.2605 21.7782C12.2605 20.9086 12.1257 20.6912 11.3909 19.9563C10.8908 19.4563 10.5212 19.0258 10.5212 18.2171V16.4778C10.5212 15.7125 10.9213 15.369 11.5778 14.9733L12.6953 14.3037'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M12.6946 16.9121V13.0075C12.6946 12.3553 13.0642 11.6943 13.8338 11.6943C15.447 11.6943 20.543 12.1118 20.543 12.9988C20.543 14.2119 20.543 17.9514 20.543 17.9514C20.543 18.9688 19.6517 19.895 19.6517 20.3994V22.9996'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M20.9561 21.696C21.9692 21.4785 22.9823 20.7394 22.8823 20.1741C22.504 18.0739 25.0825 16.2955 23.4606 13.804C21.9692 11.5125 23.4215 9.20366 21.43 9.90372C19.4386 10.6081 18.1298 6.95131 15.8383 8.69058C13.9164 10.1472 10.977 9.62543 9.1421 10.569C7.30717 11.5125 8.35074 13.7084 7.4898 15.9651C6.62886 18.2261 6.96802 20.748 8.95513 21.4698C9.22472 21.5655 9.70737 21.6916 10.5248 21.6916'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M6.17262 6.04199L6.89877 7.48993L8.3467 8.21608L6.89877 8.94222L6.17262 10.3902L5.44647 8.94222L3.99854 8.21608L5.44647 7.48993L6.17262 6.04199Z'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M11.3897 2.99854L12.2593 4.7378L13.9986 5.60744L12.2593 6.47707L11.3897 8.21634L10.52 6.47707L8.78076 5.60744L10.52 4.7378L11.3897 2.99854Z'   stroke-miterlimit='10' stroke-linejoin='round')
          .drop__menu-item-text Средства для ремонта
        +drop__menu-block--inner
      li.drop__menu-item--inner.menu__block-js.accord-wrap--js
        a(href="javascript:void(0);").drop__menu-link--inner.accord-title--js
          svg.drop__menu-item-img--inner(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M13.6771 6.15576C13.6771 6.15576 19.7774 12.1959 19.7774 17.0276C19.7774 20.3636 17.0464 23.0677 13.6771 23.0677C10.3079 23.0677 7.5769 20.3636 7.5769 17.0276C7.5769 12.1959 13.6771 6.15576 13.6771 6.15576Z'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M17.8999 8.28636C18.9211 6.37202 20.5453 4.74658 20.5453 4.74658C20.5453 4.74658 24.0001 8.20532 24.0001 10.9723C24.0001 12.6435 22.8159 14.0382 21.2415 14.3612'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M8.515 10.4974C7.7296 9.02519 6.48022 7.77441 6.48022 7.77441C6.48022 7.77441 3.82251 10.4351 3.82251 12.5638C3.82251 13.8498 4.73344 14.9221 5.94469 15.1705'   stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
          .drop__menu-item-text Дезинфекция поверхностей
        +drop__menu-block--inner
      li.drop__menu-item--inner.menu__block-js.accord-wrap--js
        a(href="javascript:void(0);").drop__menu-link--inner.accord-title--js
          svg.drop__menu-item-img--inner(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M9.54376 7.65225C9.54376 7.49573 9.54376 7.3566 9.54376 7.21747C9.54376 6.32181 9.14811 5.91312 8.23941 5.91312H6.93506V5.47833C6.93506 3.1218 8.20463 2.86963 9.97855 2.86963C11.1003 2.86963 15.196 2.86963 15.196 2.86963V5.04355H14.7612C13.5786 5.04355 13.022 6.11747 13.022 7.21747V7.65225'   stroke-miterlimit='10')
            path(d='M16.0659 5.04355H16.5007L17.3703 4.60877V3.30441L16.5007 2.86963H16.0659'   stroke-miterlimit='10')
            path(d='M14.7183 6.78271C14.7183 6.78271 15.24 8.81316 17.3704 10.261'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M9.5437 9.39148V7.65234H13.022V9.39148'   stroke-miterlimit='10')
            path(d='M13.8918 13.7394C13.8918 12.2047 14.3831 11.9481 14.3266 11.1307C14.2657 10.209 13.6483 9.77421 13.0222 9.3916H9.54398C6.50049 12.109 6.50049 17.8351 6.50049 22.0003C8.34832 22.0003 15.1962 22.0003 15.1962 22.0003C15.1962 22.0003 16.5005 20.8395 16.5005 18.9569C16.5005 15.4786 13.8918 15.2742 13.8918 13.7394Z'   stroke-miterlimit='10')
            path(d='M19.1096 2.86963H19.9792'   stroke-miterlimit='10')
            path(d='M19.1096 4.60889H19.9792'   stroke-miterlimit='10')
            path(d='M20.8481 2H21.7177'   stroke-miterlimit='10')
            path(d='M20.8481 3.73926H21.7177'   stroke-miterlimit='10')
            path(d='M20.8481 5.47852H21.7177'   stroke-miterlimit='10')
          .drop__menu-item-text Универсальные чистящие средства
        +drop__menu-block--inner
      li.drop__menu-item--inner.menu__block-js.accord-wrap--js
        a(href="javascript:void(0);").drop__menu-link--inner.accord-title--js
          svg.drop__menu-item-img--inner(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M20.6842 9.45068C21.2807 9.86402 21.5772 10.3888 20.6842 11.0716C19.6571 11.8573 13.803 15.5292 13.803 15.5292'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M14.0464 19.3542L21.8991 14.3137C22.6181 13.8081 22.7087 13.1739 22.7087 12.2875V10.2613C22.7087 9.30752 22.3955 8.92964 21.4594 8.35826C20.5821 7.82234 18.7282 6.87106 17.4466 6.61425C16.3021 6.38529 14.8312 6.78698 13.8036 7.42471L12.0808 8.51428L11.3911 8.95041'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M6.80522 17.2671C6.62459 17.2473 6.44345 17.2058 6.26535 17.1405C5.07429 16.7059 4.45954 15.3909 4.89164 14.203C5.16739 13.4453 5.80289 12.9225 6.53604 12.7559'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M11.779 5.19604C12.4497 5.19604 12.9934 4.65176 12.9934 3.98034C12.9934 3.30893 12.4497 2.76465 11.779 2.76465C11.1084 2.76465 10.5647 3.30893 10.5647 3.98034C10.5647 4.65176 11.1084 5.19604 11.779 5.19604Z'   stroke-miterlimit='10')
            path(d='M7.93405 8.4377C8.71648 8.4377 9.35076 7.8027 9.35076 7.01939C9.35076 6.23607 8.71648 5.60107 7.93405 5.60107C7.15162 5.60107 6.51733 6.23607 6.51733 7.01939C6.51733 7.8027 7.15162 8.4377 7.93405 8.4377Z'   stroke-miterlimit='10')
            path(d='M12.8007 13.15C13.2764 12.1374 12.8422 10.9303 11.8313 10.4542C11.1083 10.1138 10.2861 10.2384 9.70218 10.7075C9.4836 10.5175 9.22404 10.3595 8.93513 10.2541C7.67071 9.79266 6.27322 10.4415 5.8143 11.7028C5.64429 12.1704 5.62861 12.6556 5.73891 13.1059'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M6.00804 17.0288C5.96351 17.1119 5.92405 17.199 5.89065 17.2902C5.50966 18.3372 6.02524 19.4865 7.04173 19.8573C8.0137 20.2119 9.09192 19.7266 9.51795 18.7688'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M12.1805 14.7832C12.436 15.0973 12.5893 15.4979 12.5893 15.9346C12.5893 16.5379 12.2964 17.0728 11.8455 17.405C11.544 17.6269 11.1711 17.7581 10.7678 17.7581'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M8.94556 15.7323C8.94556 14.8372 9.67061 14.1113 10.5647 14.1113'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M9.59309 14.4336C9.45901 13.8049 8.95607 13.2908 8.28516 13.1748'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M11.8448 17.4048C12.2986 17.7766 12.5886 18.3414 12.5886 18.974C12.5886 20.093 11.6824 21.0002 10.5647 21.0002C10.1817 21.0002 9.82343 20.8938 9.51782 20.7084'   stroke-miterlimit='10' stroke-linecap='round')
          .drop__menu-item-text Дезинфицирующее мыло для рук
        +drop__menu-block--inner
      li.drop__menu-item--inner.menu__block-js.accord-wrap--js
        a(href="javascript:void(0);").drop__menu-link--inner.accord-title--js
          svg.drop__menu-item-img--inner(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M22.3479 16.0435L21.3442 20.0623C21.2079 20.6158 20.7123 21 20.1423 21H8.85798C8.28799 21 7.79234 20.6117 7.65603 20.0623L6.65234 16.0435'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M20.6956 13.7016C20.9558 13.3836 21.1086 12.9746 21.1086 12.5327C21.1086 11.5042 20.2784 10.674 19.2499 10.674C18.7667 10.674 18.333 10.864 18.0025 11.1614C17.5317 9.91401 16.3297 9.02184 14.913 9.02184C14.12 9.02184 13.3971 9.29858 12.8271 9.76531C12.6826 8.64597 11.7326 7.78271 10.5761 7.78271C9.57237 7.78271 8.7215 8.43532 8.41998 9.33575C8.08542 9.13749 7.69303 9.02184 7.27173 9.02184C6.01608 9.02184 5 10.0379 5 11.2936C5 12.5492 6.01608 13.5653 7.27173 13.5653'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M8.42407 9.33545C8.70494 9.50067 8.9445 9.72371 9.1345 9.98805'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M12.5305 10.0384C12.6257 9.93903 12.7251 9.84794 12.8286 9.76514'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M17.8118 11.3518C17.8697 11.2814 17.9318 11.2193 17.9981 11.1572'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M11.6088 16.0432H6.23921C6.01204 16.0432 5.82617 15.8573 5.82617 15.6301V13.978C5.82617 13.7508 6.01204 13.5649 6.23921 13.5649H15.3261C16.0118 13.5649 16.5652 14.1184 16.5652 14.8041V18.3149C16.5652 18.8849 17.0279 19.3475 17.5979 19.3475C18.1678 19.3475 18.6305 18.8849 18.6305 18.3149V13.5649H22.7609C22.988 13.5649 23.1739 13.7508 23.1739 13.978V15.6301C23.1739 15.8573 22.988 16.0432 22.7609 16.0432H21.1087'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M14.5532 7.78258C14.735 7.06802 15.3834 6.54346 16.1517 6.54346C17.0645 6.54346 17.8039 7.2828 17.8039 8.19562C17.8039 8.34019 17.7873 8.47649 17.7502 8.60866'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M19.4564 5.71751C20.1408 5.71751 20.6955 5.16273 20.6955 4.47838C20.6955 3.79403 20.1408 3.23926 19.4564 3.23926C18.7721 3.23926 18.2173 3.79403 18.2173 4.47838C18.2173 5.16273 18.7721 5.71751 19.4564 5.71751Z'   stroke-miterlimit='10')
            path(d='M12.0212 3.65217C12.0212 4.56499 12.7606 5.30433 13.6734 5.30433C14.5862 5.30433 15.3256 4.56499 15.3256 3.65217C15.3256 2.73934 14.5862 2 13.6734 2C12.7606 2 12.0212 2.73934 12.0212 3.65217Z'   stroke-miterlimit='10')
            path(d='M20.2821 9.02148H19.4561'   stroke-miterlimit='10')
          .drop__menu-item-text Дезинфицирующий стиральный порошок
        +drop__menu-block--inner
      li.drop__menu-item--inner.menu__block-js.accord-wrap--js
        a(href="javascript:void(0);").drop__menu-link--inner.accord-title--js
          svg.drop__menu-item-img--inner(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
            g(clip-path='url(#clip0)')
              path(d='M20.2222 22.568H7.7778C7.56392 22.568 7.38892 22.3737 7.38892 22.1362V4.86346C7.38892 4.62596 7.56392 4.43164 7.7778 4.43164H20.2222C20.4361 4.43164 20.6111 4.62596 20.6111 4.86346V22.1362C20.6111 22.3737 20.4361 22.568 20.2222 22.568Z'   stroke-miterlimit='10' stroke-linecap='round')
              path(d='M9.72241 6.15869V7.45415'   stroke-miterlimit='10')
              path(d='M11.2778 6.15869V7.45415'   stroke-miterlimit='10')
              path(d='M12.8333 6.15869V7.45415'   stroke-miterlimit='10')
              rect(x='9.44434' y='10.5454' width='9.11111' height='9.79546' rx='0.5'  )
              rect(x='11' y='12.2729' width='6' height='1.15909' rx='0.5'  )
            defs
              clippath#clip0
                rect(width='14' height='19' fill='white' transform='translate(7 4)')
          .drop__menu-item-text Средства для посудомоечных машин
        +drop__menu-block--inner
      li.drop__menu-item--inner.menu__block-js.accord-wrap--js
        a(href="javascript:void(0);").drop__menu-link--inner.accord-title--js
          svg.drop__menu-item-img--inner(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M9.93384 18.4243C11.2298 19.1723 12.7298 19.6003 14.3338 19.6003'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M17.9337 2.768C16.8337 2.276 15.6177 2 14.3337 2C9.4737 2 5.53369 5.94001 5.53369 10.8C5.53369 12.42 5.96969 13.936 6.73369 15.24'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M14.2379 4.84814C10.9499 4.84814 8.28589 7.51215 8.28589 10.8002'   stroke-miterlimit='10' stroke-linecap='round')
            path(d='M16.7342 19.9999C15.9342 19.9999 15.5342 19.3519 15.5342 18.7999C15.5342 18.2479 15.5342 15.2759 15.5342 14.3999C15.5342 13.5239 16.7342 12.8479 16.7342 12.3999C16.7342 11.9519 16.7342 11.9999 16.7342 11.5999C16.7342 11.1999 15.5342 9.99991 15.5342 9.59991C15.5342 9.19991 15.5342 9.17591 15.5342 8.39991C15.5342 7.6239 17.0862 6.3999 17.5342 6.3999C17.9822 6.3999 20.6862 6.3999 21.1342 6.3999C21.5822 6.3999 23.1342 7.6239 23.1342 8.39991C23.1342 9.17591 23.1342 9.19991 23.1342 9.59991C23.1342 9.99991 21.9342 11.1999 21.9342 11.5999C21.9342 11.9999 21.9342 11.9519 21.9342 12.3999C21.9342 12.8479 23.1342 13.5239 23.1342 14.3999C23.1342 15.2759 23.1342 18.2479 23.1342 18.7999C23.1342 19.3519 22.7342 19.9999 21.9342 19.9999C21.1342 19.9999 17.5342 19.9999 16.7342 19.9999Z'   stroke-miterlimit='10')
            path(d='M20.7338 5.6V4.8C20.7338 4.36 20.3738 4 19.9338 4H18.7338C18.2938 4 17.9338 4.36 17.9338 4.8V5.6'   stroke-miterlimit='10')
            path(d='M8.33326 14.7998L9.00126 16.1318L10.3333 16.7998L9.00126 17.4678L8.33326 18.7998L7.66526 17.4678L6.33325 16.7998L7.66526 16.1318L8.33326 14.7998Z'   stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M11.9337 9.6001L12.7337 11.2001L14.3337 12.0001L12.7337 12.8001L11.9337 14.4001L11.1337 12.8001L9.53369 12.0001L11.1337 11.2001L11.9337 9.6001Z'   stroke-miterlimit='10' stroke-linejoin='round')
          .drop__menu-item-text Средства для ручной мойки посуды
        +drop__menu-block--inner




mixin breadcrumb
  .container
    ul.breadcrumb__list
      li.breadcrumb__item
        a(href="javascript:void(0);").breadcrumb__link Главная
      li.breadcrumb__item
        a(href="javascript:void(0);").breadcrumb__link Каталог товаров
      li.breadcrumb__item
        span.breadcrumb__span Для дома
  
    
        
mixin banner-middle__item(data)
  .banner-middle__item(style=`background-image:url('../img/${data.img}');`)
    .banner-middle__top
      .banner-middle__title=data.title
      .banner-middle__decs=data.decs
    .button__wrap
      a(href="javascript:void(0);").link-more-white Подробнее
    
mixin email__block
  .email__block
    .container
      .row.align-items-center
        .col-lg-6
          .email__block-title Получайте интересные предложения в нашей рассылке
        .col-lg-6
          .email-input__wrap
            input(type='text' placeholder='Введите email').email-input
            +button-blue('Подписаться')
      
      
mixin advant-item(data)
  .advant-item
    .advant-img__wrap
      img(src=`../img/${data.img}` alt='', title='').advant-img
    .advant-title=data.title
      
mixin tabs-decs__item(data)
  .tabs-decs__item
    .tabs-decs__title=data.title
    .tabs-decs__text=data.text
    
mixin input__wrap(data)
  .input__wrap
    input(type=`${data.type}`, placeholder=`${data.placeholder}`).login-input      
      
   
mixin checkbox-wrap(decs)
  label.checkbox-wrap
    input(type='checkbox').checkbox
    .checkbox__text=decs
  
mixin login-tabs__block-bottom
  .login-tabs__block-bottom
    .login-check__wrap
      +checkbox-wrap('Согласен на обработку персональных данных')
      +checkbox-wrap('Подписаться на рассылку от компании')
    a(href="javascript:void(0);").button-blue Зарегистрироваться
    

mixin news-block(data)
  .news-block__wrap
    .news-block__img-wrap
      img(src=`../img/${data.img}` alt='', title='').news-item__img
    .news-block__decs
      .news-block__date=data.date
      a(href="javascript:void(0);").news-block__link
        .news-block__title=data.title
      .news-block__text=data.text 
        
mixin video-block(data)
  .col-lg-4
    .video-block__wrap
      a(href="javascript:void(0);").video-link
        .video-block__img-wrap
          img(src=`../img/${data.img}` alt='', title='').news-item__img
        .video-block__decs
          .video-block__title=data.title

mixin paginator
  .paginator-wrap
    .paginator
      a(href="javascript:void(0);").paginator-arrow-left
      a(href="javascript:void(0);").paginator-item.item-active-js.active 1
      a(href="javascript:void(0);").paginator-item.item-active-js 2
      a(href="javascript:void(0);").paginator-item.item-active-js 3
      a(href="javascript:void(0);").paginator-item.item-active-js ...
      a(href="javascript:void(0);").paginator-item.last.item-active-js 22
      a(href="javascript:void(0);").paginator-arrow-right
      
mixin pagination
  .slider__wrap.slider__wrap-detail-nav
    .container-arrows
    .product-detail__slider-nav
      - for(var i=0; i<22; i++)
        .product-detail__slider-nav--item-wrap
          .paginator-item 1

mixin decs-item-num(number, text)
  li.decs-item
    .decs-item__number=number
    .decs-item__text=text

mixin decs-item-circle(text)
  li.decs-item
    .decs-item__circle
    .decs-item__text !{text}

mixin card-img-item(img)
  .card-img__item
    img(src=`../img/${img}` alt='', title='').card-img
      
mixin catalog-root-item(data)
  .col-lg-3
    .catalog-root__item
      .catalog-root__item-title=data.title
      ul.catalog-root__menu-list
        li.catalog-root__menu-item
          a(href="javascript:void(0);").catalog-root__menu-link=data.menu_item1
        li.catalog-root__menu-item
          a(href="javascript:void(0);").catalog-root__menu-link=data.menu_item2
        li.catalog-root__menu-item
          a(href="javascript:void(0);").catalog-root__menu-link=data.menu_item3
        li.catalog-root__menu-item
          a(href="javascript:void(0);").catalog-root__menu-link=data.menu_item4
        li.catalog-root__menu-item
          a(href="javascript:void(0);").catalog-root__menu-link=data.menu_item5
      .catalog-root__menu-more
        a(href="javascript:void(0);").catalog-root__menu-more-link=data.menu_more
      .catalog-root__item-icon-wrap
        img(src=`../img/${data.img}` alt='', title='').catalog-root__item-icon

mixin banner-opt
  a(href="javascript:void(0);").banner-opt__wrap
    .banner-opt__title Выгодные условия для оптовиков
    .button__wrap
      .link-more-white Подробнее
      
mixin order-item(data)
  .order-item.bottom-line
    label.checkbox-wrap
      input(type='checkbox').checkbox
    .order-item__img-wrap
      img(src='../img/product-img.png' alt='', title='').order-item-img
    .order-item__name=data.name
    .order-item__count__wrap
      .order-item__cost-wrap
        .order-item__cost-top.price=data.top_cost
        .order-item__cost-bottom.price=data.bottom_cost
      .count__wrap
        .count
          a(href="javascript:void(0);").count-minus −
          input.input-count(type='text', value='1')
          a(href="javascript:void(0);").count-plus +
      .order-item__cost-wrap
        .order-item__cost-top.price=data.top_cost
        .order-item__cost-bottom.price=data.bottom_cost                  
    a(href="javascript:void(0);").button-link Удалить

mixin order-item-step(data)
  .order-item
    .order-item__img-wrap
      img(src='../img/product-img.png' alt='', title='').order-item-img
    .order-item__name.pr-lg-5=data.name
    .order-item__quantity.price=data.quantity
    .order-item__cost-wrap
      .order-item__cost-top.price=data.top_cost
      .order-item__cost-bottom.price=data.bottom_cost



mixin advant-block
  .advant-block
    +advant-item({
      img: 'advant-img-1.png',
      title: 'Профессиональная консультация'
    })
    +advant-item({
      img: 'advant-img-2.png',
      title: 'Удобные условия поставки'
    })
    +advant-item({
      img: 'advant-img-3.png',
      title: 'Оперативноу производство'
    })
    +advant-item({
      img: 'advant-img-4.png',
      title: 'Бесплатая доставка от 5000 ₽'
    })

mixin step-head-collaps(num,name)
  .step__head-collaps
    .order-step__head
      .order-step__head-left
        .step__head-num=num
        .step__head-name=name


mixin final-cost__block
  .final-cost__block
    .final-cost__item
      .final-cost__left Товаров на:
      .final-cost__right
        .order-item__cost-wrap
          .order-item__cost-top.price 26 496 ₽
          .order-item__cost-bottom.price 36 496 ₽
    .final-cost__item
      .final-cost__left Общий вес:
      .final-cost__right
        .order-item__cost-top.price 1000000 л
    .bottom-line.mb-lg-3
    .final-cost__item
      .final-cost__left Доставка:
      .final-cost__right
        .order-item__cost-top.price бесплатно
    .final-cost__item.gray__block
      .final-cost__left Экономия:
      .final-cost__right
        .order-item__cost-top.price 10 000 ₽
    .final-cost__item.pt-lg-3.pb-lg-2
      .final-cost__left Итого:
      .final-cost__right
        .order-item__cost-top.price.final-cost-big 40 244  ₽  


mixin orders-list-step-next
  .orders-list__wrap.step-next
    .order-step__head
      .order-step__head-left
        .step__head-num
          img(src='../img/icon-check-blue.svg' alt='', title='').icon-check-blue
        .step__head-name Товары в заказе
      .order-step__head-right
        a(href="javascript:void(0);").button-link Изменить
    +order-item-step({
      name: 'Средство для очистки колесных дисков слово «Disk», 5 л',
      quantity: '1 шт',
      top_cost: '3200 ₽',
      bottom_cost: '26 496 ₽'
    })
    +order-item-step({
      name: 'Средство для очистки колесных дисков слово «Disk», 5 л',
      quantity: '1 шт',
      top_cost: '1260 ₽'
    })
    
    
mixin order-step__middle-type(data)
  label.checkbox-wrap
    .middle-type__block(style=`background-image:url('../img/${data.img}');`)
      input(type='checkbox').checkbox
      .middle-type__name=data.name
      .middle-type__cost=data.cost
        
mixin pay-step__middle-type(data)
  label.checkbox-wrap
    .middle-type__block(style=`background-image:url('../img/${data.img}');`)
      input(type='checkbox').checkbox
      .middle-type__name=data.name

        
mixin delivery-step-next
  .orders-list__wrap
    .order-step__head
      .order-step__head-left
        .step__head-num
          img(src='../img/icon-check-blue.svg' alt='', title='').icon-check-blue
        .step__head-name Доставка
      .order-step__head-right
        a(href="javascript:void(0);").button-link Изменить
    .step-next__block
      .step-next__block-left
        .step-next__img-wrap
          img(src='../img/delivery-type-icon2.svg' alt='', title='').step-next-img
        .step-next__name Доставка с использованием автоматизированной службы доставки Boxberry
      .step-next__block-right
        .order-item__cost-top.price 200 ₽
          
          
mixin pay-step-next
  .orders-list__wrap
    .order-step__head
      .order-step__head-left
        .step__head-num
          img(src='../img/icon-check-blue.svg' alt='', title='').icon-check-blue
        .step__head-name Оплата
      .order-step__head-right
        a(href="javascript:void(0);").button-link Изменить
    .step-next__block
      .step-next__block-left
        .step-next__img-wrap
          img(src='../img/pay-type-icon2.svg' alt='', title='').step-next-img
        .step-next__name Банковский перевод
          
mixin docs-block
  .tabs-docs__item
    .tabs-docs__data 25.12.2020
    .tabs-docs__decs
      .tabs-docs__name
        a(href="javascript:void(0);").tabs-docs__name-link РУ на систему дозирования жидкостей автоматическая прецизионная QIAgility с принадлежностями
      .tabs-docs__bill ФСЗ 2008/03399 от 21 июня 2016 года
    .tabs-docs__right
      .tabs-docs__format.price PDF 256 кб
      .tabs-docs__icons
        a(href="javascript:void(0);").tabs-docs-icon-item
          img(src='../img/icon-save.svg' alt='', title='').save-img
        a(href="javascript:void(0);").tabs-docs__icon-item
          img(src='../img/icon-print.svg' alt='', title='').print-img

mixin lk-block-right(legal)
  .lk__block-right
    .lk__block-item
      a(href="javascript:void(0);").lk__block-link Главная
    if(legal)
      .lk__block-item.accord-wrap--js
        .lk-right__title.accord-title--js Профиль
        .lk-right__block.accord-block--js
          .lk__block-item
            a(href="javascript:void(0);").lk__block-link Мой профиль
          .lk__block-item.accord-wrap--js
            .lk-right__title.accord-title--js Организации
            .lk-right__block.accord-block--js
          .lk__block-item.accord-wrap--js
            .lk-right__title.accord-title--js Пользователи
            .lk-right__block.accord-block--js
    else
      .lk__block-item.active
        a(href="javascript:void(0);").lk__block-link Профиль    
    .lk__block-item
      a(href="javascript:void(0);").lk__block-link Документация
    if(legal)
      .lk__block-item
        a(href="javascript:void(0);").lk__block-link Статусы заказов по юридическим лицам
    .lk__block-item
      a(href="javascript:void(0);").lk__block-link История заказов
    .lk__block-item
      a(href="javascript:void(0);").lk__block-link Рекламация
    .lk__block-item.lk__block-bottom
      a(href="javascript:void(0);").lk__block-link Выйти




mixin lk-info-item(argument,value)
  .lk__info-item
    .row
      .col-lg-5
        .lk__info-argument=argument
      .col-lg-7
        .lk__info-value.active
          a(href="javascript:void(0);").lk__info-link=value

mixin history-orders-item(status)
  .history-orders__wrap
    a(href="javascript:void(0);").history-orders__item.link-hover
      .history-orders__item-left
        .history-orders__title Заказ 18 от 14.08.2020
        .text-small-gray 1 товар на сумму 180 руб.
      .history-orders__item-right
        .history-orders__status=status


mixin order-detail-item(argument,value)
  .text-small-gray=argument
  .lk__info-value=value


    
mixin load-block
  .load-file
    form#dropzone.dropzone(action='/file-upload')
      .fallback
        input(name='file' type='file' multiple='').drop-file
      .dz-message(data-dz-message='') Загрузить документ

mixin orders-list
  .order-complete
    - for(var i=0; i<2; i++)
      +history-orders-item('Выполнен 08.05.2020')
  .order-process
    - for(var i=0; i<3; i++)
      +history-orders-item('В обработке 08.05.2020')
  .order-complete
    - for(var i=0; i<1; i++)
      +history-orders-item('Выполнен 08.05.2020')
  .order-cancel
    - for(var i=0; i<2; i++)
      +history-orders-item('Отменён 08.05.2020')
  .order-complete
    - for(var i=0; i<2; i++)
      +history-orders-item('Выполнен 08.05.2020')
  +paginator
        

//mixin button-w-middle(title)
//  a(href="javascript:void(0);").button-white.button_middle=title
//
//
//mixin button-w-small(title)
//  a(href="javascript:void(0);").button-white.button_small=title
//  
//  
//mixin button-b-big(title)
//  a(href="javascript:void(0);").button-blue.button_big=title
//
//mixin button-b-middle(title)
//  a(href="javascript:void(0);").button-blue.button_middle=title
//
//
//mixin button-b-small(title)
//  a(href="javascript:void(0);").button-blue.button_small=title
//
//mixin button-dot-big
//  a(href="javascript:void(0);").button__dotted.button__dotted_big.button-circle
//
//mixin button-edit
//  a(href="javascript:void(0);").button-circle.button-edit.pencil-icon.d-none.d-lg-flex.item-active-multi-js
//
//
//
//
//
//
//
//
//mixin circle(data)
//  .orientation__item
//    .orientation__item-img
//      img(src=`${data.img_circle}` alt='', title='').img-100
//    .orientation-name=data.name
//
//mixin news(data)
//  .news__item
//    .news__item-wrap
//      .news__item-title__wrap
//        a(href="javascript:void(0);").news__item-title=data.title
//        +button-dot-big
//      .news__item-text=data.text
//
//mixin news_feed(data)
//  article.news__list-item
//    .row
//      .col-lg-2
//        .news__item-title__wrap
//          .day-wrap
//            .day=data.day
//          a(href="javascript:void(0);").button__dotted.button__dotted_big.button-circle.d-flex.d-lg-none
//
//      .col-lg-9
//        .news__block-wrap
//          a(href="javascript:void(0);").news__block-title=data.title
//          .news__block-text=data.text
//      .col-lg-1
//        a(href="javascript:void(0);").button__dotted.button__dotted_big.button-circle.d-none.d-lg-flex
//
//
//mixin breadcrumb
//  .row
//    .col-lg-12
//      ul.breadcrumb__list
//        li.breadcrumb__item
//          a(href="javascript:void(0);").breadcrumb__link главная
//        li.breadcrumb__item
//          a(href="javascript:void(0);").breadcrumb__link каталог
//        li.breadcrumb__item
//          span.breadcrumb__span направление
//
//
//mixin input(data)
//  .input__wrap.error-valid
//    if !(data.dis === true)
//      label.input-label !{data.placeholder}
//      input(type=`${data.type}` value=data.value).input-item
//    else
//      label.input-label !{data.placeholder}
//      input(type=`${data.type}` value=data.value disabled).input-item
//    if data.dep === true
//      .deploy
//      
//mixin input-edit(data)
//  .input__wrap.error-valid
//    if !(data.dis === true)
//      label.input-label !{data.placeholder}
//      input(type=`${data.type}` value=data.value).input-item
//      a(href="javascript:void(0);").button-circle.button-edit.pencil-icon.d-flex.d-lg-none.item-active-multi-js
//    else
//      label.input-label !{data.placeholder}
//      input(type=`${data.type}` value=data.value disabled).input-item
//      a(href="javascript:void(0);").button-circle.button-edit.pencil-icon.d-flex.d-lg-none.item-active-multi-js
//
//    if data.dep === true
//      .deploy
//
//      
//mixin checkbox(data)
//  label.checkbox-wrap
//    input(type="checkbox").login-checkbox
//    .login-checkbox__text !{data.text}
//
//
//      
//mixin pagination__wrap
//  .pagination__wrap
//    ul.pagination__list
//      li.pagination__item
//        a(href="javascript:void(0);").pagination__item-link.button-circle.nav__left
//      li.pagination__item.item-active-js
//        a(href="javascript:void(0);").pagination__item-link.button-circle.pagination__item-text 1
//      li.pagination__item.item-active-js.d-none.d-lg-flex
//        a(href="javascript:void(0);").pagination__item-link.button-circle.pagination__item-text 2
//      li.pagination__item.item-active-js
//        a(href="javascript:void(0);").pagination__item-link.button-circle.pagination__item-text 3
//      li.pagination__item
//        a(href="javascript:void(0);").pagination__item-link.button-circle.nav__right
//      
//
//        
//mixin slider-product
//  section.section
//    .row
//      .col-lg-12
//        h4.title-3.text-center.title-before-small Сопутствующие товары
//        .slider__wrap.slider__wrap_product
//          .container-arrows
//          .slider-product
//            -for (var i = 0; i < 5; i++)
//              .slider-product__item
//                .slider-product__item-inner
//                  .slider-product-img-wrap
//                    .slider-product-img(style="background-image:url('../img/slider-img-small.png')")
//                  .slider-product__item-text Набор NucleoType Blood PCR для прямой ПЦР из крови
//
//
//
//
//mixin table_products
//  table.table__gray.table_products
//    thead.thead
//      tr.tr
//        th.th
//          .th-text Артикул
//        th.th
//          .th-text Фасовка
//        th.th
//          .th-text Цена
//        th.th
//          .th-text На складе
//        th.th
//          .th-text РУ
//    tbody.tbody
//      - for(var i=0; i<5; i++)
//        tr.tr
//          td.td
//            .td-text 743203.25
//          td.td
//            .td-text 25 реакций 
//          td.td
//            .td-text.price 10 013 659 ₽
//          td.td
//            .td-text есть
//          td.td
//            .td-text +
//
//
//mixin table-cart-icon
//  table.table-count
//    thead.thead
//      tr.tr
//        th
//    tbody.tbody
//      - for(var i=0; i<5; i++)
//        tr
//          td.td-buttons
//            .buttons__wrap.justify-content-lg-end
//              .count__wrap
//                .count
//                  a(href="javascript:void(0);").count-minus −
//                  input.input-count(type='text', value='10')
//                  a(href="javascript:void(0);").count-plus +
//              a(href="javascript:void(0);").button-circle.button-cart.cart-icon
//
//mixin product-block(class_adapt='')
//  div(class=`product__wrap ` + class_adapt)
//    .favourites-top
//      .product__img-wrap
//        img(src='../img/reagent-img.jpg' alt='', title='').img-100
//      .buttons-wrap.d-flex.flex-column.d-lg-none
//        a(href="javascript:void(0);").button__mini-wrap.mr-0.mb-3.mb-lg-3
//          .button__mini.button-circle.more__mini
//        a(href="javascript:void(0);").button__mini-wrap.mr-0.mb-3.mb-lg-3.item-active-multi-js
//          .button__mini.button-circle.like__mini
//        a(href="javascript:void(0);").button__mini-wrap.mr-0.mb-0.mb-lg-3.button__share
//          .button__mini.button-circle.share__mini
//            +share-block
//
//    .product__info-wrap
//      .product__info-title Набор NucleoType Seed PCR для прямой ПЦР из образцов семян
//      .product__info-block
//        .product__info-text Набор предназначен для проведения прямой ПЦР из образцов семян без выделения ДНК. 
//        .product__info-text Производитель: Macherey-Nagel
//      .buttons-wrap.d-none.d-lg-flex
//        a(href="javascript:void(0);").button__mini-wrap
//          .button__mini.button-circle.more__mini
//          .button-mini-text подробнее
//        a(href="javascript:void(0);").button__mini-wrap.item-active-multi-js
//          .button__mini.button-circle.like__mini
//          .button-mini-text <span class='show-text'>в избранное</span><span class='hide-text'>в избранном</span>
//        a(href="javascript:void(0);").button__mini-wrap.button__share
//          .button__mini.button-circle.share__mini
//            +share-block
//
//          .button-mini-text поделиться
//
//
//
//mixin search__block
//  .search__block
//    input(type='search' placeholder='Умный поиск').input-search
//    a(href="javascript:void(0);").menu-buttons__item-link.button-circle
//      img(src='../img/search.svg' alt='', title='').menu-buttons__item-icon
//
//
//mixin orders__item
//  .orders__item
//    .orders__item-title
//      .orders__item-number__wrap
//        .orders__item-number № 555-208-48
//        a(href="javascript:void(0);").button__mini.button-circle.order__mini
//      .orders__item-gray web
//    .orders__item-info__wrap
//      .orders__item-info__block
//        .orders__item-gray Дата:
//        .orders__item-info__value  11 октября 2020
//      .orders__item-info__block.d-none.d-lg-flex
//        .orders__item-gray Время:
//        .orders__item-info__value  03:38
//      .orders__item-info__block
//        .orders__item-gray Статус:
//        .orders__item-info__value
//          .status-label.status-label_green
//          //.status-label.status-label_yellow
//          //.status-label.status-label_red
//          | Завершен
//      .orders__item-info__block.d-flex.d-lg-none
//        .orders__item-gray Сумма:
//        .orders__item-info__value.price 3.220 €
//
//    .orders__item-price__wrap.d-none.d-lg-flex
//      .orders__item-cost.price 3.220 €
//      +button-w-small('повторить заказ')
//    .buttons__wrap.d-flex.d-lg-none.justify-content-center.mt-3
//      +button-w-small('повторить заказ')
//
//
//
//mixin cart__item-top
//  .cart__item-top
//    .product__img-wrap.cart
//      img(src='../img/reagent-img.jpg' alt='', title='').cart-img
//    .td-text.td-text-cart
//      <span>Набор NucleoType Seed PCR для прямой ПЦР из образцов семян</span>
//      </br>
//      <span class='mt-2 d-block'>Фасовка: 25 реакций</span>
//  .cart__item-desc
//    .td-text.mb-2 Производитель: Macherey-Nagel
//    .td-text.mb-2 Цена/ед: 2 981 ₽
//    .td-text.mb-2 Количество: 100 уп.
//    .td-text.mb-2 Цена/общ: 298 100 ₽
//  
//  
//mixin share-block
//  .share-block
//    script(src='https://yastatic.net/share2/share.js')
//    .ya-share2(data-curtain='' data-shape='round' data-color-scheme='blackwhite' data-services='facebook,whatsapp')
//  
