#modal-onlain.modal-big.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-head
            .h1.text-center Написать в чат с онлайн-консультантом
          .inputs-block-modal
            +input__wrap({
              type: 'text',
              placeholder: 'Имя'
            })
            +input__wrap({
              type: 'tel',
              placeholder: 'Номер телефона'
            })
            +input__wrap({
              type: 'text',
              placeholder: 'Город'
            })
            .input__wrap
              textarea(type='text' placeholder='Ваше сообщение').textarea
            .contact-inputs__wrap
              .contact-inputs__left
                .input__wrap
                  .captcha__wrap 88 / 8 =
              .contact-inputs__right
                +input__wrap({
                  type: 'text',
                  placeholder: 'Введите ответ'
                })
          a(href="javascript:void(0);").button-blue Отправить заявку
      
              
#modal-address.modal-big.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-head
            .h1.text-center Адреса компании 
          .modal-info-block
            .modal-info-block__top 142712, Московская область, Ленинский район, Горки Ленинские, Каширское шоссе, квартал «Пронино», влад. 1, стр. 1.
            .modal-info-block__bottom.d-flex
              .modal-info-block__bottom--item
                a(href="tel:+7 (495) 120-90-37").address-item__text +7 (495) 120-90-37
                a(href="tel:+7 (800) 500-74-09").address-item__text +7 (800) 500-74-09
              .modal-info-block__bottom--item
                a(href="mailto:info@плекс.рф").address-item__text info@плекс.рф
              .modal-info-block__bottom--item.text-right.mr-lg-0
          .modal-info-block
            .modal-info-block__top 123308, Москва, 2-й Силикатный проезд, 9c2
            .modal-info-block__bottom.d-flex
              .modal-info-block__bottom--item
                a(href="tel:+7 (495) 120-90-37").address-item__text +7 (495) 120-90-37
                a(href="tel:+7 (800) 500-74-09").address-item__text +7 (800) 500-74-09
              .modal-info-block__bottom--item
                .address-item__text пн-пт: 9:00-19:00
                .address-item__text сб-вс: 10:00-16:00
              .modal-info-block__bottom--item.text-right.mr-lg-0
                a(href="mailto:service@6006911.ru").address-item__text service@6006911.ru
                a(href="mailto:kosmanager@ya.ru").address-item__text kosmanager@ya.ru


#modal-product-add.modal-middle.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container.modal-product-add
          .modal-head
            .h2.text-center Товар добавлен в корзину!
          .product__item.d-flex.align-items-lg-center
            .product__item-top
              img(src='../img/product-img.png' alt='', title='').img-product
            .product__item-bottom.d-flex.align-items-lg-end
              .product__item-desc--wrap
                p.product__item-desc Средство для очистки колесных дисков слово «Disk»
                .tare__block
                  .tare.item-active-js 5 л
                  .tare.item-active-js 10 л
              .price__block.d-flex.flex-column.mb-0
                .product-price.price 3200 ₽
                .count__wrap
                  .count
                    a(href="javascript:void(0);").count-minus −
                    input.input-count(type='text', value='1')
                    a(href="javascript:void(0);").count-plus +
          .modal-button-wrap
            a(href="javascript:void(0);").button-blue Продолжить покупки
            a(href="javascript:void(0);").button-gray Перейти корзину


#modal-reg.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container.modal-product-add
          .modal-head
            .h2.text-center Регистрация
          p.p.text-center
            | Вы успешно зарегистрировали личный кабинет. Данные для входа направлены на указанный вами телефон
          .modal-bottom-wrap
            a(href="javascript:void(0);").button-blue Войти
          
 
#modal-reg-login.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container.modal-product-add
          .modal-head
            .h2.text-center Вход в личный кабинет
          p.p.text-center.mb-lg-4
            | Введите ваш номер телефона, чтобы получить одноразовый пароль для входа в аккаунт 
          .modal-bottom-wrap
            +input__wrap({
              type: 'tel',
              placeholder: 'Телефон'
            })
            a(href="javascript:void(0);").button-blue Получить СМС с паролем
            .agreement-text Нет учетной записи? <a href="#">Зарегистрироваться</a>

#modal-reg-repeat.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container.modal-product-add
          .modal-subtitle Отлично! На указанный номер телефона оправлен пароль, введите его
          .modal-bottom-wrap
            .code-inputs-wrap
              - for(var i=0; i<5; i++)
                .input__wrap
                  input(type='text', placeholder='').login-input

            a(href="javascript:void(0);").button-blue Отправить повторно
            .agreement-text Не пришел пароль? Нажмите кнопку «Отправить повторно»

#modal-reg-get.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container.modal-product-add
          .modal-subtitle Отлично! На указанный номер телефона оправлен пароль, введите его
          .modal-bottom-wrap
            .code-inputs-wrap
              - for(var i=0; i<5; i++)
                .input__wrap
                  input(type='text', placeholder='').login-input

            a(href="javascript:void(0);").button-blue Войти
            .agreement-text Отправить пароль повторно (доступно через 0:58)

#modal-order-done.modal-small.done.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-container.modal-product-add
            .modal-head
              .modal-subtitle Ваш заказ успешно оформлен!
            p.p.text-center
              | Отслеживать статус заказа Вы можете в личном кабинете, <a href="#">перейдя по ссылке</a>

#modal-rec-done.modal-small.done.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-container.modal-product-add
            .modal-head
              .modal-subtitle Ваша рекламация отправлена
            p.p.text-center
              | Мы рассмотрим вашу рекламацию в ближайшее время, после чего наши менеджеры свяжутся с Вами

#modal-reg-done.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container.modal-product-add
          .modal-head
            .h2.text-center Пользователь добавлен
          p.p.text-center
            | На указанный вами телефон отправлено сообщение с паролем для входа
          .modal-bottom-wrap
            a(href="javascript:void(0);").button-blue Войти




//#modal-recovery-pass.modal-big.modal.fade(tabindex='-1', role='dialog' )
//  .modal-dialog(role='document')
//    .modal-content
//      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
//      .modal-body
//        .modal-container
//          .modal-head
//            .modal-title.title-2 Восстановить пароль
//            .note Для восстановления пароля укажите свой e-mail
//            .note.color-red.d-none Такой e-mail не зарегистрирован. Проверьте корректность введенных данных.
//          .inputs-block
//            +input(
//              {
//                type: 'text',
//                placeholder: 'e-mail',
//                dis: false,
//                value: ''
//              }
//            )
//          +button-b-big('восстановить пароль')
//          a(href="javascript:void(0);").note-small вернуться на страницу входа
//
//#modal-call.modal-big.modal.fade(tabindex='-1', role='dialog' )
//  .modal-dialog(role='document')
//    .modal-content
//      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
//      .modal-body
//        .modal-container
//          .modal-head
//            .modal-title.title-2 Заказать звонок
//            .note По какому номеру с Вами связаться? <br/> Поля обязательные для заполнения * 
//          .inputs-block
//            +input(
//              {
//                type: 'text',
//                placeholder: 'имя *',
//                dis: false,
//                value: ''
//              }
//            )
//            .input__wrap
//              label.input-label номер телефона *
//              input(type=`text` value=''  required).input-item.phone
//            +input(
//              {
//                type: 'text',
//                placeholder: 'город *',
//                dis: false,
//                value: ''
//              }
//            )
//            +checkbox(
//              {
//                text: `Даю свое <a href='#' class='color-green ml-1'> Согласие на обработку персональных данных</a>`
//              }
//            )
//          +button-b-big('перезвонить мне')
//
//#modal-recovery-pass-success.modal-big.modal.fade(tabindex='-1', role='dialog' )
//  .modal-dialog(role='document')
//    .modal-content
//      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
//      .modal-body
//        .modal-container
//          .modal-head
//            .modal-title.title-2 Восстановить пароль
//            .note Ссылка на сброс пароля была успешно отправлена на почту ‘kkonstantinopolskiy@labroom.ru’
//          .d-none.d-lg-flex.justify-content-center
//            +button-b-big('вернуться на страницу входа')
//          .d-flex.d-lg-none.justify-content-center
//            +button-b-big('на страницу входа')
//
//
//#modal-user.modal-big.modal.fade(tabindex='-1', role='dialog' )
//  .modal-dialog(role='document')
//    .modal-content
//      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
//      .modal-body
//        .modal-container
//          .modal-head
//            .modal-title.title-2 Конечный пользователь
//            .note Для оформления заказа необходимо внести информацию<br/> Поля обязательные для заполнения *
//          .inputs-block
//            +input(
//              {
//                type: 'text',
//                placeholder: 'конечный пользователь *',
//                dis: false,
//                value: ''
//              }
//            )
//            +input(
//              {
//                type: 'text',
//                placeholder: 'инн конечного пользователя *',
//                dis: false,
//                value: ''
//              }
//            )
//          +button-b-big('далее')
//
//#modal-cart-complete.modal-big.modal.fade(tabindex='-1', role='dialog' )
//  .modal-dialog(role='document')
//    .modal-content
//      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
//      .modal-body
//        .modal-container
//          .modal-head
//            .modal-title.title-2 Товар добавлен в корзину
//          .buttons__wrap.buttons__wrap_column.flex-column
//            +button-w-big('продолжить покупки')
//            +button-b-big('перейти в корзину')
//
//#modal-favore.modal-big.modal.fade(tabindex='-1', role='dialog' )
//  .modal-dialog(role='document')
//    .modal-content
//      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
//      .modal-body
//        .modal-container
//          .modal-head
//            .modal-title.title-2 Как составить список избранного?
//            .note Для добавления товара в избранное <span class='span-br'> необходимо авторизироваться</span>
//          .buttons__wrap.buttons__wrap_row.justify-content-center
//            +button-w-big('уже есть аккаунт')
//            +button-b-big('зарегистрироваться')
//
//#modal-exit.modal-big.modal.fade(tabindex='-1', role='dialog' )
//  .modal-dialog(role='document')
//    .modal-content
//      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
//      .modal-body
//        .modal-container
//          .modal-head
//            .modal-title.title-2 Вы действительно хотите выйти из аккаунта?
//          .buttons__wrap.buttons__wrap_row.justify-content-center
//            +button-w-big('хочу выйти')
//            +button-b-big('остаться в системе')
//
//#modal-contacts.modal-big.modal.fade(tabindex='-1', role='dialog' )
//  .modal-dialog(role='document')
//    .modal-content
//      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
//      .modal-body
//        .modal-container
//          .modal-head
//            .modal-title.title-2 Ваши контакты
//            .note Для оформления заказа необходимо внести контакты <br/>Поля обязательные для заполнения * 
//          .inputs-block
//            +input(
//              {
//                type: 'text',
//                placeholder: 'имя *',
//                dis: false,
//                value: ''
//              }
//            )
//            .input__wrap
//              label.input-label номер телефона *
//              input(type=`text` value=''  required).input-item.phone
//            +input(
//              {
//                type: 'text',
//                placeholder: 'e-mail *',
//                dis: false,
//                value: ''
//              }
//            )
//
//          +button-b-big('далее')
//
//#modal-order.modal-big.modal.fade(tabindex='-1', role='dialog' )
//  .modal-dialog(role='document')
//    .modal-content
//      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
//      .modal-body
//        .modal-container
//          img(src='../img/heart-icon.svg' alt='', title='')
//          .modal-head
//            .modal-title.title-2 Ваш заказ 104 340 365 успешно оформлен
//            .note.mb-3 Благодарим за заказ.
//            .note.mb-3 Подтверждение заказа и ссылка на оплату отправлена на Ваш e-mail. 
//            .note В ближайшее время наш менеджер свяжется с Вами для обсуждения вопросов доставки и оплаты заказа.
//
//
//#modal-enter.modal-enter.modal-big.modal.fade(tabindex='-1', role='dialog' )
//  .modal-dialog(role='document')
//    .modal-content
//      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
//      .modal-body
//        .modal-container
//          .modal-head
//            .modal-title.title-2 Есть личный кабинет
//          .inputs-block
//            +input(
//              {
//                type: 'text',
//                placeholder: 'e-mail',
//                dis: false,
//                value: ''
//              }
//            )
//            +input(
//              {
//                type: 'password',
//                placeholder: 'пароль',
//                dis: false,
//                value: ''
//              }
//            )
//          .buttons__wrap.justify-content-center.mb-3
//            +button-w-big('войти')
//            a(href="javascript:void(0);").foget-password Забыли пароль?
//          +button-b-big('новый пользователь')
