extends ../templates/template.pug
block content
  +breadcrumb
  section.section.section-reclamation
    .container
      h1.title.title__mb Рекламация
      .row.mb-lg-5
        .col-lg-8
          .info-block
            h3.h3.h3__mb В случаях, если
            ul.decs-list
              +decs-item-circle ('Качество продукции Plex не соответствует качеству, определенному Производителем (контрактом), включая несоблюдение комплектности товара и ассортимента;')
              +decs-item-circle ('Количество продукции Plex не соответствует заявленному Поставщиком (в контракте) или в товаросопроводительных документах;')
              +decs-item-circle ('Несоответствие упаковки или неправильная маркировка стали причиной порчи продукции;')
              +decs-item-circle ('В течение десяти дней Ваша рекламация (претензия) будет рассмотрена.')
            p.p Производитель оставляет за собой право отказать в урегулировании рекламации на основании решения комиссии по качеству.
        .col-lg-3.offset-lg-1
          block lk-block-right
      .row
        .col-lg-5
          .info-block
            h3.h3.h3__mb Заполните форму
            +input__wrap({
              type: 'text',
              placeholder: 'Фамилия'
            })
            +input__wrap({
              type: 'text',
              placeholder: 'Имя'
            })
            +input__wrap({
              type: 'text',
              placeholder: 'Отчество'
            })
            +input__wrap({
              type: 'text',
              placeholder: 'Введите номер заказа'
            })
            +input__wrap({
              type: 'text',
              placeholder: 'Веедите номер банковкой карты'
            })
            +input__wrap({
              type: 'text',
              placeholder: 'Введите сумму (с точностью до копеек)'
            })
            .input__wrap
              textarea(type='text' placeholder='Укажите причину возврата').textarea
            +input__wrap({
              type: 'email',
              placeholder: 'Email'
            })
            +input__wrap({
              type: 'tel',
              placeholder: 'Телефон'
            })

            a(href="javascript:void(0);").button-blue Отправить заявку
            .agreement-text Нажимая кнопку «Отправить заявку», я даю согласие на обработку своих персональных данных в соответствии с <a href="#">Политикой конфиденциальности</a>

  +email__block
