extends ../templates/template.pug
block content
  +breadcrumb
  section
    .container
      h1.title.title__mb Документация
      .row
        .col-lg-9
          ul.nav.nav-tabs.transparent__tabs
            block transparent-tabs
          .tab-content.transparent__tab-content
            #docs.tab-pane.fade.show.active
              .tabs-docs__wrap
                - for(var i=0; i<8; i++)
                  +docs-block
              +paginator
        .col-lg-3
          block lk-block-right

            
  block email
  
