extends ../templates/template.pug
block content
  .container
    ul.breadcrumb__list
      li.breadcrumb__item
        a(href="javascript:void(0);").back-link К списку заказов

  section.section.lk-order-detail
    .container
      h1.title.title__mb Подробная информация о заказе
      .row
        .col-lg-9
          .order-complete
            .history-orders__wrap
              .history-orders__item
                .history-orders__item-left
                  .history-orders__title Заказ 18 от 14.08.2020
                  .text-small-gray 1 товар на сумму 180 руб.
                .history-orders__item-right
                  .history-orders__status Выполнен 08.05.2020

          .block-wrap
            .order-detail__info-block
              .lk__info-title Информация о заказе
              .order-detail__info-wrap
                .row
                  .col-lg-4
                    +order-detail-item('ФИО','Константинопольский')
                  .col-lg-5
                    +order-detail-item('Текущий заказ, от 14.08.2020','Выполнен')
                  .col-lg-3
                    +order-detail-item('Сумма','3200 ₽')
            .order-detail__info-block
              .lk__info-title Параметры оплаты
              .order-detail__info-wrap
                .row
                  .col-lg-5
                    +order-detail-item('Счет 23/1 от 14.08.2020, Сбербанк','Сумма к оплате по счету: 3200 ₽')
            .order-detail__info-block
              .lk__info-title Содержимое заказа
              +order-item-step({
                name: 'Средство для очистки колесных дисков слово «Disk», 5 л',
                quantity: '1 шт',
                top_cost: '3200 ₽'
              })
              +order-item-step({
                name: 'Средство для очистки колесных дисков слово «Disk», 5 л',
                quantity: '1 шт',
                top_cost: '1260 ₽'
              })
            .order-step__bottom.justify-content-lg-end
              a(href="javascript:void(0);").button-blue Повторить  

              
        .col-lg-3
          block lk-block-right
  
  block email
