extends ../templates/template.pug
block content
  +breadcrumb
  section.section
    .container
      h1.title.title__mb История заказов
      .row
        .col-lg-9
          +orders-list

        .col-lg-3
          block lk-block-right
