section
  .container.mb-lg-5
    h2.subtitle.subtitle__mb Вы недавно смотрели
    .slider__wrap.slider__wrap_products
      .container-arrows
      .slider-products
        - for(var i=0; i<5; i++)
          .product__item-wrap
            +product__item
